<form method="post" action="{{ path('board_meal_edit', { context: context, contextPk: contextPk, slug: meal.slug }) }}" novalidation novalidate class="ajax-form watch" data-callback="#mealList">
    <div class="drawer-scroll">
        {% if context == 'client' %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-warning icon-left"></i>Les modifications s'appliqueront sur tous vos restaurants.</p>
        </div>
        {% elseif meal.parent %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-lock icon-left"></i>Cette formule provient de votre enseigne, les options d'édition peuvent être limitées.</p>
        </div>
        {% endif %}

        {% if form.name is defined %}
        <div class="row">
            <div class="col-md-3">
                {% if meal.id %}
                    <div class="img-uploader">
                        <img src="{{ meal.cover }}" id="galleryCover">
                        <a class="btn btn-primary btn-block btn-sm ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_gallery_get', { context: context, contextPk: contextPk, entityType: 'meal', entityId: meal.id }) }}">Modifier</a>
                    </div>
                {% else %}
                    <img src="{{ asset('files/blank.png') | imagine_filter('square_180') }}" id="galleryCover">
                    <a class="btn btn-primary btn-block btn-sm saveForm" href="#">Modifier</a>
                {% endif %}
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description, { attr: { class: 'form-control', rows: 2 } }) }}
                </div>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="input-grid">
            <div class="input-group input-lg">
                <span class="col-xs-6">
                    Type:
                </span>
                <span class="col-xs-3" style="text-align:right;">
                    Prix:
                </span>
                <span class="col-xs-3" style="text-align:right;">
                    TVA:
                </span>
            </div>
            <div class="input-group input-lg">
                <span class="input-group-addon">A emporter</span>
                {{ form_widget(form.price, { attr: { class: 'form-control input-right input-select input-group-addon',style:"padding-bottom:0px;" } }) }}
                <span class="input-group-addon">€</span>
                {% if form.tax is defined %}
                    <span class="input-group-addon">
                        {{ form_widget(form.tax, { attr: { class: 'select2' } }) }}
                    </span>
                {% endif %}
            </div>
            {% if form.deliveryPrice is defined %}
            <div class="input-group input-lg">
                <span class="input-group-addon">En livraison</span>
                {{ form_widget(form.deliveryPrice, { attr: { class: 'form-control input-right input-select input-group-addon',style:"padding-bottom:0px;" } }) }}
                <span class="input-group-addon">€</span>
                {% if form.taxDelivery is defined %}
                    <span class="input-group-addon">
                        {{ form_widget(form.taxDelivery, { attr: { class: 'select2' } }) }}
                    </span>
                {% endif %}
            </div>
            {% endif %}
            {% if form.priceOnSite is defined %}
            <div class="input-group input-lg">
                <span class="input-group-addon">Sur place</span>
                {{ form_widget(form.priceOnSite, { attr: { class: 'form-control input-right input-select input-group-addon',style:"padding-bottom:0px;" } }) }}
                <span class="input-group-addon">€</span>
                {% if form.taxOnSite is defined %}
                    <div class="input-group-addon">
                        {{ form_widget(form.taxOnSite, { attr: { class: 'select2' } }) }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {{ form_errors(form.price) }}
        {% if form.deliveryPrice is defined %}
            {{ form_errors(form.deliveryPrice) }}
        {% endif %}
        {% if form.priceOnSite is defined %}
            {{ form_errors(form.priceOnSite) }}
        {% endif %}
        <br>
        {% if form.restaurantMenus is defined %}
            <div class="">
                {{  form_row(form.restaurantMenus, { attr: { class: 'icheck inline' } })}}
            </div>
        {% endif %}

        <hr>

        <div class="row">
            {% if form.isOnline is defined %}
            <div class="col-md-6">
                <div class="big-label">
                    {{ form_row(form.isOnline, { attr: { class: 'icheck' } }) }}
                </div>
            </div>
            {% endif %}

            {% if form.tax is defined %}
            <div class="col-md-6">
                {{ form_widget(form.tax, { attr: { class: 'select2' } }) }}
                {{ form_errors(form.tax) }}
            </div>
            {% endif %}
        </div>

        {% if form.slots|length > 0 %}
        <hr>
        <h3>Etapes</h3>
        <ul class="list-group sortable">
        {% for slotForm in form.slots %}
            {% set slot = slotForm.vars.data %}
            <li class="list-group-item slot">
                <span class="handle pull-right"><i class="fa fa-reorder"></i></span>
                {{ slot.name }}<br>
                <small class="text-muted">
                {# for choice in slot.choices %}
                    {{ choice.value }}{% if choice.price > 0 %} (+{{ choice.price }}€){% endif %}{% if not loop.last %}, {% endif %}
                {% endfor #}
                </small>
                {{ form_widget(slotForm.position, { attr: { class: 'slot-position' } }) }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}


        {% if meal.id and not meal.parent %}
        <br><br>
        <a class="btn btn-sm btn-primary btn-block ladda-button btn-form-watch" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_meal_slots', { context: context, contextPk: contextPk, slug: meal.slug }) }}">Ajouter une étape</a>
        {% endif %}

        {% if form.forcePrice is defined %}
        <hr>
        <div class="form-group">
            {{ form_row(form.forcePrice, { attr: { class: 'icheck' } }) }}
        </div>
        {% endif %}
        {% if meal.id and not meal.parent %}
                <br><br>
                <a class="btn btn-sm btn-primary btn-block ladda-button btn-form-watch" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_product_options', { context: context, contextPk: contextPk, slug: meal.slug }) }}">Ajouter/supprimer une option</a>
                {% if context == 'client' %}
                    {% if associatedRestaurants is defined and associatedRestaurants|length > 0 %}
                        <br><br>
                        <b>Liste des Restaurants associés:</b>
                        <div id="choice-fields-list" class="input-list sortable">
                            {% for associatedRestaurant in associatedRestaurants %}
                                {% if loop.index==1 %}

                                    <br>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <b>Nom du restaurant</b>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Prix du produit</b>
                                        </div>
                                    </div>
                            <div class="well" style="overflow-y: scroll;height: 250px;">
                                {% endif %}
                                <div class="row input-row choice-field">
                                    <div class="col-md-8">
                                        {{ associatedRestaurant.name }} - {{ associatedRestaurant.address.street }} {{ associatedRestaurant.address.city }}
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control input-right price-input" type="text"
                                        name="price-{{ associatedRestaurant.slug }}" value="{% if associatedMealsData[associatedRestaurant.slug] is defined %}{{ associatedMealsData[associatedRestaurant.slug].price|number_format(2,'.',',') }}{% else %}{{ meal.price|number_format(2,'.','.') }}{% endif %}">
                                    </div>
                                    <div class="col-md-1">
                                        €
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                            <div class="big-label">
                                <label>Synchroniser les prix des restaurants avec celui de votre enseigne
                                <i id="sync-price-meal" class="fa fa-refresh"
                                style="color: #00a2c6;font-size: 25px;right: 30px;position: absolute;"></i>
                                </label>
                            </div>
                    {% else %}
                        <p>Il n'y a pas encore de produits proposés dans cette vente additionnelle au niveau de votre enseigne.</p>
                    {% endif %}
                </br></br>
                <a class="btn btn-sm btn-primary btn-block ladda-button btn-form-watch" data-style="expand-right" href="{{ path('board_meal_assign_restaurant', { context: context, contextPk: contextPk, slug: meal.slug }) }}" data-target="ajaxModal" >Ajouter/supprimer des restaurants associés</a>
                {% endif %}
                {% endif %}
        <div style="display:none;">
            {{ form_rest(form) }}
        </div>
    </div>
    
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: meal.id and not meal.parent ? path('board_meal_delete', { context: context, contextPk: contextPk, slug: meal.slug }) : null } %}
</form>

<script type="text/javascript">
$('.sortable').sortable({
    handle: '.handle',
    items: '.slot',
    cursor: 'move',
    helper: function(event, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    },
    update: function(event, ui) {
        $('.slot').each(function() {
            $(this).find('.slot-position').val($(this).index() + 1);
        });
    }
});

$('.input-select').on('click', function () {
   $(this).select();
});
</script>
