{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% form_theme form _self %}

{% block _board_meal_slot_categories_productCategories_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
    <ul class="list list-group list-group-checkbox">
    {% for id, child in form %}
        {% set entity = form.vars.choices[id].data %}
        <li class="list-group-item clearfix">
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <span class="name">{{ child.vars.label|trans({}, translation_domain) }}</span>
            <div class="checkbox pull-right">
                {{ form_widget(child, {'attr': {'class': 'icheck ' ~ attr.widget_class|default('')}}) }}
            </div>
        </label>
        </li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock _board_meal_slot_categories_productCategories_widget %}

{% block title %}{{ slot.name }}{% endblock %}

{% block body %}
{% if form.productCategories|length > 0 %}
<form method="post" action="{{ path('board_meal_slot_categories', { context: context, contextPk: contextPk, slug: slot.slug }) }}">
    {{ form_widget(form.productCategories) }}
    {{ form_errors(form.productCategories) }}
    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% else %}
    <p>Vous n'avez pas encore de catégorie.</p>
    <a href="{{ path('board_product_category_library', { context: context, contextPk: contextPk }) }}" class="btn btn-primary">Créer ma première catégorie</a>
{% endif %}
{% endblock %}