{% extends 'ClabMultisiteBundle:Mail:base.html.twig' %}

{% block title %}
Réinitialisation de mot de passe {{ restaurant.name }}
{% endblock %}

{% block body %}
<p>
Bonjour {{ user.fullName }},<br/>
<br/>
Pour réinitialiser votre mot de passe {{ restaurant.name }}, cliquez sur ce lien: <a href="{{ url }}">{{ url }}</a><br/>
<br/>
A bientôt.
</p>
{% endblock %}