{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% import 'ClabLocationBundle:Macro:googleSearch.html.twig' as googleSearch  %}

{% block nav %}{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
<div class="container-fluid padding-v-10" id="user">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well text-center">
                <br>
                <img src="{{ asset('front/bundle/board/img/logo-dark.png') }}" id="logo">
                <br><br><br>

                <p class="lead">Pour créer votre profil myClickeat, <br>commencez par renseigner l'adresse de votre restaurant</p>
                <p><a href="{{ path('clab_board_login') }}">Déjà inscrit ? Se connecter à MyClickeat <i class="fa fa-arrow-circle-right icon-right"></i></a></p>

                <hr>

                <form action="{{ path('board_onboard_join_address') }}" method="post" class="text-left" novalidate
                      id="form-address">

                    {% set hideFields = incomplete is defined and incomplete ? false : true %}
                    {{ googleSearch.form(form, 'Adresse du restaurant', hideFields) }}

                    {{ form_rest(form) }}

                    <br>
                    <button type="submit" class="btn btn-primary btn-block btn-lg" name="_submit">Continuer<i class="fa fa-arrow-circle-right icon-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ googleSearch.script() }}

<script type="text/javascript">
    {% if zip is not null and street is not null and city is not null %}
    $('#location_address_street').val('{{ street }}');
    $('#location_address_zip').val('{{ zip }}');
    $('#location_address_city').val('{{ city }}');
    $('#form-address').submit();
    {% endif %}
    $('form').on('submit', function(e) {
        $(this).find('button[type="submit"]').addClass('disabled');
    });
</script>
{% endblock %}
