{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block nav %}{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
<div class="container-fluid padding-v-10" id="user">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well text-center">
                <br>
                <img src="{{ asset('front/bundle/board/img/logo-dark.png') }}" id="logo">
                <br><br><br>

                <p class="lead">Veuillez saisir le nom du foodtruck</p>
                <p><a href="{{ path('clab_board_login') }}">Déjà inscrit ? Se connecter à l'espace pro <i class="fa fa-arrow-circle-right icon-right"></i></a></p>

                <hr>

                <form action="{{ path('board_onboard_join_foodtruck') }}" method="post" class="text-left">

                    <div class="form-group">
                        {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
                    </div>

                    {{ form_rest(form) }}

                    <br>
                    <button type="submit" class="btn btn-primary btn-block btn-lg" name="_submit">Continuer<i class="fa fa-arrow-circle-right icon-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $('form').on('submit', function(e) {
        $(this).find('button[type="submit"]').addClass('disabled');
    });
</script>
{% endblock %}
