<div class="cart-complete" id="cart">
    <div class="cart-complete-white">
        {% if noInteraction is not defined %}
        <div class="header">
            <h5><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                <span class="loader"><i class="fa fa-spin fa-spinner"></i></span></h5>

        </div>
        {% endif %}
        {% if cart is defined %}
            {% if cart.elements|length == 0 %}
                <div class="empty-cart"><center>Votre panier est vide.</center></div>
            {% else %}
                <div class="cart-inner content cart-scrolling">
                    <div class="products-wrapper">
                        {% for element in cart.elements %}
                            {% if element.additionalSaleProduct is null %}
                                <div price="{{ element.price }}" class="cart-product cart-element">

                          <span class="pull-right" style="margin-top: -0.3em;">
                              <span class="price"
                                    style="font-weight: bold;">
                                 {% set supplement=0 %}

                                  {% if element.childrens|length > 0 %}
                                      {% for children in element.childrens %}
                                          {% set supplement = (supplement + (children.price * children.quantity * element.quantity)) %}
                                      {% endfor %}
                                  {% endif %}

                                  {% if element.addSaleProductCartElements|length >0 %}
                                      {% for addSale in element.addSaleProductCartElements %}
                                          {% set supplement=supplement+addSale.price %}
                                      {% endfor %}
                                      {{ ((element.price*element.quantity)+supplement)|number_format(2,'.',',') }}&nbsp;&euro;
                                  {% else %}
                                      {{ (element.price*element.quantity +supplement)|number_format(2,'.',',') }}&nbsp;&euro;
                                  {% endif %}
                              </span>
                              {% if noInteraction is not defined %}
                                  {% if element.quantity<2 %}
                                      <button class="btn btn-link remove-product" url="{{ path('clab_call_center_cart_element_remove', { 'elementHash': element.hash , slug: restaurant.slug}) }}">x</button>
                                  {% else %}
                                      {% if element.meal is not null %}
                                          <button class="btn btn-link remove-product" url="{{ path('clab_call_center_cart_meal_remove', { 'slug': element.proxy.slug }) }}">x</button>
                                      {% else %}
                                          <button class="btn btn-link remove-product" url="{{ path('clab_call_center_cart_product_remove', { slug: element.proxy.slug }) }}">x</button>
                                      {% endif %}
                                  {% endif %}
                              {% endif %}
                          </span>


                          <span>
                               <span class="count" style="font-weight: bold;">{{ element.quantity }}
                                   x</span> {{ element.proxy.name }}
                              <ul class="product-children">
                                  {% for choice in element.choices %}
                                      <li style="list-style-type:none;">{{ choice.value }}</li>
                                  {% endfor %}
                              </ul>
                          </span>
                                    {% if noInteraction is not defined %}
                                        <span class="cart-tooltip tooltip left in">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner">
                                <button url="{{ path('clab_call_center_cart_update_quantity', { slug: restaurant.slug, hash: element.hash, add: true }) }}"
                                        class="btn btn-link range-handeler">+
                                </button>
                                <hr style="margin-top: 0px;margin-bottom: 0px;" />
                                <button url="{{ path('clab_call_center_cart_update_quantity', { slug: restaurant.slug, hash: element.hash, add: false }) }}"
                                        class="btn btn-link range-handeler">-
                                </button>
                            </div>
                          </span>
                                    {% endif %}
                                    {% if element.childrens|length > 0 %}
                                        <ul class="product-children">
                                            {% for children in element.childrens %}
                                                <li style="list-style-type: none;">
                                  <span>
                                      <small>
                                          {{ (children.proxy.name == 'Non merci') ? '' : '- ' ~ children.proxy.name }}
                                      </small>
                                      <ul class="children-subproducts">
                                          {% for choice in children.choices %}
                                              <li style="list-style-type: none;">
                                                  <small>{{ choice.value }}</small>
                                              </li>
                                          {% endfor %}
                                      </ul>
                                  </span>
                                                </li>

                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if element.addSaleProductCartElements|length >0 %}
                                        {% for addSale in element.addSaleProductCartElements %}

                                            <span>
                                              <small>
                                                  - {{ addSale.product.name }}
                                              </small>
                                              <ul class="children-subproducts">
                                                  {% for choice in addSale.choices %}
                                                      <li><small>{{ choice.value }}</small></li>
                                                  {% endfor %}
                                              </ul>
                                          </span>

                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if not loop.last %}
                                    <div class="cart-product-bottom"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="cart-footer">
                        {% if cart.loyalties|length >0 %}
                            <p class="margin-top">Primes fidélité</p>
                            <ul >
                            {% for loyalty in cart.loyalties %}
                                - {{ loyalty.value }} &euro;</br>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% if cart.coupon is not null %}
                            <div class="coupons-section">
                                    <span><a id="coupon-remove"
                                             href="{{ path('clab_call_center_cart_coupon_remove', { slug: restaurant.slug}) }}"
                                             class="ajaxAction"><i class="fa fa-times"></i></a></span>
                                <span>{{ cart.coupon.name }}</span>
                                <span class="pull-right price">{{ cart.coupon.verbose }}</span>
                            </div>
                        {% endif %}
                        {% if cart.discount is not null and cart.totalPrice > 0 %}
                            <div class="offer-section">
                                <span><img src="{{ asset('images/icon-pricetag.png') }}" alt="icon"></span>
                        <span class="offer-text">{{ cart.discount.description }} <i class="fa fa-info-circle icon-right"
                                                                                    data-toggle="tooltip"
                                                                                    title="L'offre la plus bénéfique a été automatiquement appliquée à votre panier"></i>
                        </span>
                                    <span class="pull-right price">-{{ cart.discountAmount|number_format(2) }}
                                        &nbsp;&euro;</span>
                            </div>
                        {% endif %}
                        <p class="total clearfix">
                            TOTAL <span class="price">{{ cart.totalPrice|number_format(2) }}&nbsp;&euro;</span>
                        </p>
                        {% if area is defined and area is not null %}
                            <h6>Dont {{ area.price }}&euro; de frais de livraison</h6>
                        {% endif %}
                        {% if noInteraction is not defined %}
                            <a class="btn btn-default btn-lg btn-block"
                               id="buttonCartValidation"
                               href="{{ path('clab_call_center_recap') }}">
                                Commander
                            </a>
                            <br>
                            <div class="row">
                                <a href="#clearCartModal"
                                   class="pull-right margin-bottom col-xs-6 col-xs-offset-6"
                                   data-toggle="modal"
                                   data-target="#clearCartModal">
                                    <i class="fa fa-trash"></i> Vider le panier
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div><!-- cart-inner -->
            {% endif %}
        {% endif %}
    </div>
</div>
