{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block nav %}{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
<div class="container-fluid padding-v-10" id="user">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well text-center">
                <br>
                <div id="svg-logo">
                    <svg
                            id="svg3093"
                            viewBox="0 0 250 250"
                            preserveAspectRatio="xMinYMin meet">
                        <path
                                style="fill:#D8003C;fill-opacity:1;stroke:#D8003C;stroke-width:0.50000001;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                                d="M 235.03125,153.46875 187,105.40625 c -0.96747,2.90887 -1.76104,5.83107 -2.3125,8.8125 -0.55146,2.98143 -0.8601,6.05089 -0.9375,9.25 -0.0774,3.19911 0.0765,6.53184 0.53125,10.09375 0.45471,3.56191 1.20513,7.33641 2.25,11.40625 -1.21902,-0.0806 -2.38196,-0.25491 -3.5,-0.5 -1.11804,-0.24509 -2.19081,-0.55919 -3.21875,-0.96875 -1.02794,-0.40956 -2.02002,-0.89472 -2.96875,-1.46875 -0.94873,-0.57403 -1.8696,-1.23025 -2.75,-1.96875 -1.7608,-1.47701 -3.38471,-3.30261 -4.9375,-5.4375 -1.55279,-2.13489 -3.03689,-4.58223 -4.46875,-7.375 l -26.15625,48.53125 -23.17248,17.4187 41.76623,39.92505 c 38.12506,-11.09908 67.84374,-41.42654 77.90625,-79.65625 z"
                                id="path4160" />
                        <path
                                style="fill:#ff0047;fill-opacity:1;stroke:#ff0047;stroke-width:0.30000001;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                                d="M 125,12.25 C 62.130461,12.25 11.15625,62.734975 11.15625,125 c 0,62.26503 50.974211,112.75 113.84375,112.75 11.16845,0 21.92684,-1.65608 32.125,-4.625 L 115.80438,193.69735 138.53125,175.78125 164.6875,127.25 c 1.43186,2.79277 2.91596,5.24011 4.46875,7.375 1.55279,2.13489 3.1767,3.96049 4.9375,5.4375 0.8804,0.7385 1.80127,1.39472 2.75,1.96875 0.94873,0.57403 1.94081,1.05919 2.96875,1.46875 1.02794,0.40956 2.10071,0.72366 3.21875,0.96875 1.11804,0.24509 2.28098,0.41938 3.5,0.5 -1.04487,-4.06984 -1.79529,-7.84434 -2.25,-11.40625 -0.45471,-3.56191 -0.60865,-6.89464 -0.53125,-10.09375 0.0774,-3.19911 0.38604,-6.26857 0.9375,-9.25 0.55146,-2.98143 1.34503,-5.90363 2.3125,-8.8125 l 48.03125,48.0625 c 2.39767,-9.10929 3.8125,-18.61574 3.8125,-28.46875 C 238.84375,62.734975 187.86954,12.25 125,12.25 z"
                                id="path3107" />
                        <path
                                style="fill:#D8003C;stroke:#D8003C;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
                                d="m 127.40806,59.763573 48.27057,48.270577 -11.27408,13.24431 z"
                                id="path4162" />
                        <path
                                style="fill:#fff;fill-opacity:1;stroke:#fff;stroke-width=0.3px;"
                                d="M 118.5 55.71875 C 113.78252 55.933688 108.16505 70.006891 104.65625 87.90625 C 101.64268 88.994344 98.767868 90.424167 96.09375 92.09375 C 82.083243 100.84119 73.124999 116.38822 73.125 126.53125 C 73.238753 139.17838 83.939725 151.99184 93.125 157.65625 C 97.34582 160.25916 101.76625 161.91226 105.9375 162.78125 C 108.38703 175.64449 113.29232 197.07989 119.8125 195.5 C 122.29482 194.53747 150.90975 172.93628 163.40625 131.71875 C 163.57427 131.30323 163.69953 130.97269 163.8125 130.65625 C 171.52717 145.81578 183.51042 147.20717 185.84375 145.78125 C 188.50653 144.24726 185.76111 134.68769 185.625 125.4375 C 185.5255 114.30803 189.06282 106.83119 186.71875 105.53125 C 177.18987 103.35555 169.59267 111.48846 164.53125 118.96875 C 151.75131 83.653278 129.34229 57.681367 118.875 55.71875 C 118.74923 55.704238 118.62716 55.712956 118.5 55.71875 z M 119.5625 62.125 C 123.47078 61.738313 137.6963 77.975261 149.3125 98.5 C 135.05147 86.383296 121.32692 83.829556 109.5625 86.46875 C 112.1654 77.977974 115.33269 70.177569 119.3125 62.15625 C 119.38889 62.131166 119.47577 62.133581 119.5625 62.125 z M 117.625 91.40625 C 134.38297 91.209927 152.70656 101.58003 161 124.71875 C 160.82004 125.03155 160.6039 125.39441 160.4375 125.6875 C 152.8795 139.99169 148.52354 153.54445 119.96875 163.09375 C 131.52716 164.38402 140.72068 160.026 147.65625 154.03125 L 147.125 154.78125 C 141.65215 165.32562 125.53552 187.13449 119.84375 188.375 C 117.65104 189.38435 112.65869 172.18645 108.59375 163.25 C 112.47142 163.74972 116.04339 163.52504 118.875 162.65625 C 106.01379 159.91982 96.995259 153.99605 90.34375 147.59375 C 81.799763 139.36988 79.1891 131.74162 79.25 126.3125 C 80.113988 116.02555 87.273033 106.18468 94.09375 100.34375 C 97.002456 97.852876 100.16158 95.891183 103.5 94.4375 C 101.78616 105.25185 100.89168 116.93852 101.4375 127.59375 C 103.13102 113.96495 105.13375 102.85922 107.75 92.90625 C 110.96179 91.960455 114.27752 91.445465 117.625 91.40625 z M 180.5625 110.25 C 181.06177 110.22848 181.28996 110.51705 181.125 111.15625 C 179.53474 122.34384 181.12046 137.18604 181.28125 139.78125 C 181.42088 141.80991 169.88425 134.46815 166.25 124.375 C 170.52895 116.55986 178.33211 110.34616 180.5625 110.25 z "
                                id="path3879" />
                    </svg>

                </div>
                <form action="{{ path("fos_user_security_check") }}" method="post" class="text-left" style="padding-top: 100px;">

                    {% if error %}
                      <p class="text-error">{{ error.message|trans({}, 'FOSUserBundle') }}</p>
                    {% endif %}

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" class="form-control input-lg"/>
                    </div>

                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control input-lg"/>
                    </div>

                    <br>
                    <div class="checkbox text-center">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="icheck"/>
                        <label for="remember_me">Enregistrer mes identifiants</label>
                    </div>


                    <input type="hidden" name="_target_path" value="{{ path('clab_call_center_homepage') }}" />


                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <br>
                    <button type="submit" id="_submit" class="btn btn-primary btn-block btn-lg" name="_submit">Se connecter<i class="fa fa-arrow-circle-right icon-right"></i></button>
                    <br><br>
                    <p class="text-center"><small><a href="{{ path('fos_user_resetting_request', { backUrl: url('clab_call_login') }) }}">Mot de passe perdu ?</a></small></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
