<div class="meal-compose">
    <div class="hold-wrapper">
        <button url="{{ path('clab_call_center_order',{ 'slug' : restaurant.slug}) }}" class="quit pull-right cancel">
            Quitter
        </button>
        <h2 class="type-header">

          {{ meal['meal'].name }}
        </h2>

        <div id="meal-nav">

            {% set currentOk = false %}
            <div class="pearls pearls-xs row">
                {% for key, mealChoice in meal.slots %}

                    <div class="pearl {% if mealChoice.slot.id == slot.id %}current{% set currentOk = true %}{% elseif not
                    currentOk %}done{% endif %}
                    {% if meal.slots|length==1 %} col-xs-12
                    {% elseif meal.slots|length==2 %} col-xs-6
                    {% elseif meal.slots|length==3 %} col-xs-4
                    {% elseif meal.slots|length==4 %} col-xs-3
                    {% elseif meal.slots|length>=5 %} col-xs-2
                    {% endif %}">
                        <span class="pearl-number" style="margin-bottom: 2%;"></span>
                        <span class="pearl-title">  <a  style="color:#777;" url="{{ path('clab_call_center_meal_compose', { token: token,slot:mealChoice.slot.id }) }}"> {{ mealChoice.slot.name }} </a></span>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="row">
        {% for choice in productChoices %}
        {% set product = choice.product %}
        {% set category = choice.product.category %}

<div class="col-xs-6 col-md-4">
                <div class="product element-item-inner product item search-item" data-category="{{ category.id }}" filter="{{ product.name }}">
                    <h4 class="item-name">{{ product.name }}</h4>
                        {% if options[product.id] is defined %}
                            {{ render(controller('ClabCallCenterBundle:Cart:productOptionForm', { 'slug': product.slug,
                                slot:slot.id, token: token })) }}
                            <div class="element-item transition " data-category="post-transition"  url="{{ path('clab_call_center_meal_compose', { token: token, slot: slot.id, choice: product.id }) }}">
                                <a href="#modalOption-{{ product.id }}"
                                   data-toggle="modal"
                                   data-target="#modalOption-{{ product.id }}"
                                   class="add-list btn btn-primary btn-radius col-xs-12">Ajouter
                                    {% for slot in meal.slots %}
                                        {% for key, value in slot.slot.customPrices %}
                                            {% if key == product.id %}
                                                (+{{ value }}&nbsp;&euro;)
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </a>
                            </div>

                        {% else %}
                            <div class="{{ category.type }} element-item" url="{{ path('clab_call_center_meal_compose', {
                                token: token, slot: slot.id, choice: product.id }) }}">
                                <button class="add-list btn btn-primary btn-radius {{ category.type }} col-xs-12">
                                    Ajouter
                                    {% for slot in meal.slots %}
                                        {% for key, value in slot.slot.customPrices %}

                                            {% if key == product.id %}
                                                (+{{ value }}&nbsp;&euro;)
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </button>
                            </div>
                        {% endif %}
                </div>
                </div>
        {% endfor %}
    </div>

<script>

    $('.product-info').click(function () {
        var modalId = '#product-modal'+$(this).attr('idprod');
        $(modalId).modal('toggle');
    });

    $('.catalog-categories').fadeOut(500);
    $('button.quit.pull-right.cancel').click(function(){
        $('.catalog-categories').fadeIn(500);
    });
    $('.option_group :checkbox').change(function () {
        var count_checked = $(this).closest('.option_group').find(':checkbox:checked').length;

        if ($(this).attr('max') && count_checked >= $(this).attr('max')) {
            $(this).closest('.option_group').find(':checkbox:not(:checked)').attr('disabled', true);
            $(this).closest('.option_group').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                    '#dadada');
        } else {
            $(this).closest('.option_group').find(':checkbox').removeAttr('disabled');
            $(this).closest('.option_group').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                    '#333333');
        }

        if (count_checked < $(this).attr('min')) {
            $(this).closest('.option_group').parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
            $(this).closest('.option_group').parent().find('h4').css('color', "#c8584b");
        } else {
            $(this).closest('.option_group').parent().find('.errors_option').slideUp('slow').html('');
            $(this).closest('.option_group').parent().find('h4').css('color', "#333333");
        }
    });

    $('.submit_option').click(function (e) {


        var $check_box_groups = $(this).parent().parent().find('.option_group');
        $check_box_groups.each(function () {

            if ($(this).find('input:required').length > 0) {
                if ($(this).find(':radio:checked').length != 1) {
                    e.preventDefault();
                    $(this).parent().find('.errors_option').html('obligatoire').slideDown('slow');
                    $(this).parent().find('h4').css('color', "#c8584b");
                } else {
                    $(this).parent().find('.errors_option').slideUp('slow').html('');
                    $(this).parent().find('h4').css('color', "#333333");
                }
            } else {
                var count_checked = $(this).find(':checkbox:checked').length;
                var min_checked = $(this).find(':checkbox').eq(0).attr('min');
                if (min_checked > 0 && count_checked < min_checked) {
                    e.preventDefault();
                    $(this).parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
                    $(this).parent().find('h4').css('color', "#c8584b");
                } else {
                    $(this).parent().find('.errors_option').slideUp('slow').html('');
                    $(this).parent().find('h4').css('color', "#333333");
                }
            }
        });
    });

    $('.modal').on('hidden.bs.modal', function () {
        $(this).find('.errors_option').slideUp('slow').html('');
        $(this).find('h4').css('color', "#333333");

        $(this).find(':radio:checked').prop('checked',
                false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

        $(this).find(':checkbox:checked').prop('checked',
                false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

    });

    $('input[hasOption="true"]').click(function(){

        var $self = $(this);
        var slug = $(this).attr("slug"),
                addSaleSlug = $(this).attr("addSaleSlug");
        if(this.checked){
            $('[class^="add-sale-options-"]').hide();

            $('[class^="add-sale-options-"]').find('.errors_option').slideUp('slow').html('');
            $('[class^="add-sale-options-"]').find('h4').css('color', "#333333");

            $('[class^="add-sale-options-"]').find(':radio:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

            $('[class^="add-sale-options-"]').find(':checkbox:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

            $('[class^="add-sale-options-"]').find(':checkbox').removeAttr('disabled').parent().next('.option_order_label').css('color','#333333');



            $('.options-form-container .loader').show();
            $("#add_sale_option").html("");

            $('.add-sale-options-'+slug).fadeIn("slow");

            var newAction = '{{ path("clab_cart_add_sale_with_option",{"slug": "ADDSALESLUG" ,"slugProd": 'PLACEHOLDER'}) }}';
            newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
            newAction = newAction.replace("PLACEHOLDER", slug);


        }else{
            var newAction = '{{ path("clab_cart_add_sale",{"slug": "ADDSALESLUG" }) }}';
            newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
            $('[class^="add-sale-options-"]').hide();
        }
        $(this).closest(".formAddSale").attr('action',newAction);
    });

    $('input:radio[hasOption="false"]').click(function(){
        $('[class^="add-sale-options-"]').hide();
        var addSaleSlug = $(this).attr("addSaleSlug"),
                newAction = '{{ path("clab_cart_add_sale",{"slug": "ADDSALESLUG" }) }}';
        newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
        $(this).closest(".formAddSale").attr('action',newAction);
    });

    $(document).ready(function(){
        jcf.replaceAll();
    });

    $(".item-name").click(function(){
        $(this).parent().find('.add-list').click();
    });
</script>
