<div class="modal fade userModal" tabindex="-1" role="dialog" id="user-modal{{ user.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fiche client</h4>
            </div>
            <div class="modal-body text-center">
                <form id="userForm" action="{{ path('clab_call_center_user_info', {userId:user.id}) }}" method="post" {{ form_enctype(form) }}>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label for="{{ form.phone.vars.id }}">Telephone *</label>
                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control phone-user'} }) }}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.is_male.vars.id }}">Sexe</label>
                                {{ form_widget(form.is_male, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.last_name.vars.id }}">Nom *</label>
                                {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-xs-12">
                                <label for="{{ form.first_name.vars.id }}">Prénom *</label>
                                {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-xs-12">
                                <label for="{{ form.company.vars.id }}">Société</label>
                                {{ form_widget(form.company, { 'attr': {"class": 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-md-6 no-padding-left">
                            <div class="col-md-12 no-padding-left">
                                <label for="{{ form.email.vars.id }}">Email</label>
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-xs-12 no-padding-left">
                                <div class="col-xs-12">
                                    <label for="{{ form.birthday.vars.id }}" class="col-xs-8 col-xs-offset-2">{{ form_label(form.birthday) }}</label>
                                </div>
                                <div class="col-xs-3 no-padding">
                                    {{ form_widget(form.birthday.day, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-xs-3 no-padding ">
                                    {{ form_widget(form.birthday.month, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-xs-6 no-padding">
                                    {{ form_widget(form.birthday.year, {'attr': {'class': 'form-control','value':'2000'}}) }}
                                </div>
                                {{ form_errors(form.birthday) }}
                            </div>
                            <div class="form-group col-xs-12 no-padding-left">
                                <label for="{{ form.admin_comment.vars.id }}">Commentaire</label>
                                {{ form_widget(form.admin_comment, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 no-padding-left well" style="background-color: #DDD">
                            <ul class="addresses" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
                                {% for address in form.addresses %}
                                    <li class="col-xs-12 col-md-6 col-md-offset-3">
                                        <div class="col-xs-6 col-md-12 no-padding">
                                            <label for="{{ address.street.vars.id }}">Adresse</label>
                                            {{ form_widget(address.street, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-xs-2 col-md-6 no-padding">
                                            <label for="{{ address.zip.vars.id }}">Code postal</label>
                                            {{ form_widget(address.zip, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-xs-4 col-md-6 no-padding">
                                            <label for="{{ address.city.vars.id }}">Ville</label>
                                            {{ form_widget(address.city, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <label for="{{ address.intercom.vars.id }}">Digicode</label>
                                            {{ form_widget(address.intercom, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <label for="{{ address.floor.vars.id }}">Etage</label>
                                            {{ form_widget(address.floor, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <label for="{{ address.door.vars.id }}">Porte</label>
                                            {{ form_widget(address.door, { 'attr': {'class': 'form-control'} }) }}
                                            <button class="remove_address" class="pull-right btn btn-secondary"><i class="fa fa-times"></i></button>
                                        </div>
                                    </li>
                                    <li></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <br>
                            <p class="text-right"><button type="submit" class="btn btn-primary col-md-6 col-md-offset-3" id="buttonRegister">Valider</button></p>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>
                <div class="row" style="margin-top: 10px;">
                    <button class="col-xs-6 col-xs-offset-3 btn btn-secondary toggle-orders">Dernieres commandes</button>
                    <br><br>
                    <section class="orders" hidden>
                        {% for order in user.orders %}
                            <div class="well col-md-6">
                                <div class="ui-bar ui-bar-a {% if order.onlinePayment %}header-online-payment{% else %}header-direct-payment{% endif %}">
                                    <h3>{{ order.time|date('d-m-Y G:i') }} | {{ order.restaurant.name }}</h3>
                                    {% if order.orderType.id == 3 %}
                                        &nbsp; &nbsp;&nbsp; <i class="fa fa-motorcycle" style="font-size: 18px;"
                                                               data-popover="true"
                                                               data-html=true
                                                               data-content="Commande livraison"></i>
                                    {% elseif order.orderType.id == 1 %}
                                        &nbsp; &nbsp;&nbsp;  <i class="fa fa-shopping-bag" style="font-size: 18px;"
                                                                data-popover="true"
                                                                data-html=true
                                                                data-content="Commande à emporter"></i>
                                    {% else %}
                                        &nbsp; &nbsp;&nbsp; <i class="fa fa-shopping-bag" style="font-size: 18px;"
                                                               data-popover="true"
                                                               data-html=true
                                                               data-content="Commande à emporter"></i>
                                    {% endif %}
                                </div>
                                <div class="ui-body ui-body-a">
                                    <p>
                                        {% for element in order.cart.elements %}
                                            {% if element.parent is null %}
                                                {% if not element.childrens|length > 0 %}
                                                    {{ element.proxy.name }}{{ loop.last or element.choices|length > 0 ? '' : ', ' }}
                                                {% endif %}
                                                {% if element.choices is defined and element.choices|length > 0 %}
                                                    &nbsp;(
                                                    {% for choice in element.choices %}
                                                        <strong>{{ choice.option.name }} : </strong> {{ choice.value }}{{ loop
                                                    .last ? '' : ', ' }}
                                                    {% endfor %}
                                                    ){{ loop.last ? '' : ', ' }}
                                                {% endif %}
                                                {% if element.childrens is defined and element.childrens|length > 0 %}
                                                    {% for children in element.childrens %}
                                                        {{ children.proxy.name }}{{ loop.last or children.choices|length > 0 ? '' : ', ' }}
                                                        {% if children.choices is defined and children.choices|length > 0 %}
                                                            &nbsp;(
                                                            {% for choice in children.choices %}
                                                                <strong>{{ choice.option.name }} : </strong>   {{ choice.value
                                                            }}{{ loop.last ? '' : ', ' }}
                                                            {% endfor %}
                                                            ){{ loop.last ? '' : ', ' }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-primary col-xs-12 col-md-6 col-md-offset-3 add_address_link">Ajouter une adresse</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        $(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.addresses');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            $('.remove_address').click(function(){
                $(this).parent().parent().remove();
            })
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            $("div[id^='clab_call_center_register_addresses']").addClass('col-xs-12 col-md-6 col-md-offset-3 margin-bottom');
            let $inputs = $("input[id^='clab_call_center_register_addresses']:not(.form-control)");

            $inputs.addClass('form-control');

            $inputs.eq(1).parent().addClass('col-md-6');
            $inputs.eq(2).parent().addClass('col-md-6');
            $inputs.eq(3).parent().addClass('col-md-4');
            $inputs.eq(4).parent().addClass('col-md-4');
            $inputs.eq(5).parent().addClass('col-md-4').append('<button class="remove_address" class="pull-right btn btn-secondary"><i class="fa fa-times"></i></button>');

            $('.remove_address').click(function(){
                $(this).parent().parent().remove();
            })
        }


    </script>
</div>