<div class="modal fade productmodal" tabindex="-1" role="dialog" id="meal-modal{{ meal.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:white;">{{ meal.name }}</h4>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <img src="{{ meal.coverSmall }}" alt="{{ meal.name }}" class="col-sm-4 col-sm-offset-4">
                </div>
                <br>
                <p class="upper">{{ meal.description }}</p>
                <div class="meal element-item transition" data-category="transition" url="{% if addLink is defined %}{{ addLink }}{% else %}{{ path
                ('clab_white_meal', { slug: meal.slug }) }}{% endif %}">
                    <button class="add-list btn btn-primary btn-radius add-meal">{{
                        meal.price|number_format(2, '.', ',') }}€</button>
                </div>
            </div>
        </div>
    </div>
</div>
