{% extends 'ClabCallCenterBundle:Default:base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'ClabCallCenterBundle:Default:breadcrumb.html.twig' with { step: 'order' } %}

        <br><br>
        <section class="panel">
            <div class="panel-body">
                <h2>3. Commande en ligne</h2><br>
                <h4>{{ restaurant.name ~ ' - ' ~ restaurant.address }} | {{ cart.orderType == 3 ? 'En livraison' : 'A emporter' }}</h4>
                <hr id="separator">
                <main id="main">
        <div id="small-typenav-anchor">
            <div class="col-xs-12 col-sm-3 col-md-2 hidden-md hidden-lg small-typenav-header-wrapper">
                <div class="navHorizontal">
                    {{ include('ClabCallCenterBundle:Default:typesNav.html.twig') }}
                </div>
            </div>
        </div>

        <div class="container order" style="margin-top: 0px;">
            <div class="content-wrapper row">
                <div class="content default">
                    <div class="col-xs-12 col-sm-5 col-md-8">
                        <div class="row content-holder">
                            <div class="col-xs-3 col-md-4 types-wrapper hidden-xs hidden-sm" id="types-nav-anchor">
                                <div id="types-nav">
                                    {{ include('ClabCallCenterBundle:Default:typesNav.html.twig') }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <section id="catalog" class="container">
                                    <div class="row" id="main">
                                        <div class="col-xs-12 no-padding">
                                            <input type="text" class="form-control search" placeholder="Rechercher...">
                                        </div>
                                        <br>
                                        <div class="list-holder">
                                            <div class="row default">
                                                {% for meal in meals if meal.isOnline == true  %}
                                                    {% include 'ClabCallCenterBundle:Default:modalMeal.html.twig' with { addLink: path('clab_call_center_meal', { slug: meal.slug }) } %}
                                                    <div class="col-xs-6 col-md-4 search-item meal" filter="{{ meal.name }}">
                                                        <div class="product item" data-category="meal" style="border:1px solid #eee;border-radius:4px;margin-top:5px;">
                                                            <div class="info meal-info" idmeal="{{ meal.id }}" data-toggle="tooltip" title="description"><i class="fa fa-info"></i></div>
                                                            <h4 class="item-name" style="font-size:16px;height: 3em;text-align: center">{{ meal.name }}</h4>
                                                            {% if meal.additionalSale is defined and meal.additionalSale is not null and meal.additionalSale.isOnline %}
                                                                {{ render(controller('ClabCallCenterBundle:AdditionalSale:additionalSaleMeal', { 'slug': meal.slug })) }}
                                                            {% endif %}
                                                            <div class="meal element-item transition" data-category="transition" url="{{ path
                                                            ('clab_call_center_meal', { slug: meal.slug }) }}">
                                                                <button class="add-list btn btn-secondary btn-radius add-meal col-xs-12" style="border-radius: 0px 0px 4px 4px;">
                                                                {% if cart.orderType == 3 %}
                                                                    {{ meal.deliveryPrice|number_format(2, '.', ',') }}
                                                                {% else %}
                                                                    {{ meal.price|number_format(2, '.', ',') }}
                                                                {% endif %}€
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {% for product in pdjs %}
                                                    {%  include 'ClabWhiteBundle:Order:modalProduct.html.twig' with { category:product.category ,addLink: path('clab_call_center_cart_add', {slug: product.slug}) } %}
                                                    {% if product.additionalSale is defined and product.additionalSale is not null and product.additionalSale.isOnline %}
                                                        {{ render(controller('ClabCallCenterBundle:AdditionalSale:additionalSaleProduct', { 'slug': product.slug })) }}
                                                    {% endif %}
                                                    <div class="col-xs-6 col-md-4 search-item pdj" filter="{{ product.name }}">
                                                        <div class="product item" data-category="pdj">
                                                            <div class="info product-info" idprod="{{ product.id }}" data-toggle="tooltip" title="description"><i class="fa fa-info"></i></div>
                                                            <h4>{{ product.name }}</h4>
                                                            {% if options[product.id] is defined %}
                                                                {{ render(controller('ClabCallCenterBundle:Cart:productOptionForm', { 'slug': product.slug })) }}
                                                                <a href="#modalOption-{{ product.id }}"
                                                                   data-toggle="modal"
                                                                   data-target="#modalOption-{{ product.id }}"
                                                                   class="btn-opt btn btn-secondary btn-radius col-xs-12">
                                                                    {% if cart.orderType == 3 %}
                                                                        {{ product.deliveryPrice|number_format(2, '.', ',') }}
                                                                    {% else %}
                                                                        {{ product.price|number_format(2, '.', ',') }}
                                                                    {% endif %} €</a>
                                                            {% else %}
                                                                <div class="pdj element-item" url="{{ path('clab_call_center_cart_add', {slug: product.slug}) }}">
                                                                    <button class="add-list btn btn-secondary btn-radius pdj col-xs-12">
                                                                        {% if cart.orderType == 3 %}
                                                                            {{ product.deliveryPrice|number_format(2, '.', ',') }}
                                                                        {% else %}
                                                                            {{ product.price|number_format(2, '.', ',') }}
                                                                        {% endif %}€
                                                                    </button>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {% for type in types %}
                                                    {% for product in products if product.category and product.category.name == type and product.isOnline == true %}
                                                        {%  include 'ClabCallCenterBundle:Default:modalProduct.html.twig' with { addLink: path('clab_call_center_cart_add', {slug: product.slug}) } %}
                                                        {% if product.additionalSale is defined and product.additionalSale is not null and product.additionalSale.isOnline %}
                                                            {{ render(controller('ClabCallCenterBundle:AdditionalSale:additionalSaleProduct', { 'slug': product.slug })) }}
                                                        {% endif %}
                                                        <div class="col-xs-6 col-md-4 search-item {{ type }}" filter="{{ product.name }}">
                                                            <div class="product item" data-category="{{ type }}">
                                                                <div class="info product-info" idprod="{{ product.id }}" data-toggle="tooltip" title="description"><i class="fa fa-info"></i></div>
                                                                <h4 class="item-name">{{ product.name }}</h4>
                                                                {% if options[product.id] is defined %}
                                                                    {{ render(controller('ClabCallCenterBundle:Cart:productOptionForm', { 'slug': product.slug })) }}
                                                                    <a href="#modalOption-{{ product.id }}"
                                                                       data-toggle="modal"
                                                                       data-target="#modalOption-{{ product.id }}"
                                                                       class="push-plateau btn-opt btn btn-secondary btn-radius col-xs-12">
                                                                        {% if cart.orderType == 3 %}
                                                                            {{ product.deliveryPrice|number_format(2, '.', ',') }}
                                                                        {% else %}
                                                                            {{ product.price|number_format(2, '.', ',')}}
                                                                        {% endif %} €</a>
                                                                {% else %}
                                                                    <div class="{{ type }} element-item" url="{{ path('clab_call_center_cart_add', {slug: product.slug}) }}">
                                                                        <button class="add-list btn btn-secondary btn-radius {{ type }} col-xs-12">
                                                                            {% if cart.orderType == 3 %}
                                                                            {{ product.deliveryPrice|number_format(2, '.', ',') }}
                                                                                {% else %}
                                                                            {{ product.price|number_format(2, '.', ',')}}
                                                                            {% endif %}€</button>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="cart-col col-xs-12 col-sm-4">

                        <div class="cart-wrapper" id="cart-anchor" style="margin-top: 5px;">
                            {{ include('ClabCallCenterBundle:Default:cart.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
                </div>
            </section>
        </div>
    <div class="modal fade clearCartModal" tabindex="-1" role="dialog" id="clearCartModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Veuillez confirmer...</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        Etes vous sur de vouloir vider le panier en cours?
                    </div>
                    <div class="row">
                        <button class="confirm btn btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">Annuler</button>
                        <a id="clear-cart" href="{{ path('clab_call_center_cart_clear', {slug: restaurant.slug}) }}">
                            <button class="confirm btn btn-danger btn-lg">Confirmer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/jcf/js/jcf.js') }}"></script>
    <script src="{{ asset('vendors/jcf/js/jcf.radio.js')}}"></script>
    <script src="{{ asset('vendors/jcf/js/jcf.checkbox.js')}}"></script>
    <script src="{{ asset('bundles/clabcallcenter/js/order.js') }}?version=1.0"></script>
    <script>
        $(document).ready(function () {

            jcf.replaceAll();

            $('.search-item').show();
            $('.filter-none').click(function(){
                $('.search-item').show();
            })
            $('input.search').keyup(function(){
                var filter = $(this).val();

                $('.search-item').each(function(){
                    if($(this).attr('filter').toUpperCase().indexOf(filter.toUpperCase()) < 0){
                        $(this).hide();
                    }else{
                        $(this).show();
                    }
                });
            });

            $('#coupon-ok').click(function () {
                var code = $('[name="code"]').val();
                var url = $('#form-add-coupon').attr('action');

                e.preventDefault();
                $.ajax({
                    type:     "POST",
                    url:      url,
                    data:     {code: code},
                    dataType: "json",
                    // weird as shit, goes in error although status 200
                    error:    function (response) {
                        if (response.status !== 200) {
                            swal("Coupon", "Ce coupon n'existe pas", "error");
                        } else {
                            handleResponse(response.responseText);
                        }
                    }
                });

            });

            $('.transition').css("position", "static");
            $("[data-toggle=tooltip]").tooltip();
            var lastId,
                topMenu       = $(".navHorizontal ul.types-nav"),
                topMenuHeight = topMenu.outerHeight() + 15,
                // All list items
                menuItems     = topMenu.find("a"),
                // Anchors corresponding to menu items
                scrollItems   = menuItems.map(function () {
                    var item = $($(this).attr("href"));
                    if (item.length) { return item; }
                });
            menuItems.click(function (e) {
                var href      = $(this).attr("href"),
                    offsetTop = href === "#"? 0: $(href).offset().top - topMenuHeight + 1;
                $('html, body').stop().animate({
                    scrollTop: offsetTop
                }, 300);
                e.preventDefault();
            });

            // Bind to scroll
            $(window).scroll(function () {
                // Get container scroll position
                var fromTop = $(this).scrollTop() + topMenuHeight;

                // Get id of current scroll item
                var cur = scrollItems.map(function () {
                    if ($(this).offset().top < fromTop) {
                        return this;
                    }
                });
                // Get the id of the current element
                cur = cur[cur.length - 1];
                var id = cur && cur.length? cur[0].id: "";

                if (lastId !== id) {
                    lastId = id;
                    // Set/remove active class
                    menuItems
                            .parent().removeClass("active")
                            .end().filter("[href='#" + id + "']").parent().addClass("active");
                }
            });
        });
    </script>
    <script>
        var restaurantId = {{ restaurant.id }};

        function filterCategory(category)
        {
            $('.item').each(function() {
                var item = $(this);
                var parent = item.parent();
                if((category == 'home' && item.hasClass('category')) || item.data('category') == category) {
                    parent.show();
                } else {
                    parent.hide();
                }
            });
        }
        $('a.category-filter').on('click', function(e) {
            e.preventDefault();
            var category = $(this).data('target-category');
            filterCategory(category);
            $('a.category-filter').each(function() {
                if($(this).hasClass('active')) {
                    $(this).removeClass('active');
                }
            });
            $('a.category-filter[data-target-category="'+category+'"]').addClass('active');
        });
        filterCategory('home');
        $('.meal-info').click(function () {
            var modalId = '#meal-modal'+$(this).attr('idmeal');
            $(modalId).modal('toggle');
        });
        $('.product-info').click(function () {
            var modalId = '#product-modal'+$(this).attr('idprod');
            $(modalId).modal('toggle');
        });

        $('.option_group :checkbox').change(function () {
            var count_checked = $(this).closest('.option_group').find(':checkbox:checked').length;

            if ($(this).attr('max') && count_checked >= $(this).attr('max')) {
                $(this).closest('.option_group').find(':checkbox:not(:checked)').attr('disabled', true);
                $(this).closest('.option_group').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                        '#dadada');
            } else {
                $(this).closest('.option_group').find(':checkbox').removeAttr('disabled');
                $(this).closest('.option_group').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                        '#333333');
            }

            if (count_checked < $(this).attr('min')) {
                $(this).closest('.option_group').parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
                $(this).closest('.option_group').parent().find('h4').css('color', "#c8584b");
            } else {
                $(this).closest('.option_group').parent().find('.errors_option').slideUp('slow').html('');
                $(this).closest('.option_group').parent().find('h4').css('color', "#333333");
            }
        });

        $('.submit_option').click(function (e) {


            var $check_box_groups = $(this).parent().parent().find('.option_group');
            $check_box_groups.each(function () {

                if ($(this).find('input:required').length > 0) {
                    if ($(this).find(':radio:checked').length != 1) {
                        e.preventDefault();
                        $(this).parent().find('.errors_option').html('obligatoire').slideDown('slow');
                        $(this).parent().find('h4').css('color', "#c8584b");
                    } else {
                        $(this).parent().find('.errors_option').slideUp('slow').html('');
                        $(this).parent().find('h4').css('color', "#333333");
                    }
                } else {
                    var count_checked = $(this).find(':checkbox:checked').length;
                    var min_checked = $(this).find(':checkbox').eq(0).attr('min');
                    if (min_checked > 0 && count_checked < min_checked) {
                        e.preventDefault();
                        $(this).parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
                        $(this).parent().find('h4').css('color', "#c8584b");
                    } else {
                        $(this).parent().find('.errors_option').slideUp('slow').html('');
                        $(this).parent().find('h4').css('color', "#333333");
                    }
                }
            });
        });

        $('.modal').on('hidden.bs.modal', function () {
            $('body').css('padding-right','0px');
            $(this).find('.errors_option').slideUp('slow').html('');
            $(this).find('h4').css('color', "#333333");

            $(this).find(':radio:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

            $(this).find(':checkbox:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();
        });
        $('.add-list').click(function()
        {
            $('.modal').modal('hide');
        });

        $('[class^="add-sale-options-"]').hide();

        $('.submit_add_sale').click(function(e){
            var slug = $(this).parent().parent().find('input[hasOption="true"]:checked').attr("slug");
            var $check_box_groups = $(this).parent().parent().find('.add-sale-options-'+slug+' .option_group');
            var isValid=true;

            $check_box_groups.each(function () {
                if ($(this).find('input:required').length > 0) {
                    if ($(this).find(':radio:checked').length != 1) {
                        e.preventDefault();
                        isValid=false;
                        $(this).parent().find('.errors_option').html('obligatoire').slideDown('slow');
                        $(this).parent().find('h4').css('color', "#c8584b");
                    } else {
                        $(this).parent().find('.errors_option').slideUp('slow').html('');
                        $(this).parent().find('h4').css('color', "#333333");
                    }
                } else {
                    var count_checked = $(this).find(':checkbox:checked').length;
                    var min_checked = $(this).find(':checkbox').eq(0).attr('min');
                    if (min_checked > 0 && count_checked < min_checked) {
                        e.preventDefault();
                        isValid=false;
                        $(this).parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
                        $(this).parent().find('h4').css('color', "#c8584b");
                    } else {
                        $(this).parent().find('.errors_option').slideUp('slow').html('');
                        $(this).parent().find('h4').css('color', "#333333");
                    }
                }
            });
            if(isValid){
                $('[class^="add-sale-options-"]').hide();
                $('[id^="modalAddSale-"]').modal('hide');
            }
        });

        $('input[hasOption="true"]').click(function(){

            var $self = $(this);
            var slug = $(this).attr("slug"),
                    addSaleSlug = $(this).attr("addSaleSlug");
            if(this.checked){
                $('[class^="add-sale-options-"]').hide();

                $('[class^="add-sale-options-"]').find('.errors_option').slideUp('slow').html('');
                $('[class^="add-sale-options-"]').find('h4').css('color', "#333333");

                $('[class^="add-sale-options-"]').find(':radio:checked').prop('checked',
                        false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

                $('[class^="add-sale-options-"]').find(':checkbox:checked').prop('checked',
                        false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

                $('[class^="add-sale-options-"]').find(':checkbox').removeAttr('disabled').parent().next('.option_order_label').css('color','#333333');



                $('.options-form-container .loader').show();
                $("#add_sale_option").html("");

                $('.add-sale-options-'+slug).fadeIn("slow");

                var newAction = '{{ path("clab_cart_add_sale_with_option",{"slug": "ADDSALESLUG" ,"slugProd": 'PLACEHOLDER'}) }}';
                newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
                newAction = newAction.replace("PLACEHOLDER", slug);


            }else{
                var newAction = '{{ path("clab_cart_add_sale",{"slug": "ADDSALESLUG" }) }}';
                newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
                $('[class^="add-sale-options-"]').hide();
            }
            $(this).closest(".formAddSale").attr('action',newAction);
        });

        $('input:radio[hasOption="false"]').click(function(){
            $('[class^="add-sale-options-"]').hide();
            var addSaleSlug = $(this).attr("addSaleSlug"),
                    newAction = '{{ path("clab_cart_add_sale",{"slug": "ADDSALESLUG" }) }}';
            newAction = newAction.replace("ADDSALESLUG", addSaleSlug);
            $(this).closest(".formAddSale").attr('action',newAction);
        });

        $('[id^="modalAddSale-"]').on('hidden.bs.modal', function () {
            $('[class^="add-sale-options-"]').hide();

            $(this).find('.errors_option').slideUp('slow').html('');
            $(this).find('h4').css('color', "#333333");

            $(this).find(':radio:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

            $(this).find(':checkbox:checked').prop('checked',
                    false).parent().removeClass('jcf-checked').addClass('jcf-unchecked').parent().removeClass();

            $(this).find(':checkbox').removeAttr('disabled').parent().next('.option_order_label').css('color','#333333');

        });

        $('.addSaleChoices :checkbox').change(function () {

            var count_checked = $(this).closest('.addSaleChoices').find(':checkbox:checked').length;
            if ($(this).attr('max') && count_checked >= $(this).attr('max')) {
                $(this).closest('.addSaleChoices').find(':checkbox:not(:checked)').attr('disabled', true);
                $(this).closest('.addSaleChoices').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                        '#dadada');
            } else {
                $(this).closest('.addSaleChoices').find(':checkbox').removeAttr('disabled');
                $(this).closest('.addSaleChoices').find(':checkbox:not(:checked)').parent().next('.option_order_label').css('color',
                        '#333333');
            }

            if (count_checked < $(this).attr('min')) {
                $(this).closest('.addSaleChoices').parent().find('.errors_option').html('nombre de choix incorrect').slideDown('slow');
                $(this).closest('.addSaleChoices').parent().find('h4').css('color', "#c8584b");
            } else {
                $(this).closest('.addSaleChoices').parent().find('.errors_option').slideUp('slow').html('');
                $(this).closest('.addSaleChoices').parent().find('h4').css('color', "#333333");
            }
        });
        $('a.modal-product-option').click(function(){
            $(this).parents('.productmodal').modal('hide');
        })

        $('.item > h4').click(function(){
            if ($(this).parent().find('button').length >0) {
                $(this).parent().find('button').click();
            } else {
                $(this).parent().find('a').click();
            }
        });

        $('#clear-cart').click(function(e){
            e.preventDefault();

            $.post($(this).attr('href'), function(data){
                $('.cart-wrapper').html(data);
            })
            .done(function(data){
                sweetAlert('', 'Le panier a été vidé', 'success');
            })
            .fail(function(){
                sweetAlert('Oops...', 'Une erreur est survenue', 'error');
            })
            .always(function(){
                $('.modal').modal('hide');
            });
        })

        $('#mainView').scroll(function(){
            var offset = $('#separator').offset().top;
            var width =$('.cart-col').width();
            if (offset <= 90) {
                $('#cart-anchor').addClass('fixed').css('width',width);
            }else{
                $('#cart-anchor').removeClass('fixed');
            }
        });

        $(".item-name").click(function(){
            $(this).parent().find('.push-plateau').click();
        });
    </script>
{% endblock %}
