{% extends 'ClabCallCenterBundle:Default:base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/clabcallcenter/css/jquery.timepicker.min.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        {% include 'ClabCallCenterBundle:Default:breadcrumb.html.twig' with { step: 'ordertype' } %}

        <br><br>
        <section class="panel row">
            <div class="panel-body col-md-4">
                {{ form_start(form, {'action': path('clab_call_center_order_type') }) }}
                <div class="row">
                    <h4>Type de commande :</h4>
                    <div class="col-md-12 margin-bottom check preorder">
                        {{ form_widget(form.orderType[0], { attr: { class: 'icheck' },name:'orderType' }) }} Commande à emporter
                    </div>
                    <div class="col-md-12 check">
                        {{ form_widget(form.orderType[1], { attr: { class: 'icheck' },name:'orderType', id: 'delivery_mode' }) }} Commande en livraison
                    </div>
                </div>
                <div class="row address" style="display: none;">
                    <div class="col-md-12">
                        <h4>Adresse :</h4>
                        {{ form_widget(form.search, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Jour de commande :</h4>
                        {{ form_widget(form.day, { attr: { class: 'form-control input-inline datepicker' } }) }}
                    </div>
                </div>
                <br/>
                <hr/>

                {{ form_errors(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary col-xs-12">Rechercher</button>
                {{ form_end(form) }}
            </div>
            <div class="panel-body col-md-8" id="Restaurant_choice">
                <h4>Choix du restaurant :</h4>
                <table class="table table-stripped table-bordered table-hover" id="datatable">
                    <thead>
                    <th class="search">Nom</th>
                    <th class="search">Adresse</th>
                    <th class="search">Distance</th>
                    </thead>
                    <tbody>
                    {% for restaurant in restaurants %}
                        {% if restaurant['distance'] is defined %}
                            {% set restaurant = restaurant[0] %}
                        {% endif %}

                        <tr>
                            <td>
                                <a href="{{ path('clab_call_center_choose_restaurant',{id : restaurant.id}) }}">
                                    {{ restaurant.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('clab_call_center_choose_restaurant',{id : restaurant.id}) }}">
                                    {{ restaurant.address.street }} {{ restaurant.address.city }} {{ restaurant.address.zip }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('clab_call_center_choose_restaurant',{id : restaurant.id}) }}">
                                {% if restaurant['distance'] is defined %}
                                    {{ restaurant['distance']|number_format(2) }} km
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clabcallcenter/js/jquery.timepicker.min.js') }}"></script>
    <script>
        var $searchInput = $('#form_search');
        var autocomplete = new google.maps.places.Autocomplete($searchInput.get(0));

        autocomplete.addListener('place_changed', function() {

            var place = autocomplete.getPlace();

            $('#form_street').val(place.name);
            $('#form_city').val(place.vicinity);

            for (component of place.address_components) {
                for (type of component.types) {
                    if(type == "postal_code") {
                        $('#form_zip').val(component.short_name);
                        return;
                    }
                }
            }
        });

        $('.timepicker').timepicker({
            timeFormat: 'H:mm ',
            interval: 15,
            minTime: '00',
            maxTime: '23:59',
            defaultTime: '12',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            scrollbar: false
        });

        var table = $('#datatable').DataTable({
            responsive: true,
            "language": {
                "sProcessing":     "Traitement en cours...",
                "sSearch":         "Rechercher&nbsp;:",
                "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix":    "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst":      "Premier",
                    "sPrevious":   "Pr&eacute;c&eacute;dent",
                    "sNext":       "Suivant",
                    "sLast":       "Dernier"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }
        });

        function showResto(data){
            var rows = [];
            var url = "{{ path('clab_call_center_choose_restaurant',{id : "PLACEHOLDER"}) }}";
            table.clear();
            for(var k = 0;k<data.length;k++) {

                    var u = url.replace('PLACEHOLDER',data[k].id);

                    rows[data[k]['id']] = [];
                    rows[data[k]['id']].push("<a href="+u+">"+data[k].name+"</a>");
                    rows[data[k]['id']].push("<a href="+u+">"+data[k].address+"</a>");
                    rows[data[k]['id']].push("<a href="+u+">"+data[k].distance+"</a>");

                    table.row.add(rows[data[k]['id']]);
                }
            table.draw();
        }

        function postForm( $form, callback ){

            /*
             * Get all form values
             */
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            console.log(values)
            /*
             * Throw the form values to the server!
             */
            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(data) {
                    console.log(data);
                    callback(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {

                    sweetAlert('Oops...', 'Aucun restaurant trouvé selon vos criteres de recherche', 'error');
                }

            });

        }

        $('form').on('submit', function(e){
            e.preventDefault();
            postForm($(this),showResto)
        });

        $('.iCheck-helper').click(function(){
           if ($(this).parent().parent().hasClass('preorder')) {
               $('.address').hide();
               $.get('{{ path('clab_call_center_change_order_type') }}'+"?preorder=1", function(data){

               }).fail(function(){
                   sweetAlert('Oops...', 'Une erreur est survenue.', 'error');
               })
            //   $('#Restaurant_choice').show();
           } else {
               $('.address').show();
               $.get('{{ path('clab_call_center_change_order_type') }}'+"?preorder=0", function(data){

               }).fail(function(){
                   sweetAlert('Oops...', 'Une erreur est survenue.', 'error');
               })
         //      $('#Restaurant_choice').hide();
           }
        });

    </script>
{% endblock %}
