<p>Un client est intéressé par une app.</p>

<p>
Type: {% if restaurant.isMobile %}Foodtruck{% else %}Restaurant{% endif %}<br>
Nom: {{ restaurant.name }}<br>
Gérant: {{ restaurant.managerFirstName }} {{ restaurant.managerName }}<br>
Numéro: {{ restaurant.managerPhone }}<br>
<a href="{{ url('clab_panel_store_edit', { id: restaurant.id }) }}">Lien Panel</a><br>
<a href="https://app.pipedrive.com/organization/{{ restaurant.pipedriveId }}">Lien Pipedrive</a><br>
</p>