<p>Nouvelle prise de contact sur le site pro : {{ source }}</p>

<p><strong>Nom : </strong> {{ name }}</p>

<p><strong>Nom du restaurant : </strong> {{ store }}</p>

<p><strong>Email : </strong> {{ email }}</p>

<p><strong>Nom : </strong> {{ phone }}</p>

<p><strong>Message : </strong> {{ message }}</p>