<p>Un nouveau client est prêt a passer en ligne. Il n’attend plus qu’un appel de notre équipe.</p>

<p>
Type: {% if restaurant.isMobile %}Foodtruck{% else %}Restaurant{% endif %}<br>
Nom: {{ restaurant.name }}<br>
Gérant: {{ restaurant.managerFirstName }} {{ restaurant.managerName }}<br>
Numéro: {{ phone_number_format(restaurant.managerPhone , 'NATIONAL') }}<br>
<a href="{{ url('clab_panel_store_edit', { id: restaurant.id }) }}">Lien Panel</a><br>
<a href="https://app.pipedrive.com/organization/{{ restaurant.pipedriveId }}">Lien Pipedrive</a><br>
</p>
