<form method="post" action="{{ path('board_user_database_edit', { contextPk: contextPk, context: context, id: user.id }) }}" novalidation novalidate class="ajax-form watch" data-callback="#userDatabaseList" data-changed="0">
    <div class="drawer-scroll">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="big-label">
                {{ form_row(form.email, { attr: { class: 'form-control input-lg' } }) }}
            </div>
            </div>
        </div>
        <div class="row">

        <div class="col-md-5 form-group">
                <div class="big-label">
                    {{ form_row(form.firstName, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            <div class="col-md-7 form-group">
                <div class="big-label">
                    {{ form_row(form.lastName, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="big-label">
                    {{ form_row(form.phone, { attr: { class: 'form-control input-lg' } }) }}
                </div>
                <br>
            </div>
            <div class="col-md-6 form-group">
                <div class="big-label">
                    {% if user.birthday is not null %}
                        {{ form_row(form.day, { attr: { class: 'form-control input-lg datepicker' },value: user.birthday|date("d/m/Y") }) }}
                    {% else %}
                        {{ form_row(form.day, { attr: { class: 'form-control input-lg datepicker' } }) }}
                    {% endif %}
                </div>
                <br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="big-label">
                    {{ form_row(form.company, { attr: { class: 'form-control input-lg' } }) }}
                </div>
                <br>
            </div>

            <div class="col-md-6 form-group">
                <div class="big-label">
                    {{ form_row(form.note, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>
        </div>
        {% if context == 'client' %}
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="big-label">
                    {{ form_row(form.restaurant, { attr: { class: 'form-control select2' } }) }}
                </div>
                <br>
            </div>
        </div>
        {% endif %}

        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: (user.id) ? path('board_user_database_delete', { context: context, contextPk: contextPk, id: user.id }) : null} %}
</form>

<script type="text/javascript">
    $( document ).ready(function() {

        $('.everytime').on('ifChecked', function () {
            $('.availabilities').hide();
            $('.availabilities-hint').show();
        });

        $('.everytime').on('ifUnchecked', function () {
            $('.availabilities').show();
            $('.availabilities-hint').hide();
        });
        $('.select2').select2();
    });
</script>
