{% for user in users %}
<tr
    id="user-{{ user.id }}"
    class="mix clickable"
    data-target="drawer" href="{{ path('board_user_database_edit', { contextPk: contextPk, context: context, id: user.id }) }}">
    <td class="name">{{ user.email }}</td>
    <td>
        {% if user.firstName is not null %}
            {{ user.firstName }}
        {% endif %}
        {% if user.lastName is not null %}
            &nbsp;{{ user.lastName }}
        {% endif %}
    </td>
    <td>
        {% if user.phone is not null %}
            {{ user.phone }}
        {% endif %}
    </td>
    <td>
        {% if user.birthday is not null %}
            {{ user.birthday|date('d-m-Y') }}
        {% endif %}
    </td>
    <td>
        {% if user.company is not null %}
            {{ user.company }}
        {% endif %}
    </td>
    <td>
        {% if user.note is not null %}
            {{ user.note }}
        {% endif %}
    </td>
    {% if context =='client' %}
    <td>
        {{ user.restaurant.name }} <br> {{ user.restaurant.address.city }}
    </td>
    {% endif %}
</tr>
{% endfor %}
