{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Modification ponctuelle{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_restaurant_planning_change', { contextPk: contextPk }) }}">

    {{ form_row(form.day, { attr: { class: 'icheck radioReveal', } }) }}
    <br>

    <div class="row" id="customDay" style="display:none">
        <div class="col-md-4 col-md-offset-1">
            <p>Jour</p>
            {{ form_row(form.custom_day, { attr: { class: 'form-control datepicker' }, label_render: false }) }}
        </div>
    </div>

    <div class="row" id="customPeriod" style="display:none">
        <div class="col-md-4 col-md-offset-1">
            <p>Début</p>
            {{ form_row(form.start_day, { attr: { class: 'form-control datetimepicker-start' }, label_render: false }) }}
        </div>
        <div class="col-md-4">
            <p>Fin</p>
            {{ form_row(form.end_day, { attr: { class: 'form-control datetimepicker-end' }, label_render: false }) }}
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            {{ form_row(form.start, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.end, { attr: { class: 'form-control' } }) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

$('.radioReveal').on('ifChecked', function(event) {
    var value = $(this).find('input[type=radio]:checked').val();
    if(value == 3) {
        $('#customDay').show();
    } else if(value == 4) {
        $('#customPeriod').show();
    }
});

$('.radioReveal').on('ifUnchecked', function(event) {
    var value = $(this).find('input[type=radio]:checked').val();
    if(value != 3) {
        $('#customDay').hide();
    }
    if(value != 4) {
        $('#customPeriod').hide();
    }
});

$('.datetimepicker-start').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datetimepicker-end').val()) {
            var date = moment($('.datetimepicker-end').val(), 'DD/MM/YYYY');
            var maxDate = date.format('YYYY/MM/DD');
        } else {
            var maxDate = false;
        }
        this.setOptions({
            maxDate: maxDate
        })
    },
    onSelectDate: function(datetime, $input) {
        if('' == $('.datetimepicker-end').val()) {
            $('.datetimepicker-end').val(datetime.dateFormat('d/m/Y'));
        }
    }
});

$('.datetimepicker-end').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datetimepicker-start').val()) {
            var date = moment($('.datetimepicker-start').val(), 'DD/MM/YYYY');
            var minDate = date.format('YYYY/MM/DD');
        } else {
            var minDate = false;
        }
        this.setOptions({
            minDate: minDate
        })
    },
});
</script>
{% endblock %}