{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}{% if timesheet.id %}Modification{% else %}Création{% endif %}{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_restaurant_planning_edit', { contextPk: contextPk, id: timesheet.id }) }}">
    <div class="form-group">
        {{ form_row(form.address.name, { attr: { class: 'form-control input-lg' } }) }}
        {{ form_row(form.address.street, { attr: { class: 'form-control' } }) }}
        {{ form_row(form.address.zip, { attr: { class: 'form-control' } }) }}
        {{ form_row(form.address.city, { attr: { class: 'form-control' } }) }}
        <br>
        {{ form_row(form.isPrivate, { attr: { class: 'icheck' } }) }}
    </div>

    <hr>
    <div class="form-group">
        <h4>Type d'évènement</h4>
        {{ form_row(form.type, { label_render: false, label_attr: { class: 'radio-inline radio-box' }, attr: { class: 'icheck event-type' } }) }}
    </div>
    <hr>
    <div class="form-group inline-checkboxes type-visibility" data-type="1" {% if timesheet.type == 2 %}style="display:none";{% endif %}>
        {{ form_row(form.monday, { attr: { class: 'icheck' } }) }}
        {{ form_row(form.tuesday, { attr: { 'class': 'icheck' } }) }}
        {{ form_row(form.wednesday, { attr: { 'class': 'icheck' } }) }}
        {{ form_row(form.thursday, { attr: { 'class': 'icheck' } }) }}
        {{ form_row(form.friday, { attr: { 'class': 'icheck' } }) }}
        {{ form_row(form.saturday, { attr: { 'class': 'icheck' } }) }}
        {{ form_row(form.sunday, { attr: { 'class': 'icheck' } }) }}
        <div class="clear"></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.startDate, { attr: { class: 'form-control datetimepicker-start' } }) }}
            {{ form_row(form.endDate, { attr: { class: 'form-control datetimepicker-end' } }) }}
            <div class="type-visibility" data-type="1" {% if timesheet.type == 2 %}style="display:none";{% endif %}>
                <p><small>Vous pouvez limiter ce créneau sur une période, ou laisser ces champs vides.</small></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.start, { attr: { class: 'form-control' } }) }}
                {{ form_row(form.end, { attr: { class: 'form-control' } }) }}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.event-type').on('ifChecked', function (event) {
    var value = $(this).find('input[type=radio]:checked').val();
    if(value) {
        $('.type-visibility').each(function() {
            if($(this).data('type') == value) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
});

$('.datetimepicker-start').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datetimepicker-end').val()) {
            var date = moment($('.datetimepicker-end').val(), 'DD/MM/YYYY');
            var maxDate = date.format('YYYY/MM/DD');
        } else {
            var maxDate = false;
        }
        this.setOptions({
            maxDate: maxDate
        })
    },
    onSelectDate: function(datetime, $input) {
        if('' == $('.datetimepicker-end').val()) {
            $('.datetimepicker-end').val(datetime.dateFormat('d/m/Y'));
        }
    }
});

$('.datetimepicker-end').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datetimepicker-start').val()) {
            var date = moment($('.datetimepicker-start').val(), 'DD/MM/YYYY');
            var minDate = date.format('YYYY/MM/DD');
        } else {
            var minDate = false;
        }
        this.setOptions({
            minDate: minDate
        })
    },
});
</script>
{% endblock %}