{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_restaurant_planning',
        rightLink: path('board_foodtruck_edit_event', { contextPk: contextPk }),
        rightLinkLabel: 'Ajouter un emplacement',
        rightLinkLadda: false,
        rightLinkAjaxModal: false,
        rightLink2: path('board_restaurant_planning_close', { contextPk: contextPk }),
        rightLink2Label: 'Programmer une fermeture',
        rightLink2Class: 'btn-danger',
        rightLink2Ladda: true,
        rightLink2ajaxModal: true,
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid padding-v-10" id="planning">
    <div class="row">
        <div class="col-md-8">
            <section class="panel">
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            {% if events is defined %}
            <section class="panel">
                <header class="panel-heading"><i class="fa fa-calendar icon-left"></i>Planning du jour</header>

                <div class="panel-body">
                    {% if events %}
                        {% for event in events %}
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>{{ event.start|date('H:i') }} - {{ event.end|date('H:i') }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ event.address.verbose }}
                                </div>
                            </div>
                            <br>
                            {% if event.validation is defined and event.validation %}
                                <p class="text-center">
                                    <span class="fa-stack location-check icon-left" data-toggle="tooltip" data-title="Emplacement vérifié">
                                      <i class="fa fa-certificate icon-success fa-stack-2x"></i>
                                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                    </span>
                                    Présence validée
                                </p>
                            {% else %}
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                         <a class="btn btn-success btn-xs btn-block" href="{{ path('board_validation_validate', { slug: contextPk, date: event.timestamp, start: event.start.timestamp }) }}">J'y serai</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="btn btn-danger btn-xs btn-block" href="{{ path('board_validation_close', { slug: contextPk, date: event.timestamp, start: event.start.timestamp }) }}">Je suis fermé</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if not loop.last %}<hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Vous n'avez pas d'évènements aujourd'hui</p>
                    {% endif %}
                </div>

                <div class="panel-footer">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="{{ path('board_validation_console', { contextPk: contextPk }) }}">Certification</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            {% endif %}

            <section class="panel">
                <header class="panel-heading"><i class="fa fa-calendar icon-left"></i>Commande à emporter</header>

                <div class="panel-body">
                    {% if proxy.getIsOpen %}
                        <p><i class="fa fa-check-circle icon-left icon-success"></i>Ouvert</p>
                    {% else %}
                        <p><i class="fa fa-remove icon-left icon-danger"></i>Fermé</p>
                    {% endif %}

                    <p><small><strong>Heure max de commande : </strong>
                        {% if proxy.orderStart == null %}
                            Aucune
                        {% elseif proxy.orderStart == 0 %}
                            Au début de l'évènement
                        {% elseif proxy.orderStart > 0 %}
                            {{ proxy.orderStart }} heure(s) après la fin de l'évènement
                        {% else %}
                            {{ (- 1) * proxy.orderStart }} heure(s) avant la fin de l'évènement
                        {% endif %}
                    .</small></p>
                </div>

                <div class="panel-footer">
                    <div class="pull-right">
                        <a class="btn btn-default btn-sm" data-target="ajaxModal" href="{{ path('board_foodtruck_settings_order', { contextPk: contextPk }) }}">Modifier</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>

            <section class="panel">
                <div class="panel-body" id="timesheetTable">
                    <ul class="nav nav-pills pills-filter" id="nav-foodtruck-calendar">
                        <li><a href="#" class="filter" data-filter=".type-1">Récurrent</a></li>
                        <li><a href="#" class="filter" data-filter=".type-2">Evènement</a></li>
                        <li><a href="#" class="filter" data-filter=".type-0">Fermeture</a></li>
                        <li><a href="#" class="filter" data-filter=".previous">Passés</a></li>
                    </ul>
                    <br>
                    <div class="list-group" id="timesheetList">
                        {% include 'ClabBoardBundle:Planning:foodtruckList.html.twig' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function mix()
{
    $('#timesheetList').mixItUp({
        animation: {
            enable: false,
        },
        layout: {
            display: 'block',
        },
    });

    $('#timesheetList').mixItUp('filter', '.type-1');

    $('.pills-filter li a').each(function() {
        if($(this).data('filter') == '.type-1') {
            $(this).parent().addClass('active');
        } else {
            $(this).parent().removeClass('active');
        }
    });
}

mix();
</script>
<script type="text/javascript">
moment.locale('fr');
$(document).ready(function() {
  var calendar = $('#calendar').fullCalendar({
    lang: 'fr',
    events: [
        {% for timestamp, day in planning %}
        {% set looplast = loop.last %}
        {% for event in day %}
        {
            id: '{{ timestamp }}',
            title: '{% if event.type == 0 %}Fermeture{% else %}{{ event.address.verbose|raw|replace({"'": ""}) }}{% endif %}',
            color: '{% if event.type == 0 %}#dd1313{% elseif event.type == 2 %}#77cc33{% else %}#5bc0de{% endif %}',
            start: '{{ event.start|date('Y-m-d\\TH:i:sP') }}',
            end: '{{ event.end|date('Y-m-d\\TH:i:sP') }}',
            timestamp: '{{ event.timestamp }}',
            timesheetId: '{{ event.timesheetId }}'
        }{% if not looplast or not loop.last %},{% endif %}
        {% endfor %}
        {% endfor %}
    ],
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    editable: false,
    defaultView: 'month',
    allDayDefault: false,
    slotDuration: '01:00:00',
    allDaySlot: false,
    allDayText: false,
    eventClick: function(calEvent, jsEvent, view) {
            var target = '/board/{{ proxy.slug }}/foodtruck/calendar-edit/' + calEvent.timestamp + '/' + calEvent.timesheetId;
            $("#ajaxModal .modal-content").load(target, function() {
                $("#ajaxModal").modal("show");
            });
        }
  });
});
</script>
{% endblock %}