{% for timesheet in timesheets %}
<a class="list-group-item mix {% if not timesheet.endDate or timesheet.endDate >= date('yesterday') %}type-{{ timesheet.type }}{% else %}previous{% endif %}" {% if timesheet.type == 1 or timesheet.type == 2 %}href="{{ path('board_foodtruck_edit_event', { contextPk: contextPk, id: timesheet.id }) }}"{% endif %}>
    {% if timesheet.type == 1 or timesheet.type == 2 %}
    <h4 class="list-group-item-heading"><i class="fa fa-map-marker icon-left {% if timesheet.type == 1 %}icon-primary{% elseif timesheet.type == 2 %}icon-success{% endif %}"></i>{% if timesheet.address %}{{ timesheet.address.verbose }}{% else %}{{ proxy.address.verbose }}{% endif %}{% if timesheet.isPrivate %} <strong>(Privé)</strong>{% endif %}</h4>
    {% endif %}
    <p class="list-group-item-text">
        {% if timesheet.type == 1 %}
            {% if timesheet.startDate and timesheet.endDate %}
                <br><small>Pour la période : {{ timesheet.startDate|date('d/m/Y') }} - {{ timesheet.endDate|date('d/m/Y') }}</small>
            {% elseif timesheet.startDate %}
                <br><small>A partir du : {{ timesheet.startDate|date('d/m/Y') }}</small>
            {% elseif timesheet.endDate %}
                <br><small>Jusqu'au : {{ timesheet.endDate|date('d/m/Y') }}</small>
            {% endif %}
        {% elseif timesheet.type == 2 %}
            {{ timesheet.startDate|date('d/m/Y') }} - {{ timesheet.endDate|date('d/m/Y') }}
        {% elseif timesheet.type == 0 %}
            {{ timesheet.startDate|date('d/m/Y') }} - {{ timesheet.endDate|date('d/m/Y') }}
        {% endif %}
        <br>
        <small>{{ timesheet.start|date('H:i') }} - {{ timesheet.end|date('H:i') }}</small>
    </p>
</a>
{% endfor %}