{% extends 'ClabBoardBundle:Base:base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/nvd3/build/nv.d3.min.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/datatables.net-dt/css/jquery.dataTables.min.css')}}" />
 {% endblock %}
{% block subnav %}
    {% if context =='client' %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'admin',
        route: 'board_accounting',
        } %}
    {% else %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'sales',
        route: 'board_accounting',
        } %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container padding-v-10" id="accounting">
        <section class="panel" style="background: transparent;">
            <form action="{{ path('board_accounting', {'context' : context,'contextPk': contextPk, 'slug': context == 'client' ? 'SLUG' : null}) }}" method="get">
                <div class="row no-padding">
                    <div class="col-xs-4 line-height-30 no-padding">
                        {% if context == 'client' and restaurants %}
                            <select name="restaurants" class="select2">
                                {% for resto in restaurants %}
                                    <option value="{{ resto.slug }}" name="restaurant" {{ restaurant is defined and restaurant and resto.slug == restaurant.slug ? 'selected' : ''}}>
                                        {{ resto.name ~ resto.address }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                    <div class="col-xs-4 line-height-30">
                        <input type="date" name="date" value="{{ date | date('Y-m-d') }}" class="form-control">
                    </div>
                    <button class="btn btn-primary col-xs-4 line-height-30">Filtrer</button>
                </div>
            </form>
        </section>
        <section class="panel">
            <div class="panel-body" id="productTable">
                <table class="table table-stripped table-bordered table-hover" id="datatable">
                    <thead>
                        <th>JOURNAL</th>
                        <th>DATE</th>
                        <th>COMPTE GENERAL</th>
                        <th>ETABLISSEMENT</th>
                        <th>LIBELLE</th>
                        <th>TIERS</th>
                        <th>PIECE</th>
                        <th>SENS</th>
                        <th>Montant</th>
                    </thead>
                    <tbody>
                    {% if restaurant is defined and restaurant%}
                        {% for sales in salesHTByVAT %}
                            {% if sales['5.5'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code55'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>ventes</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['5.5'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['5.5'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                            {% if sales['10'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>ventes</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['10'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['10'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                            {% if sales['20'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code20'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>ventes</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['20'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['20'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {# for sales in discountAccounts %}
                            <tr>
                                <td>VTE</td>
                                <td>{{ date |date('dmy') }}</td>
                                <td>{{ sales['code55'] }}</td>
                                <td>{{ restaurant.accountCode }}</td>
                                <td>Diff de prix</td>
                                <td></td>
                                <td></td>
                                <td>C</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>VTE</td>
                                <td>{{ date |date('dmy') }}</td>
                                <td>{{ sales['code10'] }}</td>
                                <td>{{ restaurant.accountCode }}</td>
                                <td>Diff de prix</td>
                                <td></td>
                                <td></td>
                                <td>C</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>VTE</td>
                                <td>{{ date |date('dmy') }}</td>
                                <td>{{ sales['code20'] }}</td>
                                <td>{{ restaurant.accountCode }}</td>
                                <td>Diff de prix</td>
                                <td></td>
                                <td></td>
                                <td>C</td>
                                <td>0.00</td>
                            </tr>
                        {% endfor #}
                        {% for sales in discountAccounts %}
                            {% if sales['5.5'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code55'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>Remise</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['5.5'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['5.5'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                            {% if sales['10'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>Remise</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['10'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['10'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                            {% if sales['20'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ sales['code20'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>Remise</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sales['20'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ sales['20'] | number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for vat in vatAccounts %}
                            {% if vat['tva55'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[vat['id']]['tva55'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ vat['tva55'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ vat['tva55'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                            {% if vat['tva10'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[vat['id']]['tva10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ vat['tva10'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ vat['tva10'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                            {% if vat['tva20'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[vat['id']]['tva20'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ vat['tva20'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ vat['tva20'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for key, vat in salesTTCByVAT %}
                            {% if vat['5.5'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[key]['tva10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>D</td>
                                    <td>{{ vat['5.5'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                            {% if vat['10'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[key]['tva10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>D</td>
                                    <td>{{ vat['10'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                            {% if vat['20'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ vatCodes[key]['tva10'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>TVA</td>
                                    <td></td>
                                    <td></td>
                                    <td>D</td>
                                    <td>{{ vat['20'] | number_format(2,',')}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for key, payments in paymentsAccount %}
                            {% if payments['amount'] != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ payments['code'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>{{ key }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ payments['amount'] >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ payments['amount']| number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for key, payment in clientAccounts %}
                            {% if payment != 0 %}
                                <tr>
                                    <td>VTE</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>41110000</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>EN COMPTE</td>
                                    <td>{{ key }}</td>
                                    <td></td>
                                    <td>{{ payment >= 0 ? 'C' : 'D' }}</td>
                                    <td>{{ payment| number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for payment in otherCharges %}
                            {% if payment['amount'] != 0 %}
                                <tr>
                                    <td>CAI</td>
                                    <td>{{ date |date('dmy') }}</td>
                                    <td>{{ payment['key'] }}</td>
                                    <td>{{ restaurant.accountCode }}</td>
                                    <td>DEPENSE</td>
                                    <td></td>
                                    <td>{{ payment['index'] }}</td>
                                    <td>C</td>
                                    <td>{{ payment['amount']| number_format(2,',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/moment/moment.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $('form').submit(function(e){
            e.preventDefault();
            var
                url = $(this).attr('action'),
                date = $(this).find('input[type="date"]').val()
            ;

            {% if context == 'client' %}
                var restaurantSlug = $(this).find('option:selected').val();
                url = url.replace('SLUG', restaurantSlug);
            {% endif %}

            window.location = url+"?date="+date;
        });
    </script>

{% endblock %}
