{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
    category: 'admin',
    route: 'board_client_editcompany',
    } %}
{% endblock %}

{% block body %}
    <div class="well col-md-8 col-md-offset-2 col-xs-12">
        <h4>Fiches Sociétés:</h4>
        <div class="row padding-v-20">
            <button class="btn btn-secondary toggle-form col-sm-6 col-sm-offset-3 col-xs-12"><span>Ajouter une fiche société  <i class="fa fa-plus"></i></span></button>
        </div>
        <div class="container-fluid form-top-padding form-edit" hidden>
            {{ form_start(form,{'action' : path('board_client_company', {contextPk: contextPk} )}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.name, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.phone, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.email, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.accountCode, {attr:{'class':'form-control col-xs-12 margin-bottom'}}) }}
                        {{ form_row(form.description, {attr:{'class':'form-control col-xs-12 margin-bottom'}}) }}
                        {{ form_row(form.isOnline, {attr: {'class':'icheck padding-v-10 '}}) }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.address.street, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.address.zip, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.address.city, {attr:{'class':'form-control col-xs-12'}}) }}
                        {{ form_row(form.companyPayment, {attr:{'class':'form-control col-xs-12'}}) }}
                        <button type="submit" class="btn-primary col-xs-12" style="margin-top:25px;">valider</button>
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
        {% if companies | length >0 %}
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%" >
                <thead>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Type de paiment</th>
                    <th>Balance</th>
                    <th>Prochain paiment</th>
                    <th>En ligne</th>
                </thead>
                <tbody>
                    {%  for company in companies %}
                    <tr class="edit-company" href="{{ path('board_client_edit_company', {contextPk: contextPk, companyId: company.id}) }}">
                        <th>{{ company.name }}</th>
                        <th>{{ company.phone }}</th>
                        <th>{{ company.companyPayment }}</th>
                        <th>
                            {% if company.balance is not null %}
                                {{ company.balance }} &euro;
                            {% endif %}
                        </th>
                        <th>
                            {% if company.nextDueDate %}
                                {{ company.nextDueDate | date('d/m/Y') }}
                            {% endif %}
                        </th>
                        <th>
                            {% if company.isOnline %}
                                <i class="fa fa-check fa-2x" aria-hidden="true" style="color: #00a5de"></i>
                            {% else %}
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script>

        var id = null;
        var $row = null;
        var url = "{{ path('board_client_company', {contextPk: contextPk, companyId: "PLACEHOLDER"} )  }}"

        $('.toggle-form').click(function(){
            id = null
            $row = null;
            let idName = "{{ "#" ~ form.name.vars.id }}",
                    idPhone = "{{ "#" ~ form.phone.vars.id }}",
                    idEmail = "{{ "#" ~ form.email.vars.id }}",
                    idAddressStreet = "{{ "#" ~ form.address.street.vars.id }}",
                    idAddressCity = "{{ "#" ~ form.address.city.vars.id }}",
                    idAddressZip = "{{ "#" ~ form.address.zip.vars.id }}",
                    idCompanyPayment = "{{ "#" ~ form.companyPayment.vars.id }}",
                    idDescription = "{{ "#" ~ form.description.vars.id }}";
            $(idName).val("");
            $(idPhone).val("");
            $(idEmail).val("");
            $(idAddressStreet).val("");
            $(idAddressCity).val("");
            $(idAddressZip).val("");
            $(idCompanyPayment).val("");
            $(idDescription).val("");

            if(!$('.form-edit').is(':visible')) {
                $(this).find('span').html("Fermer <i class='fa fa-times'></i>");
            } else {
                $(this).find('span').html("Ajouter une fiche société  <i class='fa fa-plus'></i>");
            }
            $('.form-edit').slideToggle();

        });


        $('.edit-company').click(function(event){
            event.preventDefault();
            $.get($(this).attr('href')).done(function(data){
                showUserModal(data);
            });
        })

        var showUserModal = function(data){
            $('#drawer').html(data);
            $('.companyModal').modal();
        }

        $('form').on('submit', function(e) {
            e.preventDefault();
            $self = $(this);
            $(this).find('button[type="submit"]').prop('disabled',true);
            $form = $(this);
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            let newUrl,edit=false;
            if (id) {
                newUrl = url.replace('PLACEHOLDER',id);
                edit = true;
            } else {
                newUrl = $form.attr( 'action' );
            }

            $.post(newUrl, values)
                    .done(function(data){
                        $('.toggle-form').find('span').html("Ajouter une fiche société  <i class='fa fa-plus'></i>");
                        $('.form-edit').slideUp();

                        let companyData = JSON.parse(data);

                        id = null;

                        let rowData = [
                                companyData.name,
                                companyData.phone,
                                companyData.company_payment,
                                companyData.balance ? companyData.balance : "",
                                companyData.next_due_date ? companyData.next_due_date : "",
                                companyData.isOnline ? '<i class="fa fa-check fa-2x" aria-hidden="true" style="color: #00a5de"></i>' : '<i class="fa fa-times fa-2x" aria-hidden="true"></i>'
                            ];
                        if(edit) {
                            table.row($row[0]).data(rowData);
                            $row.attr('data',data);
                        } else {
                            table.row.add(rowData).draw();
                        }

                        $('tbody tr').not('.edit-company').addClass('edit-company').attr('data',data);
                        sweetAlert('', "Modifications prise en compte", 'success');
                    })
                    .fail(function(){
                        id=null;
                        $row = null;
                        $self.find('button[type="submit"]').prop('disabled',false);
                    })
                    .always(function(){
                        id=null;
                        $row = null;
                        $self.find('button[type="submit"]').prop('disabled',false);
                    });
        })
    </script>
{% endblock %}
