<div class="modal fade companyModal" tabindex="-1" role="dialog" id="company-modal{{ company.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fiche compte société</h4>
            </div>
            <div class="modal-body text-center">
                <form id="companyForm" action="{{ path('board_client_edit_company', {contextPk: contextPk, companyId:company.id}) }}" method="post" {{ form_enctype(form) }}>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.name, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.phone, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.email, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.description, {attr:{'class':'form-control col-xs-12 margin-bottom'}}) }}
                            {{ form_row(form.accountCode, {attr:{'class':'form-control col-xs-12 margin-bottom'}}) }}
                            {{ form_row(form.isOnline, {attr: {'class':'icheck padding-v-10 '}}) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.address.street, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.address.zip, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.address.city, {attr:{'class':'form-control col-xs-12'}}) }}
                            {{ form_row(form.companyPayment, {attr:{'class':'form-control col-xs-12'}}) }}
                        </div>
                        <div class="col-xs-12 well">
                            <h4>Infos paiment:</h4>
                            <hr>
                            <div class="col-xs-6 no-padding">
                                <label class="col-xs-12"> Prochain paiement</label>
                                <div class="col-xs-3 no-padding">
                                    {{ form_widget(form.nextDueDate.day, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-xs-3 no-padding ">
                                    {{ form_widget(form.nextDueDate.month, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-xs-6 no-padding">
                                    {{ form_widget(form.nextDueDate.year, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                {{ form_errors(form.nextDueDate) }}
                            </div>
                            <div class="col-xs-6 no-padding">
                                <label class="col-xs-12" for="lastPayment"> Dernier paiement</label>
                                <input id="lastPayment" type="text" value="{{ company.lastPaymentDate | date('d-m-Y H:i') }}" readonly class="form-control col-xs-12" />
                            </div>
                            <div class="col-xs-6 no-padding">
                            {{ form_row(form.balance, {attr:{'class':'form-control col-xs-12'}}) }}
                            </div>
                            <div class="col-xs-6 no-padding">
                                <a href="{{ path('board_client_charge_company', {contextPk: contextPk, companyId: company.id}) }}" class="btn btn-danger col-md-6 col-md-offset-3" style="margin: 10% 25px 0px 0px;width:90%;">Effectuer le paiement de la balance</a>
                            </div>
                            {% if company.paymentsHistory | length > 0 %}
                            <button class="btn btn-secondary company-history"  data-toggle="collapse" data-target="#company-history" >Historique des paiments</button>
                            <div id="company-history" class=" collapse well" style="overflow-y: scroll;height: 250px;">
                                {% for payment in company.paymentsHistory %}
                                <div class="row">
                                    <div class="col-md-8">
                                        {{ payment.date }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ payment.amount }}
                                    </div>
                                    <div class="col-md-1">
                                        €
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <br>
                            <p class="text-right"><button type="submit" class="btn btn-primary col-md-6 col-md-offset-3">Valider</button></p>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>
                <div class="row" style="margin-top: 10px;">
                    <button class="col-xs-6 col-xs-offset-3 btn btn-secondary" data-toggle="collapse" data-target="#company-orders">Dernieres commandes</button>
                    <section class="collapse padding-v-10" id="company-orders">
                        {% for order in company.orders %}
                            <div class="well col-md-6">
                                <div class="ui-bar ui-bar-a header-online-payment">
                                    <h3>{{ order.time|date('G:i') }} | {{ order.restaurant.name }}</h3>
                                    <br><h4>{{ order.profile.username }}</h4><hr>
                                    {% if order.orderType.id == 3 %}
                                        &nbsp; &nbsp;&nbsp; <i class="fa fa-motorcycle" style="font-size: 18px;"
                                                               data-popover="true"
                                                               data-html=true
                                                               data-content="Commande livraison"></i>
                                    {% elseif order.orderType.id == 1 %}
                                        &nbsp; &nbsp;&nbsp;  <i class="fa fa-shopping-bag" style="font-size: 18px;"
                                                                data-popover="true"
                                                                data-html=true
                                                                data-content="Commande à emporter"></i>
                                    {% else %}
                                        &nbsp; &nbsp;&nbsp; <i class="fa fa-shopping-bag" style="font-size: 18px;"
                                                               data-popover="true"
                                                               data-html=true
                                                               data-content="Commande à emporter"></i>
                                    {% endif %}
                                </div>
                                <div class="ui-body ui-body-a">
                                    <p>
                                        {% for element in order.cart.elements %}
                                            {% if element.parent is null %}
                                                {% if not element.childrens|length > 0 %}
                                                    {{ element.proxy.name }}{{ loop.last or element.choices|length > 0 ? '' : ', ' }}
                                                {% endif %}
                                                {% if element.choices is defined and element.choices|length > 0 %}
                                                    &nbsp;(
                                                    {% for choice in element.choices %}
                                                        <strong>{{ choice.option.name }} : </strong> {{ choice.value }}{{ loop
                                                    .last ? '' : ', ' }}
                                                    {% endfor %}
                                                    ){{ loop.last ? '' : ', ' }}
                                                {% endif %}
                                                {% if element.childrens is defined and element.childrens|length > 0 %}
                                                    {% for children in element.childrens %}
                                                        {{ children.proxy.name }}{{ loop.last or children.choices|length > 0 ? '' : ', ' }}
                                                        {% if children.choices is defined and children.choices|length > 0 %}
                                                            &nbsp;(
                                                            {% for choice in children.choices %}
                                                                <strong>{{ choice.option.name }} : </strong>   {{ choice.value
                                                            }}{{ loop.last ? '' : ', ' }}
                                                            {% endfor %}
                                                            ){{ loop.last ? '' : ', ' }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue checkbox',
            radioClass: 'iradio_square-blue radio',
        });
    </script>
</div>