{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav no-padding{% endblock %}
{% block body %}
<section class="panel" style="overflow: scroll;">
    <div class="panel-body ">
        <table class="table table-stripped table-bordered table-hover tbody datatable" width="100%" >
            <thead>
            <th>Restaurant</th>
            <th>Heure de commande</th>
            <th>Source</th>
            <th>Client</th>
            <th>Type de commande</th>
            <th>Moyen de paiement</th>
            <th>Statut</th>
            <th>Livreur</th>
            <th>Position livreur</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Annuler</th>
            <th>Afficher detail</th>
            <th>Afficher adresse de livraison</th>
            <th>Retard</th>
            </thead>
            <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.restaurant.name }}</td>
                        <td>{{ order.created.date | date('H:i:s') }}</td>
                        <td>{{ order.source }} </td>
                        <td>{{ order.profile.firstName }} {{ order.profile.lastName }} {{ order.profile.phone }}</td>
                        <td>{{ order.delivery != null ? 'Livraison' : 'A emporter' }}</td>
                        <td>
                            {% if order.onlinePayment == 1 %}carte{% else %}
                                {% for key, mode in order.onSitePayments %}
                                    {% if mode != '0' %}{{ key }}{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <select class="status" id="{{ order.id }}">
                                <option value="0" {% if order.state == 0 %}selected{% endif %}>Initial</option>
                                <option value="100" {% if order.state == 100 %}selected{% endif %}>En attente de payement</option>
                                <option value="120" {% if order.state == 120 %}selected{% endif %}>En attente de payement restoflash</option>
                                <option value="200" {% if order.state == 200 %}selected{% endif %}>Payement validé</option>
                                <option value="300" {% if order.state == 300 %}selected{% endif %}>Commande prête</option>
                                <option value="310" {% if order.state == 310 %}selected{% endif %}>Commande prête a être emballée</option>
                                <option value="320" {% if order.state == 320 %}selected{% endif %}>Commande prête et emballée</option>
                                <option value="400" {% if order.state == 400 %}selected{% endif %}>Commande terminée</option>
                                <option value="500" {% if order.state == 500 %}selected{% endif %}>Commande annulée</option>
                            </select>
                        </td>
                        <td>{% if order.delivery is defined and order.delivery.delivery_man is defined %}{{ order.delivery.delivery_man }}{% else %}Non précisé{% endif %}</td>
                        <td>{% if order.delivery is defined and order.delivery.lat is defined and order.delivery.long is defined %}Lat: {{ order.delivery.lat }} | Long: {{ order.delivery.long }}{% else %}Non précisée{% endif %}</td>
                        <td>{{ order.price }} €</td>
                        <td>{{ order.created.date | date('d/m/Y') }}</td>
                        <td>
                            <select class="preparationState" id="{{ order.id }}">
                                <option value="0" {% if order.preparationState == 0 %}selected{% endif %}>Traité</option>
                                <option value="1" {% if order.preparationState == 1 %}selected{% endif %}>En préparation</option>
                                <option value="2" {% if order.preparationState == 2 %}selected{% endif %}>En cours de livraison</option>
                                <option value="3" {% if order.preparationState == 3 %}selected{% endif %}>Servi</option>
                                <option value="4" {% if order.preparationState == 4 %}selected{% endif %}>Problème de livraison</option>
                                <option value="5" {% if order.preparationState == 5 %}selected{% endif %}>Envoyé</option>
                            </select>
                        </td>
                        <td>
                            <a href="#" role="button" id="{{ order.id }}" class="cancel btn btn-large btn-primary">
                                Annuler
                                </a>
                        </td>
                        <td>
                            <a href="#details{{ order.id }}" id="{{ order.id }}" role="button" class="details btn btn-large btn-primary" data-toggle="modal">Details: </a>
                        </td>
                        <td>
                            <a href="#deliveryAdress{{ order.id }}" id="{{ order.id }}" role="button" class="deliveryAdress btn btn-large btn-primary" data-toggle="modal">Adresse de livraison: </a>
                        </td>
                        <td><div class="late {{ order.id }}" id="{{ order.time.date }}"></div></td>
                    </tr>
                        <div id="details{{ order.id }}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Détails de la commande</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Etat: {{ order.state }}</li>
                                            <li>Etat de préparation: {{ order.preparationState }}</li>
                                            <li>Payement en ligne: {{ order.onlinePayment == false ? "non" : "oui" }}</li>
                                            <li>Total: {{ order.price }}</li>
                                            <li>TVA 7: {{ order.tva7 }}</li>
                                            <li>TVA 10: {{ order.tva10 }}</li>
                                            <li>TVA 20: {{ order.tva20 }}</li>
                                            <li>TVA 55: {{ order.tva55 }}</li>
                                            <li>Date de creation: {{ order.created != null ? order.created.date : "" }}</li>
                                            <li>Date d'actualisation: {{ order.updated != null ? order.updated.date : "" }}</li>
                                            <li>Date de commande: {{ order.time != null ? order.time.date : "" }}</li>
                                            <li>Commentaire: {{ order.comment }}</li>
                                            <li>Source: {{ order.source }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if order.delivery is defined %}

                        <div id="deliveryAdress{{ order.id }}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Adresse de Livraison</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Entreprise: {% if order.delivery.address is defined and order.delivery.address.company is defined %}{{ order.delivery.address.company }}{% endif %}</li>
                                            <li>{% if order.delivery.address is defined and order.delivery.address.name is defined and order.delivery.address.street is defined  %}{{ order.delivery.address.name }} {{ order.delivery.address.street }}{% endif %}</li>
                                            <li>Code postal: {% if order.delivery.address is defined and order.delivery.address.zip is defined %}{{ order.delivery.address.zip }}{% endif %}</li>
                                            <li>Ville: {% if order.delivery.address is defined and order.delivery.address.city is defined %}{{ order.delivery.address.city }}{% endif %}</li>
                                            <li>Immeuble: {% if order.delivery.address is defined and order.delivery.address.building is defined %}{{ order.delivery.address.building }}{% endif %}</li>
                                            <li>Code de porte: {% if order.delivery.address is defined and order.delivery.address.door_code is defined %}{{ order.delivery.address.door_code }}{% endif %}</li>
                                            <li>Code seconde porte: {% if order.delivery.address is defined and order.delivery.address.second_door_code is defined %}{{ order.delivery.address.second_door_code }}{% endif %}</li>
                                            <li>Interphone: {% if order.delivery.address is defined and order.delivery.address.intercom is defined %}{{ order.delivery.address.intercom }}{% endif %}</li>
                                            <li>Etage: {% if order.delivery.address is defined and order.delivery.address.floor is defined %}{{ order.delivery.address.floor }}{% endif %}</li>
                                            <li>Porte: {% if order.delivery.address is defined and order.delivery.address.door is defined %}{{ order.delivery.address.door }}{% endif %}</li>
                                            <li>Escaliers: {% if order.delivery.address is defined and order.delivery.address.staircase is defined %}{{ order.delivery.address.staircase }}{% endif %}</li>
                                            <li>Ascenceur: {% if order.delivery.address is defined and order.delivery.address.elevator is defined %}{{ order.delivery.address.elevator }}{% endif %}</li>
                                            <li>Commentaire: {% if order.delivery.address is defined and order.delivery.address.comment is defined %}{{ order.delivery.address.comment }}{% endif %}</li>
                                            <li>pq pas intergrer maps avec long/lat</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" >

        function fn60sec() {
            $('.late').each(function(){
                var dateTostart = new Date($(this).attr('id'));
                var status = $(this).parent().parent().find('.status').find('option:selected').val();
                var later = late(dateTostart, status);

                $(this).parent().attr('style', 'background-color: '+later);
            });
        };

        function late(timeToDeliver, status){
            var date = new Date();
            var diff = (Math.abs(date - timeToDeliver) / 36e5) * 60;

            if (status == 500){
                return "grey";
            }else {
                if (diff < 15) {
                    return "green";
                } else if (diff < 31) {
                    return "yellow";
                } else {
                    return "red";
                }
            }
        };

        fn60sec();
        setInterval(fn60sec, 60*1000);

        $('.preparationState').change(function () {
            changeDeliveryState($(this).attr('id'), $(this).val())
        });

        function orderPayment(order){
            var ok = "";

            if (order.online_payment == 1){
                return "carte"} else{
                $.each(order.on_site_payments, function (i, value) {
                    if (value != '0'){
                        ok = i;
                    }
                })
            }
            return ok;
        }

        function statusOrder(order)
        {
        var string = '<select class="status" id="' + order.id + '">'
                +'<option value="0"' + (order.state == 0 ? 'selected' : '')+'>Initial</option>'
                +'<option value="100" '+ (order.state == 100 ? 'selected' : '')+'>En attente de payement</option>'
                +'<option value="120" '+ (order.state == 120 ? 'selected' : '')+'>En attente de payement restoflash</option>'
                +'<option value="200" '+ (order.state == 200 ? 'selected' : '')+'>Payement validé</option>'
                +'<option value="300" '+ (order.state == 300 ? 'selected' : '')+'>Commande prête</option>'
                +'<option value="310" '+ (order.state == 310 ? 'selected' : '')+'>Commande prête a être emballée</option>'
                +'<option value="320" '+ (order.state == 320 ? 'selected' : '')+'>Commande prête et emballée</option>'
                +'<option value="400" '+ (order.state == 400 ? 'selected' : '')+'>Commande terminée</option>'
                +'<option value="500" '+ (order.state == 500 ? 'selected' : '')+'>Commande annulée</option>'
                +'</select>';

            return string;
        }

        function deliveryStatusOrder(order){
            var string = '<select class="preparationState" id="' + order.id + '">'
                    +'<option value="0" '+ (order.preparation_state == 0 ? 'selected' : '')+'>Traité</option>'
                    +'<option value="1" '+ (order.preparation_state == 1 ? 'selected' : '')+'>En préparation</option>'
                    +'<option value="2" '+ (order.preparation_state == 2 ? 'selected' : '')+'>En cours de livraison</option>'
                    +'<option value="3" '+ (order.preparation_state == 3 ? 'selected' : '')+'>Servi</option>'
                    +'<option value="4" '+ (order.preparation_state == 4 ? 'selected' : '')+'>Problème de livraison</option>'
                    +'<option value="5" '+ (order.preparation_state == 5 ? 'selected' : '')+'>Envoyé</option>'
                    +'</select>';

            return string;
        }

        function toHourDate(format, date)
        {
            var start = 0;
            var end = 0;

            for (i = 0; i < date.length; i++){
                if (date[i] == 'T'){
                    format == 'hour' ? start = i + 1 : end = i;
                }
                if (date[i] == '+'){
                    format == 'hour' ? end = i : 0;
                }
            }
            return date.substring(start, end);
        }

        function updateTab(tab)
        {
            //var prev = $('.tbody').DataTable();

            prev.clear().draw();
            $.each(tab, function(index, order) {
                prev.row.add( [
                    order.restaurant.name,
                    toHourDate('hour', order.created),
                    order.source,
                    order.profile.first_name+" "+order.profile.last_name+" "+order.profile.phone,
                    order.delivery != null ? 'Livraison' : 'A emporter',
                    orderPayment(order),
                    statusOrder(order),
                (order.delivery && order.delivery.delivery_man ? order.delivery.delivery_man : 'Non précisé'),
                (order.delivery && order.delivery.lat && order.delivery.long ? ('Lat: '+order.delivery.lat+' | Long: '+ order.delivery.long) : 'Non précisé'),
                    order.price,
                    toHourDate('date', order.created),
                    deliveryStatusOrder(order),
                    '<a href="#" role="button" id="'+ order.id +'" class="cancel btn btn-large btn-primary" ">Annuler</a>',
                    '<a href="#details'+ order.id +'" id="'+ order.id +'" role="button" class="details btn btn-large btn-primary" data-toggle="modal">Details: </a>',
                '<a href="#deliveryAdress'+ order.id +'" id="'+order.id+ '" role="button" class="deliveryAdress btn btn-large btn-primary" data-toggle="modal">Adresse de livraison: </a>',

                '<div class="late '+ order.id +'" id="' +order.time +'"></div>'
                ] ).draw( false );
            });
            fn60sec();
        }

        $('.orderChange').click(function () {
            var type = $(this).html();

            if (type == 'Restaurant'){
                console.log(type);

                $.ajax({
                    type: "GET",
                    url: "{/ path('board_client_following_by_restaurant', {'contextPk': contextPk}) }"
                }).done(function(msg){
                   var tab =  $.parseJSON(msg);

                    updateTab(tab);
                    console.log(tab);
                }).fail(function (msg) {
                    console.log('failure');
                })

           }else if (type == 'Date'){
                //ref 2
                console.log(type);

                $.ajax({
                    type: "GET",
                    url: "{{ path('board_client_following_by_date', {'contextPk': contextPk}) }}"
                }).done(function(msg){
                    var tab = $.parseJSON(msg);
                    updateTab(tab);
                    console.log(tab);
                }).fail(function (msg) {
                    console.log('failure');
                })

           }else if (type == 'Type'){
                //ref 3
               console.log(type);

                $.ajax({
                    type: "GET",
                    url: "{{ path('board_client_following_by_type', {'contextPk': contextPk}) }}"
                }).done(function(msg){
                    var tab = $.parseJSON(msg);
                    console.log(tab);
                    updateTab(tab);
                }).fail(function (msg) {
                    console.log('failure');
                })
           }
        });

        function changeDeliveryState(id, value)
        {
            var data = {'id': id, 'preparationState': value};
            $.ajax({
                type: 'PUT',
                url: "{{ path('board_preparation_canceled_order', {'contextPk': contextPk}) }}",
                data: data
            }).done(function (msg) {
                sweetAlert('success', 'Le statut a été actualisé');
            }).fail(function () {
                sweetAlert('Erreur, statut inchangé')
            })
        }

        $('.cancel').click(function(){
            var myValue = 500;

            $(this).parent().parent().find('.status').find('option[value="'+ myValue +'"]').prop('selected', 'selected');
            changeOrder($(this).attr('id'), '500');
        });

        $(".status").change(function () {
            changeOrder($(this).attr('id'), $(this).val());
        });

        function changeOrder(id, value)
        {
            var data = {'id': id, 'state': value };
            $.ajax({
                type: "PUT",
                url: "{{ path('board_canceled_order', {'contextPk': contextPk}) }}",
                data: data
            }).done(function( msg ) {
                fn60sec();

                sweetAlert("success", 'Le statut a été actualisé');
            }).fail(function() {
                sweetAlert('Erreur, statut inchangé')
                    });
        };

    </script>
</section>
{% endblock %}
