{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav no-padding{% endblock %}
{% block body %}
<div class="container-fluid" id="dashboard-header">
    <div class="container">
         <div class="row">
            <div class="col-md-8">
                <img src="{{ vich_uploader_asset(proxy, 'logoFile') }}" alt="logo" class="responsive"/>
                <h2>{{ proxy.name }}</h2>
            </div>
             <div class="col-md-4">
                 <a class="btn btn-default btn-lg btn-block" href="{{ path('manager_switch_restaurant', { slug: null }) }}" target="_blank"><i class="fa fa-th icon-left"></i>Gestion des commandes</a>
                 <br>
             </div>
        </div>
    </div>
</div>

<div class="container padding-v-10" id="sales">

    <form method="get" action="{{ path('board_client_reporting', { contextPk: contextPk }) }}">
    <div class="row">
        <div class="col-md-3" id="time-filter">
            <a class="btn btn-primary btn-xs filter-today"><small>Aujourd'hui</small></a>&nbsp;&nbsp;<a class="btn btn-primary btn-xs filter-week"><small>Semaine</small></a>&nbsp;&nbsp;<a class="btn btn-primary btn-xs filter-year"><small>Année</small></a><br>
            <a class="btn btn-primary btn-xs filter-yesterday"><small>Hier</small></a>&nbsp;&nbsp;<a class="btn btn-primary btn-xs filter-month"><small>Mois</small></a>&nbsp;&nbsp;<a class="btn btn-primary btn-xs filter-all"><small>Tout</small></a>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="start" value="{{ start|date('d/m/Y') }}" class="form-control input-block input-lg datepicker-start">
                </div>
                <div class="col-md-4">
                    <input type="text" name="end" value="{{ end|date('d/m/Y') }}" class="form-control input-block input-lg datepicker-end">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Filtrer</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    <br>

    <section class="panel">
        <div class="panel-body">
            <table class="table table-stripped table-bordered table-hover">
                <thead>
                    <th>Restaurant</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Nombre commande</th>
                    <th>Total CA</th>
                    <th>Reporting</th>
                    <td>Détail</td>
                </thead>
                <tbody>
                    {% for data in restaurants %}
                    <tr>
                        <td>{{ data.restaurant.name }}</td>
                        <td>{{ data.restaurant.address.street }}</td>
                        <td>{{ data.restaurant.address.city }}</td>
                        <td>{{ data.count }}</td>
                        <td>{{ data.total }}€</td>
                        <td><a target="_blank" href="{{ path('board_sales_reporting', { contextPk: data.restaurant.slug }) }}"><i class="fa fa-line-chart fa-lg"></i></a></td>
                        <td><a href="{{ path('board_client_edit_restaurant', { contextPk: contextPk, slug: data.restaurant.slug }) }}"><i class="fa fa-gear fa-lg"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var datepickerStart = $('.datepicker-start').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datepicker-end').val()) {
            var date = moment($('.datepicker-end').val(), 'DD/MM/YYYY');
            var maxDate = date.format('YYYY/MM/DD');
        } else {
            var maxDate = false;
        }
        this.setOptions({
            maxDate: maxDate
        })
    },
    onSelectDate: function(datetime, $input) {
        if('' == $('.datepicker-end').val()) {
            $('.datepicker-end').val(datetime.dateFormat('d/m/Y'));
        }
    }
});

var datepickerEnd = $('.datepicker-end').datetimepicker({
    lang: 'fr',
    scrollInput: false,
    format: 'd/m/Y',
    timepicker: false,
    onShow: function(datetime) {
        if($('.datepicker-start').val()) {
            var date = moment($('.datepicker-start').val(), 'DD/MM/YYYY');
            var minDate = date.format('YYYY/MM/DD');
        } else {
            var minDate = false;
        }
        this.setOptions({
            minDate: minDate
        })
    },
});

$('a.filter-today').on('click', function() {
    today = moment();
    datepickerEnd.val(today.format('DD/MM/YYYY'));
    datepickerStart.val(today.format('DD/MM/YYYY'));
});

$('a.filter-yesterday').on('click', function() {
    yesterday = moment().subtract(1, 'days');
    datepickerEnd.val(yesterday.format('DD/MM/YYYY'));
    datepickerStart.val(yesterday.format('DD/MM/YYYY'));
});

$('a.filter-week').on('click', function() {
    today = moment();
    lastWeek = moment().startOf('week');
    datepickerEnd.val(today.format('DD/MM/YYYY'));
    datepickerStart.val(lastWeek.format('DD/MM/YYYY'));
});

$('a.filter-month').on('click', function() {
    today = moment();
    lastMonth = moment().startOf('month');
    datepickerEnd.val(today.format('DD/MM/YYYY'));
    datepickerStart.val(lastMonth.format('DD/MM/YYYY'));
});

$('a.filter-year').on('click', function() {
    today = moment();
    lastYear = moment().startOf('year');
    datepickerEnd.val(today.format('DD/MM/YYYY'));
    datepickerStart.val(lastYear.format('DD/MM/YYYY'));
});

$('a.filter-all').on('click', function() {
    today = moment();
    start = moment('31/07/1989', 'DD/MM/YYYY');
    datepickerEnd.val(today.format('DD/MM/YYYY'));
    datepickerStart.val(start.format('DD/MM/YYYY'));
});
</script>
{% endblock %}
