{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'client',
        route: 'board_client_settings',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8 padding-v-40 padding-h-40 bg-white">
            <div class="form-group">
                {{ form_row(form.forcedPricing, { attr: { class: 'icheck' } }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.forcedAdd, { attr: { class: 'icheck' } }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.forcedIsOnline, { attr: { class: 'icheck' } }) }}
            </div>
            <div class="form-group">
                    <div id="upload">
                        <input type="text" id="upload-file" class="form-control" placeholder="Logo enseigne" value="" readonly>
                        <div id="upload-photo" data-toggle="tooltip" data-placement="bottom" title="Importer image">
                            <i id="logo-upload" class="fa fa-upload"></i>
                            {{ form_widget(form.logoFile,{attr:{'accept':'image/*'},id:'photo-file'}) }}
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                    <img id="logo-client" src="{{ vich_uploader_asset(chainstore, 'logoFile') }}" alt="logo"
                         style="width: 80px;"/>
            </div>
        </div>


    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' with { cancelRoute: path('board_client_settings', { contextPk: contextPk }) } %}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#photo-file').change(function (evt) {
            var tgt = evt.target || window.event.srcElement,
                    files = tgt.files;
            if (FileReader && files && files.length) {
                var fr = new FileReader();
                 fr.onload = function () {
                    document.getElementById('logo-client').src = fr.result;
                }
                fr.readAsDataURL(files[0]);
            }

            $('#upload-file').val(files[0].name);

        });
    </script>
{% endblock %}
