{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'client',
        route: 'board_client_settings_social',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid padding-v-20">
    <div class="row">
        <div class="col-md-4">
            <section class="panel">
                <header class="panel-heading"><i class="fa fa-facebook icon-left"></i>Facebook</header>
                <div class="panel-body">
                    {% if proxy.socialProfile.facebookAccessToken %}
                        {% set data = proxy.socialProfile.facebookDataDecoded %}
                        <div class="media">
                            {% if proxy.facebookPage %}
                            <div class="pull-left"><img src="https://graph.facebook.com/{{ proxy.facebookPage.facebookId }}/picture?width=40&height=40" class="img-circle"></div>
                            {% endif %}
                            <div class="media-body">
                                <p>Connecté en tant que {{ data.first_name }} {{ data.last_name }}</p>
                                {% if proxy.facebookPage %}
                                    <p>Vous publiez sur la page <strong>{{ proxy.facebookPage.name }}</strong></p>
                                {% else %}
                                    <p>Vous n'avez pas encore relié de page.</p>
                                {% endif %}

                                {% if proxy.facebookPage %}
                                    <hr>
                                        <p><strong>Boutique Facebook</strong></p>
                                        {% if fbOrder %}
                                        <small><i class="fa fa-circle icon-success icon-left"></i>L'onglet commande en ligne est installé</small>
                                        {% else %}
                                        <small><i class="fa fa-circle icon-danger icon-left"></i>L'onglet commande en ligne ne semble pas encore installé</small>
                                        {% endif %}
                                        <br><br>
                                        <a class="btn btn-facebook" href="{{ path('board_social_add_page_tab', { context: context, contextPk: contextPk, tab: 'iframe', backUrl: url('board_client_settings_social', { contextPk: contextPk })|url_encode }) }}"><i class="fa fa-facebook icon-left"></i>Ajouter l'onglet sur Facebook</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <p>
                            1/ Cliquez sur "Se connecter avec Facebook"<br>
                            2/ Cliquez sur OK pour chaque fenêtre sur Facebook (3 fois)<br>
                            3/ Choisissez la page de votre restaurant<br>
                            <br>
                            <small>Nous ne posterons aucun message sur votre profil Facebook personnel ni sans votre autorisation.</small>
                        </p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {% if proxy.socialProfile.facebookAccessToken %}
                        <a class="btn btn-default confirmModal" href="#" data-route="{{ path('board_social_configuration_remove', { contextPk: contextPk, type: 'facebook', context: 'client', backUrl: url('board_client_settings_social', { contextPk: contextPk }) }) }}">{{ 'pro.communication.conf.connect.logout'|trans }}</a>
                        <a href="{{ path('board_social_configuration_choose_page', { context: context, contextPk: contextPk, backUrl: url('board_client_settings_social', { contextPk: contextPk }) }) }}" data-target="ajaxModal" class="btn btn-primary choosePage">{% if not proxy.facebookPage %}Choisir votre page{% else %}Changer la page{% endif %}</a>
                    {% else %}
                        <a class="btn btn-default btn-facebook" href="{{ path('opauth', { redirect: path('board_client_settings_social', { contextPk: contextPk, trigger: 'page' }), type: 'facebook', socialProfileId: proxy.socialProfile.id }) }}"><i class="fa fa-facebook icon-left"></i>{{ 'pro.communication.conf.connect.facebookButton'|trans }}</a>
                    {% endif %}
                </div>
            </section>            
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    {% if trigger is defined and trigger == 'page' %}
        $('.choosePage').click();
    {% endif %}
</script>
{% endblock %}