{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'client',
        route: 'board_client_settings_suggestions',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding">
    <table class="well table-hover table-condensed table-bordered" style="margin:50px auto 5px auto;overflow-x:scroll;width: 90%;">
        <thead>
            <th></th>
            {% for category in categories if not category.isDeleted and category.products | length > 0 %}
                <th class="rotate"><div><span>{{ category.name }}</span></div></th>
            {% endfor %}
        </thead>
        <tbody style="height: 400px;overflow-y: scroll">
            {% for category in categories if not category.isDeleted and category.products | length > 0 %}
                <tr>
                    <td><div class="table-row">{{ category.name }}</div></td>
                    {% for c in categories if not category.isDeleted and category.products | length > 0 %}
                        <td><input type="text" value="{{ category.getSuggestionCategoryRatioForCategoryId(c.id) }}" name="ratio-cat" data-catY="{{ category.id }}" data-catX="{{ c.id }}" style="height: 30px; width:30px; border:none;text-align: center;"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for category in categories if not category.isDeleted and category.products | length > 0 %}
        <table class="well table-hover table-condensed table-bordered" style="margin:5px auto;overflow-x:scroll;width: 90%;">
            <thead>
            <th></th>
            {% for product in category.products if not product.isDeleted %}
                <th class="rotate"><div><span>{{ product.name }}</span></div></th>
            {% endfor %}
            </thead>
            <tbody style="height: 400px;overflow-y: scroll">
                <tr>
                    <td><div class="table-row">{{ category.name }}</div></td>
                    {% for product in category.products if not product.isDeleted %}
                        <td><input type="text" value="{{ category.getSuggestionCategoryRatioForProductId(product.id) }}" name="ratio-cat-prod" data-catY="{{ category.id }}" data-catX="{{ product.id }}" style="height: 30px; width:30px; border:none;text-align: center;"></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endfor %}
    <p class="text-center"><button id="submitCatRatios" class="btn btn-primary btn-lg">Valider</button></p>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var catRatios = [];
        var prodRatios = [];

        $('#submitCatRatios').click(function(){
            {% for category in categories if not category.isDeleted%}
                catRatios[{{ category.id }}] = [];
                prodRatios[{{ category.id }}] = [];
            {% endfor %}
            $('input[name="ratio-cat"]').each(function(){
                var catY = $(this).attr('data-catY');
                var catX = $(this).attr('data-catX');

                catRatios[catY].push({'category':catX, 'weight': isNaN($(this).val()) ? 0: $(this).val()});
            });

            $('input[name="ratio-cat-prod"]').each(function(){
                var catY = $(this).attr('data-catY');
                var catX = $(this).attr('data-catX');

                prodRatios[catY].push({'product':catX, 'weight': $(this).val()})
            });

            $.post("{{ path('board_client_settings_suggestions', {contextPk: contextPk, context: context}) }}", {"catRatios": catRatios}, function(data){
            }).fail(function(){
               alert('error');
            });
            $.post("{{ path('board_client_settings_suggestions', {contextPk: contextPk, context: context}) }}", {"prodRatios": prodRatios}, function(data){
            }).fail(function(){
                alert('error');
            });
        });
    </script>
{% endblock %}
