{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% form_theme form _self %}

{% block _form_choices_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
    <ul class="list list-group list-group-checkbox">
    {% for id, child in form %}
        {% set entity = form.vars.choices[id].data %}
        <li class="list-group-item clearfix">
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if entity.gallery %}
            <img src="{{ entity.gallery.cover.webPath | imagine_filter('square_60') }}">
            {% endif %}
            <span class="name">{{ child.vars.label|trans({}, translation_domain) }}</span>
            <div class="checkbox pull-right">
                {{ form_widget(child, {'attr': {'class': 'icheck ' ~ attr.widget_class|default('')}}) }}
            </div>
        </label>
        </li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock _form_choices_widget %}

{% block title %}{{ option.name }}{% endblock %}

{% block body %}
{% if form.choices|length > 0 %}
<form method="post" action="{{ path('board_option_assign_choices', { context: context, contextPk: contextPk, id: option.id }) }}">
    <div id="choices">
        <input type="text" class="search form-control input-lg square" placeholder="Rechercher..." style="border-bottom: none;">
        {{ form_widget(form.choices) }}
    </div>
    {{ form_errors(form.choices) }}
    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% else %}
    <p>Vous n'avez pas encore de choix.</p>
    <a href="{{ path('board_option_choice_library', { context: context, contextPk: contextPk }) }}" class="btn btn-primary">Créer mon premier choix</a>
{% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var choiceList = new List('choices', {
    valueNames: [ 'name' ]
});
var fulllist = [];
$('.list-group-item.clearfix').each(function(){
    fulllist.push($(this));
});
$('button[type="submit"]').on('click',function(e){
    $('.list.list-group.list-group-checkbox').find('.list-group-item.clearfix').each(function(){
        if(fulllist.indexOf($(this))>=0){
            fulllist.splice(fulllist.indexOf($(this)),1);
        }
    })
    $('.list.list-group.list-group-checkbox').append(fulllist);
});
</script>

{% endblock %}
