<form method="post" action="{{ path('board_option_edit', { context: context, contextPk: contextPk, id: option.id }) }}" novalidation novalidate class="ajax-form" data-callback="#optionList">
    <div class="drawer-scroll">
        {% if context == 'client' %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-warning icon-left"></i>Les modifications s'appliqueront sur tous vos restaurants.</p>
        </div>
        {% elseif option.parent %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-lock icon-left"></i>Cette option provient de votre enseigne, les options d'édition peuvent être limitées.</p>
        </div>
        {% endif %}

        {% if form.name is defined %}
        <div class="form-group">
            {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
        </div>
        {% endif %}

        {% if form.subwayType is defined %}
        <div class="form-group">
            {{ form_row(form.subwayType, { attr: { class: 'form-control input-lg' } }) }}
        </div>
        {% endif %}

        <div class="row" {% if option.parent %}style="display:none;"{% endif %}>
            <div class="col-md-4">
                <div class="big-label">
                    {{ form_row(form.required, { attr: { class: 'icheck' } }) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="big-label">
                    {{ form_row(form.multiple, { attr: { class: 'icheck multipleCheck' } }) }}
                </div>
            </div>

            <div class="col-md-4 minmax" {% if not option.multiple %}style="display:none;"{% endif %}>
                {{ form_row(form.minimum, { attr: { class: 'form-control' } }) }}
                {{ form_row(form.maximum, { attr: { class: 'form-control' } }) }}
            </div>
        </div>

        {% if not option.parent or form.choices|length > 0 %}
        <hr>
        <div id="choice-fields-list" class="input-list sortable" {% if form.choices.vars.prototype is defined %}data-prototype="{{ _self.choice_prototype(form.choices.vars.prototype)|e }}"{% endif %}>
            {% for choice in form.choices %}
                {% if not choice.vars.data.isDeleted %}
                    <div class="row input-row choice-field">
                        <div class="col-md-5">
                            {{ choice.vars.data.value }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(choice.price, { attr: { class: 'form-control input-right' } }) }}
                        </div>
                        <div class="col-md-1">
                            €
                        </div>
                        <div class="col-md-1">
                            <span class="text-muted handle"><i class="fa fa-reorder"></i></span>
                        </div>
                        <div class="col-md-1">
                            {% if not option.parent %}
                            <span class="text-muted remove"></span>
                            {% endif %}
                            {{ form_widget(choice.position, { attr: { class: 'choice-position' } }) }}
                            {{ form_rest(choice) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <p>Il n'y a pas encore de choix définis dans cette option au niveau de votre enseigne.</p>
        {% endif %}

        {% if option.id and not option.parent %}
        <br><br>
        <a class="btn btn-sm btn-primary btn-block ladda-button btn-form-watch" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_option_assign_choices', { context: context, contextPk: contextPk, id: option.id }) }}">Ajouter/supprimer des choix</a>
        {% endif %}

        {% if form.forcePrice is defined %}
        <hr>
        <div class="form-group">
            {{ form_row(form.forcePrice, { attr: { class: 'icheck' } }) }}
        </div>
        {% endif %}

        {{ form_rest(form) }}

        {% if option.products|length > 0 %}
        <hr>
        <h4>Produits utilisant cette option</h4>
        <ul class="list-group">
            {% for product in option.products %}
                {% if not product.isDeleted %}
            <li class="list-group-item">
                <img src="{{ product.gallery.cover.webPath | imagine_filter('square_40') }}">
                &nbsp;&nbsp;
                {{ product.name }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { duplicateLink: option.id and not option.parent ? path('board_option_duplicate', { context: context, contextPk: contextPk, id: option.id }),deleteLink: option.id and not option.parent ? path('board_option_delete', { context: context, contextPk: contextPk, id: option.id }) : null } %}
</form>

<script type="text/javascript">
$('.multipleCheck').on('ifChecked', function(event) {
    $('.minmax').show();
});

$('.multipleCheck').on('ifUnchecked', function(event) {
    $('.minmax').hide();
});

$('.sortable').sortable({
    handle: '.handle',
    cursor: 'move',
    helper: function(event, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    },
    update: function(event, ui) {
        $('.choice-field').each(function() {
            $(this).find('.choice-position').val($(this).index() + 1);
        });
    }
});
</script>
