{% for option in options %}
<tr
    id="option-{{ option.id }}"
    class="mix clickable"
    data-target="drawer" href="{{ path('board_option_edit', { context: context, contextPk: contextPk, id: option.id }) }}"
>
    <td>
        {{ option.name }}
    </td>
    <td>
        {% for choice in option.choices %}
            {{ choice.value }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </td>
    <td>
            <a class="btn btn-sm btn-primary ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_option_assign', { context: context, contextPk: contextPk, id: option.id }) }}">Gérer</a>

        &nbsp;&nbsp;
        {% set productCount = option.products|length %}
        {% if productCount > 0 %}
            <span class="badge badge-success">{{ productCount }}</span>
        {% else %}
            <span class="badge">{{ productCount }}</span>
        {% endif %}
    </td>
</tr>
{% endfor %}
