{% extends 'ClabMultisiteBundle::baseModal.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
{% if not product.coverDefault %}
<div class="text-center">
    <img src="{{ product.cover }}" class="img-responsive" alt="{{ product.name }}">
</div>
{% endif %}
<h4><span class="text-info">{{ product.currentPrice }}€</span></h4>
<p>{{ product.description }}</p>
{% endblock %}
