{% extends 'ClabMultisiteBundle::base.html.twig' %}

{% block title %}Avis - {% endblock %}
{% block ogtitle %}Avis - {% endblock %}
{% block metaDescription %}Consultez tous nos avis.{% endblock %}
{% block ogdescription %}Consultez tous nos avis.{% endblock %}
{% block metaKeywords %}avis{% endblock %}

{% block subnav %}
    {% include 'ClabMultisiteBundle::subnav.html.twig' with { currentPage: 'reviews' } %}
{% endblock %}

{% block body %}
<section class="container padding-v-60" id="reviews">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-info btn-block" href="{{ path('multisite_reviews_write') }}"><i class="fa fa-star icon-left"></i>{{ 'clickeat.store.reviews.write'|trans }}</a>
            {% set reviewCount = restaurant.reviewData.count %}
            <h3>{{ 'clickeat.store.reviews.title'|trans }}</h3>
        </div>

        <div class="col-md-8">
            <ul class="list-group">
                {% for review in reviews %}
                    <div class="block-frame">
                        <div class="blog-list">
                            <div class="text-box">
                                <header class="heading">
                                    <div class="title">
                                        <span class="name">{{ review.profile.firstName }} {{ review.profile.lastName }}</span>
                                        <time datetime="2009-10-09">
                                            - {{ review.created|date('d-m-Y') }}</time>
                                    </div>
                                    {% if review.score < 6 %}
                                        <div class="right-part black">
                                            <p>Note :
                                                <span class="rate">{{ review.score }}</span>
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="right-part green">
                                            <p>Note :
                                                <span class="rate">{{ review.score }}</span>
                                            </p>
                                        </div>
                                    {% endif %}
                                </header>
                                <p>{{ review.body }}</p>

                                <p>{{ review.image }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {% include 'ClabClickeatBundle:Mixpanel:mixpanel.html.twig' with { mixpanelTrack: 'View reviews', mixpanelTrackProperties: { 'Restaurant': restaurant.name } } %}
{% endblock %}