{% extends 'ClabMultisiteBundle::base.html.twig' %}

{% block title %}Nos actualités - {% endblock %}
{% block ogtitle %}Nos actualités - {% endblock %}
{% block metaDescription %}Consultez nos dernières actualités.{% endblock %}
{% block ogdescription %}Consultez nos dernières actualités.{% endblock %}
{% block metaKeywords %}actualités{% endblock %}

{% block subnav %}
    {% include 'ClabMultisiteBundle::subnav.html.twig' with { currentPage: 'social' } %}
{% endblock %}

{% block body %}
<section class="container padding-v-60" id="social">
    <div class="feed">
        {% for post in posts %}
            <div class="card">
                {% if post.image or post.proxyCover %}
                <div class="card-content">
                    <img class="img-responsive" src="{% if post.image %}{{ vich_uploader_asset(post, 'image')| imagine_filter('square_300') }}{% elseif post.proxyCover %}{{ post.proxyCover.webPath| imagine_filter('square_300') }}{% endif %}" alt="{{ post.title }}">
                </div>
                {% elseif post.address %}
                    <a href="https://maps.google.com/?q={{ post.address.street ~ ' ' ~ post.address.zip ~ ' ' ~ post.address.city|url_encode }}" target="_blank">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ post.address.latitude }},{{ post.address.longitude }}&zoom=15&size=300x300&maptype=roadmap&markers={{ post.address.latitude }},{{ post.address.longitude }}&sensor=false" alt="{{ post.address.verbose }}" class="img-responsive">
                    </a>
                {% endif %}
                <div class="card-header">
                    <p class="text-primary"><strong>{{ post.title }}</strong></p>
                    <p><small>{{ post.message }}</small></p>
                    <p class="text-muted"><small>Le {{ post.created|date('d/m/y') }} à {{ post.created|date('H:i') }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
    var $feed = $('.feed');

    var applyIsotope = function() {
        $feed.isotope({
            itemSelector: '.card',
            masonry: {
                columnWidth: 280,
                gutter: 10,
                isFitWidth: true
            },
        });
    }

    $('a.filter').on('click', function(e) {
        e.preventDefault();
        $('.gallery').isotope({ filter: '.' + $(this).data('filter') });

        $('a.filter').each(function() {
            $(this).parent('li').removeClass('active');
        });

        $(this).parent('li').addClass('active');
    });

    applyIsotope();
});
</script>
{% include 'ClabClickeatBundle:Mixpanel:mixpanel.html.twig' with { mixpanelTrack: 'View news', mixpanelTrackProperties: { 'Restaurant': restaurant.name } } %}
{% endblock %}