{% extends 'ClabMultisiteBundle::base.html.twig' %}

{% block body %}
<section class="container-fluid padding-v-60" id="reviews">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ path('multisite_reviews_write') }}" method="post">
                <h2 class="thin text-center">Laissez votre avis</h2>

                <div class="text-center">
                    <p><strong>{{ 'clickeat.review.score'|trans }}</strong></p>
                    <div data-score="1" id="rating"></div>
                </div>

                <div style="display:none;">
                    {{ form_row(form.score, { attr: { class: 'form-control rating-select' } }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.authorName, { attr: { class: 'form-control' } }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.title, { attr: { class: 'form-control' } }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.body, { attr: { class: 'form-control', rows: 10 } }) }}
                </div>

                {{ form_rest(form) }}

                <hr>
                <button type="submit" class="btn btn-info btn-block">{{ 'clickeat.review.button'|trans }}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('#rating').raty({
    score: function() {
        return $(this).attr('data-score');
    },
    starOff: '{{ asset('front/bundle/clickeat/img/raty/star-off.png') }}',
    starOn : '{{ asset('front/bundle/clickeat/img/raty/star-on.png') }}',
    target : '.rating-select',
    targetType : 'score',
    targetKeep : true,
    hints: ['', '', '', '', ''],
    score: 5,
});

$('form').on('submit', function(e) {
    $(this).find('button[type="submit"]').addClass('disabled');
});
</script>
{% endblock %}