{% import 'ClabBoardBundle:Mail:macro/mail.html.twig' as mail %}

<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #383f43;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
  <tbody><tr>
    <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
      <center>
        <table class="one-col-feature" style="border-collapse: collapse;border-spacing: 0;width: 600px;Margin-left: auto;Margin-right: auto">
          <tbody><tr>
            <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;text-align: left">
              <table class="contents-grey" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #e6e7e8">
                <tbody><tr>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                    <div><div class="column-top" style="font-size: 30px;line-height: 25px">&nbsp;</div></div>

                      {% if block1 is defined and block1 %}
                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top">

                            {% if title1 is defined %}
                            <h1 style="Margin-top: 0;font-weight: normal;font-family: sans-serif;color: #212a32;font-size: 30px;line-height: 46px;Margin-bottom: 20px;text-align: left">{{ title1|raw }}</h1>
                            <br>
                            {% endif %}
                            {% if content1 is defined %}
                            <p style="Margin-top: 0;font-weight: 400;-webkit-font-smoothing: antialiased;font-family: sans-serif;color: #212a32;font-size: 15px;line-height: 25px;Margin-bottom: 20px;text-align: left">{{ content1|raw }}</p>
                            {% endif %}

                          </td>
                        </tr>
                      </tbody></table>
                      {% endif %}


                      {% if button1 is defined and button1 %}
                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top;text-align: left">

                            <div class="btn" style="Margin-bottom: 20px">
                            <!--[if !mso]><!-- --><a style="mso-hide: all;-webkit-font-smoothing: antialiased;padding-top: 15px;padding-bottom: 15px;font-weight: 600;display: inline-block;font-size: 15px;line-height: 20px;text-align: center;text-decoration: none;border-bottom-color: #D1D1D1;border-bottom-style: solid;border-bottom-width: 3px;color: #ffffff;transition: background-color 0.2s;font-family: sans-serif;width: 480px;padding-left: 20px;padding-right: 20px;background-repeat: repeat-x;background-color: #5bc0de;background-image: url({{ domain ~ asset('front/bundle/board/img/mail/btn-blue.png') }})" href="{{ button1Link }}" title="{{ button1Label }}">{{ button1Label }}</a><!--<![endif]-->
                          <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="http://preview.createsend1.com/t/t-l-jrulhly-l-j/" style="width:520px" fill="t" stroke="f"><v:fill type="tile" src="https://i1.createsend1.com/static/eb/master/09-onyx/images/btn-blue.png" color="#367FFD"></v:fill><v:shadow on="t" color="#383f43" on="t" offset="0,3px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,15px,0px,15px"><center style="font-size:16px;line-height:20px;color:#FFFFFF;font-family:sans-serif;font-weight:500;mso-line-height-rule:exactly;mso-text-raise:1px">Une autre action</center></v:textbox></v:rect><![endif]--></div>
                            <small style="text-align:center;">{{ mail.link("Si le lien ne s'affiche pas, cliquez ici", button1Link) }}</small>
                          </td>
                        </tr>
                      </tbody></table>
                      {% endif %}

                      {% if block2 is defined and block2 %}
                      <br>
                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top">

                            {% if title2 is defined %}
                            <h1 style="Margin-top: 0;font-weight: normal;font-family: sans-serif;color: #212a32;font-size: 30px;line-height: 46px;Margin-bottom: 20px;text-align: left">{{ title2|raw }}</h1>
                            <br>
                            {% endif %}
                            {% if content2 is defined %}
                            <p style="Margin-top: 0;font-weight: 400;-webkit-font-smoothing: antialiased;font-family: sans-serif;color: #212a32;font-size: 15px;line-height: 25px;Margin-bottom: 20px;text-align: left">{{ content2|raw }}</p>
                            {% endif %}

                          </td>
                        </tr>
                      </tbody></table>
                      {% endif %}


                      {% if button2 is defined and button2 %}
                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top">

                            <div class="btn" style="Margin-bottom: 20px">
                            <!--[if !mso]><!-- --><a style="mso-hide: all;-webkit-font-smoothing: antialiased;padding-top: 15px;padding-bottom: 15px;font-weight: 600;display: inline-block;font-size: 15px;line-height: 20px;text-align: center;text-decoration: none;border-bottom-color: #D1D1D1;border-bottom-style: solid;border-bottom-width: 3px;color: #ffffff;transition: background-color 0.2s;font-family: sans-serif;width: 480px;padding-left: 20px;padding-right: 20px;background-repeat: repeat-x;background-color: #5bc0de;background-image: url({{ domain ~ asset('front/bundle/board/img/mail/btn-blue.png') }})" href="{{ button2Link }}" title="{{ button2Label }}">{{ button2Label }}</a><!--<![endif]-->
                          <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="http://preview.createsend1.com/t/t-l-jrulhly-l-j/" style="width:520px" fill="t" stroke="f"><v:fill type="tile" src="https://i1.createsend1.com/static/eb/master/09-onyx/images/btn-blue.png" color="#367FFD"></v:fill><v:shadow on="t" color="#383f43" on="t" offset="0,3px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,15px,0px,15px"><center style="font-size:16px;line-height:20px;color:#FFFFFF;font-family:sans-serif;font-weight:500;mso-line-height-rule:exactly;mso-text-raise:1px">Une autre action</center></v:textbox></v:rect><![endif]--></div>
                            <small style="text-align:center;">{{ mail.link("Si le lien ne s'affiche pas, cliquez ici", button2Link) }}</small>
                          </td>
                        </tr>
                      </tbody></table>
                      {% endif %}

                    <div class="column-bottom" style="font-size: 10px;line-height: 10px">&nbsp;</div>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>