<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>{{ restaurant.name }} | {% block title %}{% endblock %}{% if restaurant.isMobile %}Food truck{% if restaurant.legalAddress %} {{ restaurant.legalAddress.zip ~ ' ' ~ restaurant.legalAddress.city|capitalize }}{% endif %}{% else %}Restaurant{% if restaurant.address %} {{ restaurant.address.zip ~ ' ' ~ restaurant.address.city|capitalize }}{% endif %}{% endif %} - {{ restaurant.tags|join(', ') }}</title>

        <meta name="description" content="{% if restaurant.isMobile %}Food truck {{ restaurant.name }}{% if restaurant.legalAddress %} à {{ restaurant.legalAddress.city|capitalize ~ ' ' ~ restaurant.legalAddress.zip }}{% endif %}{% else %}Restaurant {{ restaurant.name }}{% if restaurant.address %} à {{ restaurant.address.city|capitalize ~ ' ' ~ restaurant.address.zip }}{% endif %}{% endif %}. {{ restaurant.tags|join(', ') }} {% if restaurant.hasOrderType(1) and restaurant.hasOrderType(3) %}à emporter et en livraison{% elseif restaurant.hasOrderType(1) %}à emporter{% elseif restaurant.hasOrderType(3) %}en livraison{% endif %}. {% block metaDescription %}Consultez nos menus, avis, adresse, horaires et contact.{% endblock %}">

        <meta name="keywords" content="{% if restaurant.isMobile %}food truck{% else %}restaurant{% endif %}, {{ restaurant.name }}, {{ restaurant.tags|join(', ') }}, {% if restaurant.hasOrderType(1) %}à emporter, {% endif %}{% if restaurant.hasOrderType(3) %}en livraison, {% endif %}{% block metaKeywords %}menu, horaires,avis, commande en ligne, informations, photo, contact{% endblock %}">

        <meta property="og:title" content="{{ restaurant.name }} | {% block ogtitle %}{% endblock %}{% if restaurant.isMobile %}Food truck{% if restaurant.legalAddress %} {{ restaurant.legalAddress.zip ~ ' ' ~ restaurant.legalAddress.city|capitalize }}{% endif %}{% else %}Restaurant{% if restaurant.address %} {{ restaurant.address.zip ~ ' ' ~ restaurant.address.city|capitalize }}{% endif %}{% endif %} - {{ restaurant.tags|join(', ') }}" />

        <meta property="og:description" content="{% if restaurant.isMobile %}Food truck {{ restaurant.name }}{% if restaurant.legalAddress %} à {{ restaurant.legalAddress.city|capitalize ~ ' ' ~ restaurant.legalAddress.zip }}{% endif %}{% else %}Restaurant {{ restaurant.name }}{% if restaurant.address %} à {{ restaurant.address.city|capitalize ~ ' ' ~ restaurant.address.zip }}{% endif %}{% endif %}. {{ restaurant.tags|join(', ') }} {% if restaurant.hasOrderType(1) and restaurant.hasOrderType(3) %}à emporter et en livraison{% elseif restaurant.hasOrderType(1) %}à emporter{% elseif restaurant.hasOrderType(3) %}en livraison{% endif %}. {% block ogdescription %}Consultez nos menus, avis, adresse, horaires et contact.{% endblock %}" />

        <meta property="og:image" content="{% block ogimage %}{{ restaurant.cover }}{% endblock %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" media="screen" href="{{ asset('front/bundle/byclickeat/build/css/base.css') }}?version=1.1.3">
        <link rel="stylesheet" media="screen" href="{{ iframe_url('multisite_style') }}">
        <script src="{{ asset('front/modernizr.js') }}"></script>

        {# Google analytics #}
        {% if app.environment == 'prod' %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-36162511-6');
                ga('send', 'pageview');
            </script>
        {% endif %}
        <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("{{ mixpanel_token_byclickeat }}");</script><!-- end Mixpanel -->
    </head>
    <body>
        {% include 'ClabMultisiteBundle::nav.html.twig' %}
        {% block subnav %}
            {% include 'ClabMultisiteBundle::subnav.html.twig' %}
        {% endblock %}
        {% include 'ClabMultisiteBundle:Multisite:partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'ClabMultisiteBundle::footer.html.twig' %}

        <div class="modal fade" id="modal" aria-labelledby="modal" aria-hidden="true"></div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script src="{{ asset('front/bundle/byclickeat/build/js/app.min.js') }}?version=1.1"></script>
        <script type="text/javascript">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                sweetAlert('Oops...', '{{ flashMessage|trans|escape('js') }}', 'error');
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                sweetAlert('', '{{ flashMessage|trans|escape('js') }}', 'success');
            {% endfor %}
        </script>
        {% if not restaurant.isMobile %}
        {% include 'ClabMultisiteBundle:Multisite:partials/mapScript.html.twig' %}
        {% endif %}
        {% block javascripts %}{% endblock %}
        {% include 'ClabClickeatBundle:Mixpanel:mixpanel.html.twig' with { mixpanelLinks: { phone: { id: '#linkPhone', eventName: 'Click phone number', properties: { 'Restaurant': restaurant.name } } } } %}
    </body>
</html>