<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ clientName | upper }} | {% block title %}myClickeat{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{{ clientName | upper }}  mangez sans attendre dans nos restaurants : commande de repas à emporter avec retrait prioritaire.{% endblock %}">
        <meta property="og:title" content="{{ clientName | upper }} | {% block ogtitle %} Clickeat{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{{ clientName | upper }} mangez sans attendre dans nos restaurants : commande de repas à emporter avec retrait prioritaire.{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ asset('bundles/clabboard/img/favicon/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/datatables.net-dt/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css')}}" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/clabboard/css/base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        {% block nav %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="mainNav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% if context is defined %}{{ path('board_dashboard', { context: context, contextPk: contextPk }) }}{% else %}{{ path('board_dashboard') }}{% endif %}">
                        <div id="spinner" style="display:none;">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <img src="{{ asset('images/logo-white.png') }}" id="logo">
                        <i class="fa fa-home fa-lg" id="icon-home"></i>
                    </a>
                </div>
                {% block navContent %}
                <div class="collapse navbar-collapse" id="mainNav-collapse">
                    {{ knp_menu_render('ClabBoardBundle:Menu:mainMenu', { 'depth': 1, 'template': 'ClabBoardBundle:Base:menu.html.twig' }) }}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="round">
                            <a href="{{ path('board_preview', { contextPk: contextPk }) }}" data-toggle="tooltip" data-title="Aperçu de votre restaurant" data-placement="bottom"><i class="fa fa-eye"></i></a>
                        </li>
                        <li class="dropdown dropdown-user">
                            {% if app.user %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ app.user.cover  | imagine_filter('square_40') }} ">
                                &nbsp;&nbsp;{{ app.user.fullname }}&nbsp;&nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if context == 'restaurant' %}
                                    {% if proxy.status < 3000 %}
                                    <li style="background:green;">     <a href="{{ path('board_onboard_customer_pay',{'slug':planInhouse.stripePlanId,
                                        'contextPk':contextPk}) }}">Activer mon compte</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if context == 'restaurant' %}
                                    <li><a href="{{ path('board_settings', { contextPk: contextPk, type: 'mails' }) }}">Paramètres du compte</a></li>
                                {% if "ROLE_MANAGER" in  app.user.roles or  app.user.email ends with '@click-eat.fr' %}
                                    <li><a href="{{ path('board_subscription_dashboard', { contextPk: contextPk }) }}">Mon abonnement</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    {% if proxy.hasOrderType(1) or proxy.hasOrderType(3) %}
                                    <li><a href="{{ path('manager_switch_restaurant', { slug: proxy.slug }) }}" target="_blank">Gestion des commandes</a></li>
                                    {% endif %}
                                    <li><a data-target="ajaxModal" href="{{ path('board_contact') }}">Nous contacter</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('board_dashboard') }}">Changer d'enseigne</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                            </ul>
                            {% else %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {% block subnav %}
        {% endblock %}

        <div id="viewport">
            <div id="mainView">
                {% block body %}
                {% endblock %}
            </div>

            <div id="drawer">
            </div>
        </div>

        <div class="modal fade" id="ajaxModal" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmModal" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Cette opération est irréversible, êtes-vous sûr de vouloir poursuivre ?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <form method="post" action="">
                            <button type="submit" class="btn btn-danger">Confirmer</button>
                        </form>
                      </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="forcedPricingModal" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Opération indisponible</h4>
                    </div>
                    <div class="modal-body">
                        <p>Cette opération est réservée à votre enseigne, merci de vous connecter à l'espace myClickeat Enseigne.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="{{ path('board_dashboard') }}">Se connecter à l'enseigne</a>
                      </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ajaxFormChangeModal" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Modifications non enregistrées</h4>
                    </div>
                    <div class="modal-body">
                        <p>Afin de poursuivre, vous devez enregistrer vos modifications ou les annuler.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-save">Enregistrer</button>
                      </div>
                </div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places,geometry&key=AIzaSyBM13V8VgC3ZlPvtwAj6Svogy-xYlXQirU"></script>
        <script type="text/javascript" src="https://dme0ih8comzn4.cloudfront.net/js/feather.js"></script>
        <script src="{{ asset('front/bundle/board/build/js/app.min.js') }}?v=1.1.6"></script>
        <script type="text/javascript">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                sweetAlert('Oops...', '{{ flashMessage|trans|escape('js') }}', 'error');
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                sweetAlert('', '{{ flashMessage|trans|escape('js') }}', 'success');
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('danger') %}
            sweetAlert('', '{{ flashMessage|trans|escape('js') }}', 'error');
            {% endfor %}
        </script>
        <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
        <script type="text/javascript">
            if($("#datatable").length >0) {
                var table = $("#datatable").DataTable({
                    dom: 'lfrtBp',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    aaSorting: [],
                    "pageLength": -1,
                    "lengthMenu": [[-1, 25, 50, 10], [ "Tous", 25, 50,10]],
                    "language": {
                        "sProcessing":     "Traitement en cours...",
                        "sSearch":         "Rechercher&nbsp;:",
                        "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments &nbsp;&nbsp;&nbsp;",
                        "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment&nbsp;&nbsp;&nbsp;",
                        "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "sInfoPostFix":    "",
                        "sLoadingRecords": "Chargement en cours...",
                        "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                            "sFirst":      "Premier",
                            "sPrevious":   "Pr&eacute;c&eacute;dent",
                            "sNext":       "Suivant",
                            "sLast":       "Dernier"
                        },
                        "oAria": {
                            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }
                    }
                });

                table.columns().every( function () {
                    var that = this;

                    $( 'input', this.header() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                    .search( this.value )
                                    .draw();
                        }
                    } );
                } );
            }
            if($('.datatable').length >0) {
                var tables = [];
                $('.datatable').each(function(index,element){
                    tables[index] = $(this).DataTable({
                        dom: 'lfrtBp',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ],
                        aaSorting: [],
                        "language": {
                            "sProcessing":     "Traitement en cours...",
                            "sSearch":         "Rechercher&nbsp;:",
                            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments &nbsp;&nbsp;&nbsp;",
                            "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                            "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment&nbsp;&nbsp;&nbsp;",
                            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                            "sInfoPostFix":    "",
                            "sLoadingRecords": "Chargement en cours...",
                            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                            "oPaginate": {
                                "sFirst":      "Premier",
                                "sPrevious":   "Pr&eacute;c&eacute;dent",
                                "sNext":       "Suivant",
                                "sLast":       "Dernier"
                            },
                            "oAria": {
                                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                            }
                        }
                    });

                    tables[index].columns().every( function () {
                        var that = this;

                        $( 'input', this.header() ).on( 'keyup change', function () {
                            if ( that.search() !== this.value ) {
                                that
                                        .search( this.value )
                                        .draw();
                            }
                        } );
                    } );
                })
            }
        </script>
        {% block javascripts %}
        {% endblock %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?23Gv6DbRKTOO779gxcMB6ISHzr27eXkh';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    </body>
</html>
