{% extends 'ClabWhiteBundle:Mail:base.html.twig' %}

{% block title %}
Votre commande chez {{ restaurant.name }} a bien été prise en compte
{% endblock %}

{% block body %}
<p>
Livraison prévue le {{ order.time|date('d-m-Y') }} à {{ order.time|date('H:i') }} h (+/- 15min) à l’adresse suivante :
<br><br>
{{ order.delivery.address.verbose }}<br>
{{ order.delivery.address.fullStringDescription() | nl2br }}
<br>
Le montant de votre commande est de {{ order.price }} €.
{% if order.onlinePayment %}
  La commande a déjà été payée en ligne.<br>
{% else %}
  Vous avez choisi de payer à la livraison
    {% if order.onSitePayments['cash'] is defined and order.onSitePayments['cash'] > 0 %}
        en espèces
    {% elseif order.onSitePayments['cbOnSite'] is defined and order.onSitePayments['cbOnSite'] %}
        par CB
    {% elseif order.onSitePayments['ticketResto'] is defined and order.onSitePayments['ticketResto'] %}
        en Ticket Resto
    {% endif %}.<br>
{% endif %}
{% if order.company is defined and order.company is not null %}
    <b>Commande facturée au compte société de: {{ order.company.name }}</b>
{% endif %}
<br>
Récapitulatif de votre commande :<br>
<br>
<table>
  <tbody>
    {% set total = 0 %}

    {% for element in order.cart.elements %}
      <tr>
        {% if element.product != null %}

        <td>
          {{ element.product.name }} (x{{ element.quantity }})
        </td>
        <td>{{ (element.price*element.quantity)|number_format(2) }}€</td>
      </tr>
      {% set total = total + (element.price*element.quantity) %}
       {% for choice in element.choices %}
       {% if loop.first %}<tr>{% endif %}
            <td>
            {% if loop.first %}({% endif %}{{ choice.option.name }} : {{ choice.value }}
            {% if not loop.last %}, {% else %}){% endif %}
            </td>
       {% if loop.last %}</tr>{% endif %}
       {% endfor %}

      {% elseif element.meal != null %}

        <td>{{ element.meal.name }} (x{{ element.quantity }})</td>

        <td>{{ (element.price*element.quantity)|number_format(2) }}€</td>
      </tr>
      {% for children in element.childrens %}
        <tr>
          <td> - {{ children.product.name }} (x{{ children.quantity * element.quantity }})</td>
          <td>{{ (children.price * children.quantity * element.quantity)|number_format(2) }}€</td>
        </tr>
         {% for choice in children.choices %}
           {% if loop.first %}<tr>{% endif %}
                <td>
                {% if loop.first %}({% endif %}{{ choice.option.name }} : {{ choice.value }}
                {% if not loop.last %}, {% else %}){% endif %}
                </td>
           {% if loop.last %}</tr>{% endif %}
         {% endfor %}
      {% endfor %}

      {% endif %}

    {% endfor %}
    {% if order.cart.deliveryCart is not null and order.cart.deliveryCart.extra and order.cart.deliveryCart.extra > 0 %}
      <tr>
        <td>Supplément livraison</td>
        <td><span class="pull-rigth">{{ order.cart.deliveryCart.extra }}€</span></td>
      </tr>
    {% endif %}
    {% if order.cart.coupon is not null %}
        <tr>
          <td colspan="2">Coupon : {{ order.cart.coupon.name }} - {{ order.cart.coupon.verbose }}</td>
        </tr>
    {% endif %}
    {% if order.cart.discount is not null %}
        <tr>
          <td colspan="2">Offre : {{ order.cart.discount.name }}</td>
        </tr>
    {% endif %}
    <tr>
      <td><strong>Total</strong></td>
      <td><strong>{{ order.cart.totalPrice|number_format(2) }}€</strong></td>
    </tr>
  </tbody>
</table>
<br>
Matsuri vous souhaite une bonne dégustation !<br>
<br>
L’équipe {{ restaurant.name }} et Clickeat.
</p>
{% endblock %}
