{% extends 'ClabWhiteBundle:Mail:baseAdmin.html.twig' %}
{% import 'ClabWhiteBundle:Mail:macro/mail.html.twig' as mail %}

{% block body %}
    {{ mail.title('Une nouvelle commande pour votre restaurant ' ~ order.restaurant.name) }}

    {{ mail.text('Nom du client: ' ~ order.profile.fullName) }}
    {% if order.profile.phone is not null  %}
        {{ mail.text('Téléphone du client: ' ~ order.profile.phone) }}
    {% endif %}
    {% if order.delivery is defined and order.delivery %}{% set type = 'Livraison' %}{% else %}{% set type = 'A emporter' %}{% endif %}
    {{ mail.text('Type: ' ~ type) }}

    {% if order.company is defined and order.company is not null %}
        {{ mail.text('Commande facturée au compte société de: ' ~ order.company.name ) }}
    {% endif %}

    {% if order.delivery is defined and order.delivery %}
        {{ mail.text('Code à saisir par le livreur pour démarrer la livraison: ' ~ order.delivery.code) }}
        {{ mail.text('Adresse: ' ~ order.delivery.address.verbose) }}
        {{ mail.text('Adresse: ' ~ order.delivery.address.fullStringDescription() | nl2br ) }}
        {% if order.delivery.comment %}
            {{ mail.text('Adresse (commentaire): ' ~ order.delivery.comment) }}
        {% endif %}
        {{ mail.text('Heure de livraison: ' ~ order.time|date('H:i')) }}
    {% else %}
        {{ mail.text('Heure du retrait: ' ~ order.time|date('H:i')) }}
    {% endif %}

    {% if order.onlinePayment %}{% set payment = 'Payée en ligne' %}{% else %}{% set payment = 'Montant à payer par le client' %}{% endif %}
    {{ mail.text(payment ~ ': ' ~ order.price ~ '€') }}


    {% if order.cart.discount is not null %}
        {{ mail.text("Le client bénéficie de l'offre: " ~ order.cart.discount.description) }}
    {% endif %}

    {% if order.cart.coupon is not null %}
        {{ mail.text('Le client bénéficie du coupon: ' ~ order.cart.coupon.name ~ ':' ~ order.cart.coupon.managerVerbose) }}
    {% endif %}

    {% if order.comment is not null %}
        {{ mail.text('Commentaire du client: ' ~ order.comment) }}
    {% endif %}

    {% if order.delivery and order.orderType.id == 3 %}
        {{ mail.text('Adresse de livraison : ' ~ order.delivery.address) }}
        {% if order.delivery.entryCode is not null %}
            {{ mail.text('Adresse de livraison : ' ~ order.delivery.address) }}
        {% else %}
            {{ mail.text('Adresse de livraison : Non renseigné') }}
        {% endif %}
        {% if order.delivery.entryCode is not null %}
            {{ mail.text('Code d\'entrée du bâtiment : ' ~ order.delivery.entryCode) }}
        {% else %}
            {{ mail.text('Code d\'entrée du bâtiment : Non renseigné') }}
        {% endif %}
        {% if order.delivery.appartmentNumber is not null %}
            {{ mail.text('Numéro de l\'appartement : ' ~ order.delivery.appartmentNumber) }}
        {% else %}
            {{ mail.text('Numéro de l\'appartement : Non renseigné') }}
        {% endif %}
        {% if order.delivery.customerComment is not null %}
            {{ mail.text('Complément d\'addresse : ' ~ order.delivery.customerComment) }}
        {% else %}
            {{ mail.text('Complément d\'addresse :  Non renseigné') }}
        {% endif %}
    {% endif %}
    <br/>
    <hr>
    {% set cart = order.cart %}
    <table class="table table-striped">
        {% for element in cart.elements %}
            {% if element.product != null %}
                <tr>
                    <td>
                        <strong class="text-primary margin-right">{{ element.quantity }}</strong> {{ element.proxy.name }}
                        <small>
                            {% for choice in element.choices %}
                                {% if loop.first %}({% endif %}
                                {{ choice.value }} {% if choice.price > 0 %}(+{{ (choice.price)|number_format(2) }}€){% endif %}
                                {% if not loop.last %}, {% else %}){% endif %}
                            {% endfor %}
                        </small>
                    </td>
                    <td></td>
                    <td class="text-right">{{ (element.price*element.quantity)|number_format(2) }}€</td>
                </tr>
                {% for children in element.childrens %}
                    <tr>
                        <td>
                            <i class="fa fa-angle-right margin-left icon-left"></i>{{ children.proxy.name }}
                            <small>
                                {% for choice in children.choices %}
                                    {% if loop.first %}({% endif %}
                                    {{ choice.value }} {% if choice.price > 0 %}(+{{ (choice.price)|number_format(2) }}€){% endif %}
                                    {% if not loop.last %}, {% else %}){% endif %}
                                {% endfor %}
                            </small>
                        </td>
                        <td></td>
                        <td class="text-right">{% if children.price > 0 %}(+{{ (children.price * children.quantity * element.quantity)|number_format(2) }}€){% else %}0€{% endif %}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if cart.deliveryCart is not null and cart.deliveryCart.extra and cart.deliveryCart.extra > 0 %}
            <tr>
                <td>Supplément livraison</td>
                <td></td>
                <td class="text-right">{{ cart.deliveryCart.extra }}€</td>
            </tr>
        {% endif %}
        {% if cart.coupon is not null %}
            <tr>
                <td>Coupon {{ cart.coupon.name }}</td>
                <td></td>
                <td class="text-right">{{ cart.coupon.verbose }}</td>
            </tr>
        {% endif %}
        <tr class="border-top">
            <td><strong>Total</strong></td>
            <td></td>
            <td class="text-right text-primary"><strong>{{ cart.totalPrice|number_format(2) }}€</strong></td>
        </tr>
    </table>
    <br><br>

    {{ mail.text("N'oubliez pas de valider cette commande en vous rendant sur l'espace pro.") }}
    {{ mail.button("Accèder à l'espace pro", url('manager_dashboard')) }}

    {{ mail.text('Vous pouvez aussi directement valider la commande quand elle est terminée en cliquant ici') }}
    {{ mail.button('Valider la commande', url('manager_order_mail_validation', { token: order.hash })) }}
{% endblock %}
