<form method="post" action="{{ path('board_category_edit', { context: context, contextPk: contextPk, slug: category.slug }) }}" novalidation novalidate class="ajax-form form watch" data-callback="#categoryList" data-changed="0">
    <div class="drawer-scroll">
        {% if context == 'client' %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-warning icon-left"></i>Les modifications s'appliqueront sur tous vos restaurants.</p>
        </div>
        {% elseif category.parent %}
        <div class="drawer-client-alert">
            <p><i class="fa fa-lock icon-left"></i>Cette catégorie provient de votre enseigne, les options d'édition peuvent être limitées.</p>
        </div>
        {% endif %}

        {% if form.name is defined %}
            <div class="row">
                <div class="col-md-3">
                    <div class="img-uploader">
                        {% if category.id %}
                            <img src="{{ category.cover }}" id="galleryCover">
                            <a class="btn btn-primary btn-block btn-sm ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_gallery_get', { context: context, contextPk: contextPk, entityType: 'category', entityId: category.id }) }}">Modifier</a>
                        {% else %}
                            <img src="{{ asset('files/blank.png') | imagine_filter('square_180') }}" id="galleryCover">
                            <a class="btn btn-primary btn-block btn-sm saveForm" href="#">Modifier</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="form-group">
                        {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_widget(form.type, { attr: { class: 'form-control input-lg', style: 'margin-top: 15px;' } }) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_widget(form.categoryGroup, { attr: { class: 'form-control input-lg', style: 'margin-top: 15px;' } }) }}
                            {{ form_errors(form.categoryGroup) }}
                        </div>
                        {% if forcedIsOnline is defined and not forcedIsOnline %}
                        <div class="col-md-6 form-group">
                            <div class="big-label">
                                {{ form_row(form.isOnline, { attr: { 'class': 'icheck' } }) }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="big-label">
                    {{ form_row(form.isOnline, { attr: { 'class': 'icheck' } }) }}
                </div>
            </div>
        {% else %}
            {% if context == 'restaurant' and forcedIsOnline is defined and not forcedIsOnline %}
                <div class="form-group">
                    <div class="big-label">
                        {{ form_row(form.isOnline, { attr: { 'class': 'icheck' } }) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <br>
        {% if form.description is defined %}
            <div class="form-group">
                {{ form_row(form.description, { attr: { class: 'form-control', rows: 4 } }) }}
            </div>
        {% endif %}

        {% if form.products|length > 0 %}
        <hr>
        <h3>Produits présents dans cette catégorie</h3>
        <ul class="list-group sortable">
        {% for productForm in form.products %}
            {% set product = productForm.vars.data %}
            <li class="list-group-item product">
                <span class="handle pull-right"><i class="fa fa-reorder"></i></span>
                {{ product.name }}
                {{ form_widget(productForm.position, { attr: { class: 'product-position' } }) }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: (category.slug and not category.parent) ? path('board_category_delete', { context: context, contextPk: contextPk, slug: category.slug }) : null } %}
</form>

<script type="text/javascript">
$('.sortable').sortable({
    handle: '.handle',
    items: '.product',
    cursor: 'move',
    helper: function(event, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    },
    update: function(event, ui) {
        $('.product').each(function() {
            $(this).find('.product-position').val($(this).index() + 1);
        });
    }
});
</script>
