{% for type in types %}
    {% for category in categories %}
        {% if category.type == type %}
            <tr
                    class="clickable"
                    data-target="drawer" href="{{ path('board_category_edit', { context: context, contextPk: contextPk, slug: category.slug }) }}"
                    id="sort_{{ category.id }}"
            >
                <td>
                    {{ category.name }}{% if category.type %}<small class="text-muted margin-left">{{ category.type }}</small>{% endif %}
                </td>
                <td>{% if category.isOnline %}<i class="fa fa-circle icon-success icon-left"></i>En ligne{% else %}<span class="text-muted"><i class="fa fa-circle icon-danger icon-left"></i>Hors ligne</span>{% endif %}</td>
                <td>
                    {% if category.parent %}
                        <span class="label label-default"><i class="fa fa-lock fa-lg icon-left"></i>Enseigne</span>
                    {% else %}
                        <a class="btn btn-sm btn-primary ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_category_assign', { context: context, contextPk: contextPk, slug: category.slug }) }}">Gérer</a>
                    {% endif %}
                    &nbsp;&nbsp;
                    {% set productCount = category.products|length %}
                    {% if productCount > 0 %}
                        <span class="badge badge-success">{{ productCount }}</span>
                    {% else %}
                        <span class="badge">{{ productCount }}</span>
                    {% endif %}
                </td>
                <td>{% if category.position == 999 %}Aucun ordre{% else %}Position {{ category.position + 1 }}{% endif
                    %}<span
                            class="text-muted pull-right handle"><i class="fa fa-reorder
                fa-lg"></i></span></td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
