{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
    category: 'admin',
    route: 'board_admin_library_restaurant',
    rightLink: path('board_admin_add_manager', { contextPk: contextPk }),
    rightLinkLabel: 'Créer un manageur',
    rightLinkDrawer: true,
    } %}
{% endblock %}

{% block body %}
    <div class="container padding-v-10" id="coupons">
        <section class="panel">
            <div class="panel-body" id="couponTable">
                <table class="table table-hover">
                    <thead>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Action</th>
                    </thead>
                    <tbody id="subscriptionList" class="list">
                    {% for manager in managers %}
                        <tr>
                            <td>{{ manager.lastName }} {{ manager.firstName }}</td>
                           <td>{{ manager.email }}</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#edit-manager{{ manager.id }}">Editer</button>
                                <a href="{{ path('board_admin_remove_manager',{contextPk:contextPk,id:manager.id}) }}"
                                   class="btn
                                btn-danger">Effacer</a>
                                {{ render(controller('ClabBoardBundle:Admin:editManager', { 'email': manager.email,contextPk:contextPk})) }}
                             </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

