<div class="add-sale-options-{{ product.slug }}" hidden >

    {% for childs in form.children %}
        {% if childs.vars.attr %}
        <div class="child-option-container">
            <div class="row">
                <h4 class="col-md-8"
                    style="text-transform: uppercase;font-size: 16px;">  {{ childs.vars['label'] }}{% if childs.vars.attr is not empty %}{% if
                    childs.vars.required == false %}(OPTIONNEL){% endif %}{% endif %}</h4>
                <h4 class="col-md-4 errors_option"
                    style="text-transform: uppercase;font-size: 14px;"></h4>
            </div>
            {% if childs.vars.attr is not empty %}
                {% if childs.vars.attr.min is null and childs.vars.attr.max is not null %}
                    <p style="font-size: 12px;"> Vous pouvez choisir
                                                 jusqu'à {{ childs.vars.attr.max }}
                                                 ingrédients</p>
                {% elseif childs.vars.attr.max is null and childs.vars.attr.min is not null %}
                    <p style="font-size: 12px;"> Vous devez choisir au
                                                 moins {{ childs.vars.attr.min }}
                                                 ingrédients </p>
                {% elseif childs.vars.attr.max is not null and childs.vars.attr.min is not null %}
                    <p style="font-size: 12px;"> Vous pouvez choisir entre {{ childs.vars.attr.min }}
                                                 et {{ childs.vars.attr.max }}
                                                 ingrédients</p>
                {% else %}
                    <p></p>
                {% endif %}
            {% endif %}
            <hr/>
            <br/>
            <div class="hold height option_group">
                <div class="row">

                    {% for value in childs.children %}

                        <div class="col-md-4" style="margin-top:2%;">
                            <label>
                                {% if value.vars.value is not empty and value.parent.vars.choices[value.vars.value].data.price > 0%}
                                    {{ form_widget(value,{ 'attr': {'min':childs.vars.attr.min,'max':childs.vars.attr.max ,'sup':value.parent.vars.choices[value.vars.value].data.price} }) }}
                                {% else %}
                                    {{ form_widget(value,{ 'attr': {'min':childs.vars.attr.min,'max':childs.vars.attr.max} }) }}
                                {% endif %}
                                <small class="option_order_label"
                                       style="font-weight: 400;">{{ value.vars['label'] }}

                                    {% if value.vars.value is not empty %}
                                        {% if value.parent.vars.choices[value.vars.value].data.price > 0 %}(+{{ value.parent.vars.choices[value.vars.value].data.price|number_format(2, '.', ',') }} €)
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
        </div>
    {% endif %}
    {% endfor %}
    {{ form_rest(form) }}
</div>

