{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'appstore',
        route: 'board_appstore_app',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding" id="planning">
    <form method="post" action="{{ path('board_appstore_app', { contextPk: contextPk }) }}" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-8 padding-v-20 padding-h-40 bg-white">

            <h2>Couleurs</h2>
            <br>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.defaultAppColor, { attr: { class: 'input-lg form-control minicolors' } }) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.defaultTitleColor, { attr: { class: 'input-lg form-control minicolors' } }) }}
                </div>
            </div>

            <hr>

            <h2>Images</h2>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <h5>Logo</h5>
                    <div class="form-image-upload form-group" id="logo">
                        <div class="file-preview" {% if application.logo %}style="background-image: url('{{ vich_uploader_asset(application, 'logo') }}')"{% endif %}></div>
                        {{ form_row(form.logo, { attr: { class: 'logo' } }) }}
                        <br>
                        <p><small>Le fichier doit être au format image PNG.</small></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Background</h5>
                    <div class="form-image-upload form-group" id="background">
                        <div class="file-preview" {% if application.background %}style="background-image: url('{{ vich_uploader_asset(application, 'background') }}')"{% endif %}></div>
                        {{ form_row(form.background, { attr: { class: 'background' } }) }}
                        <br>
                        <p><small>Le fichier doit être au format image PNG.</small></p>
                    </div>
                </div>
            </div>

            <hr>

            <h2>Accueil</h2>
            <br>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.homeVersion, { attr: { class: 'form-control' } }) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.homeAppColor, { attr: { class: 'input-lg form-control minicolors' } }) }}
                </div>
            </div>

            <hr>

            <h2>Profil du restaurant</h2>
            <br>

            {{ form_row(form.profileVersion, { attr: { class: 'form-control' } }) }}

            <hr>

            <h2>La carte</h2>
            <br>

            {{ form_row(form.catalogVersion, { attr: { class: 'form-control' } }) }}

            <hr>

            <h2>News</h2>
            <br>

            {{ form_row(form.newsVersion, { attr: { class: 'form-control' } }) }}

            <hr>

            <h2>Commande</h2>
            <br>

            {{ form_row(form.hasModuleOrder, { attr: { class: 'icheck module-order' } }) }}

            <div {% if not application.hasModuleOrder %}style="display:none";{% endif %} class="module-delivery-div">
                {{ form_row(form.hasModuleDelivery, { attr: { class: 'icheck module-delivery' } }) }}
            </div>

            {{ form_rest(form) }}
        </div>            
    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' with { cancelRoute: path('board_appstore_app', { contextPk: contextPk }) } %}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.module-order').on('ifChecked', function(event) {
    $('.module-delivery-div').show();
});

$('.module-order').on('ifUnchecked', function(event) {
    $('.module-delivery-div').hide();
    $('.module-delivery').iCheck('uncheck');
});

$('input[type=file]').change(function(e) {

    if(typeof FileReader == "undefined") return true;

    var elem = $(this);
    var files = e.target.files;

    for (var i = 0, f; f = files[i]; i++) {
        if (f.type.match('image.*')) {
            var reader = new FileReader();
            reader.onload = (function(theFile) {
                return function(e) {
                    var image = e.target.result;
                    previewDiv = elem.parents('.form-image-upload').find('.file-preview');
                    bg_width = previewDiv.width() * 2;
                    previewDiv.css({
                        "background-size":bg_width + "px, auto",
                        "background-position":"50%, 50%",
                        "background-image":"url("+image+")",
                    });
                };
            })(f);
            reader.readAsDataURL(f);
        }
    }
});
</script>
{% endblock  %}