{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'appstore',
        route: 'board_appstore_widget',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="widgets">
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">Widget Menu</header>
                <div class="panel-body">
                    <img src="{{ asset('front/bundle/board/img/synch/ttt-menu.png') }}" class="img-thumbnail img-responsive">
                    <br><br>
                    <p class="text-center">Intégrer sur mon site web :</p>
                    <pre class="prettyprint">{{ '<iframe src="http://' ~ widgetDomain ~ '/trackthetruck/embed/'|escape }}{{ proxy.slug }}{{ '" id="clickeat" width="100%" height="800px" marginheight="0" frameborder="0"></iframe>'|escape }}</pre>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">Widget Planning</header>
                <div class="panel-body">
                    <img src="{{ asset('front/bundle/board/img/synch/ttt-planning1.png') }}" class="img-thumbnail img-responsive">
                    <br><br>
                    <p class="text-center">Itégrer sur mon site web :</p>
                    <pre class="prettyprint">{{ '<iframe src="http://' ~ widgetDomain ~ '/trackthetruck/embed/'|escape }}{{ proxy.slug }}{{ '?page=planning" id="clickeat" width="100%" height="800px" marginheight="0" frameborder="0"></iframe>'|escape }}</pre>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">Widget Planning 2</header>
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/synch/ttt-planning2.png') }}" class="img-thumbnail img-responsive">
                    <br><br>
                    <pre class="prettyprint text-left">{{ '<iframe src="http://' ~ widgetDomain ~ '/trackthetruck/embed/'|escape }}{{ proxy.slug }}{{ '?page=planning&type=2" id="clickeat" width="100%" height="800px" marginheight="0" frameborder="0"></iframe>'|escape }}</pre>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}