<h3>Bienvenue sur la pré-inscription myClickeat <br><small>Nous vous contacterons le plus rapidement possible. D'ici là, vous pouvez compléter les rubriques suivantes.</small></h3>
<div class="btn-group btn-breadcrumb">
    <a href="{{ path('board_onboard_custom_infos', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'infos' %}active{% endif %}"><div>1. Infos</div></a>
    <a href="{{ path('board_onboard_custom_catalog', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'menu' %}active{% endif %}"><div>2. Menu</div></a>
    <a href="{{ path('board_onboard_custom_timesheets', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'timesheets' %}active{% endif %}"><div>3. Horaires</div></a>
    <a href="{{ path('board_onboard_custom_order', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'order' %}active{% endif %}"><div>4. Commande en ligne</div></a>
    <a href="{{ path('board_onboard_custom_legal', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'legal' %}active{% endif %}"><div>5. Administratif</div></a>
    {#<a href="{{ path('board_onboard_custom_subscription', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'subscription' %}active{% endif %}"><div>6. Choix de l'offre</div></a>#}
    <a href="{{ path('board_onboard_custom_social', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'social' %}active{% endif %}"><div>6. Social</div></a>
    <a href="{{ path('board_onboard_custom_final', { slug: proxy.slug }) }}" class="btn btn-default {% if step is defined and step == 'final' %}active{% endif %}"><div>7. Récapitulatif</div></a>
</div>