{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}
{% block navContent %}{% endblock %}

{% block body %}
<div class="container">
    {% include 'ClabBoardBundle:Onboard:Custom/breadcrumbs.html.twig' with { step: 'final' } %}

    <br><br>
    <section class="panel">
        <div class="panel-body">
            <h2>8. Récapitulatif et Conditions Générales d'Utilisation et de Vente</small></h2>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <p class="{% if todo.1|length > 0 %}text-danger{% else %}text-success{% endif %}">1. Les Informations sur votre restaurant - {% if todo.1|length > 0 %}Manque : {{ todo.1|join(', ') }}{% else %}Complet{% endif %}</p>
                    <p class="{% if todo.2|length > 0 %}text-danger{% else %}text-success{% endif %}">2. Le Menu de votre restaurant - {% if todo.2|length > 0 %}Manque : {{ todo.2|join(', ') }}{% else %}Complet{% endif %}</p>
                    <p class="{% if todo.3|length > 0 %}text-danger{% else %}text-success{% endif %}">3. Les horaires d'ouvertures de votre restaurant - {% if todo.3|length > 0 %}Manque : {{ todo.3|join(', ') }}{% else %}Complet{% endif %}</p>
                    <p class="{% if todo.4|length > 0 %}text-danger{% else %}text-success{% endif %}">4. La commande en ligne - {% if todo.4|length > 0 %}Manque : {{ todo.4|join(', ') }}{% else %}Complet{% endif %}</p>
                    <p class="{% if todo.5|length > 0 %}text-danger{% else %}text-success{% endif %}">5. Vos informations administratives - {% if todo.5|length > 0 %}Manque : {{ todo.5|join(', ') }}{% else %}Complet{% endif %}</p>
                    {#<p class="{% if todo.6|length > 0 %}text-danger{% else %}text-success{% endif %}">6. Votre offre - {% if todo.6|length > 0 %}Manque : {{ todo.6|join(', ') }}{% else %}Complet{% endif %}</p>#}
                    <p class="text-success">6. Votre espace social : Facultatif</p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg btn-block" href="{{ path('board_onboard_custom_terms', { slug: proxy.slug }) }}"><i class="fa fa-arrow-circle-left icon-left"></i>Précédent</a>
                </div>

                <div class="col-md-8">
                    {% if proxy.deal.ready %}
                    <div class="text-success"><i class="fa fa-check icon-left icon-success"></i>Nous allons vous recontacter pour accèder au service</div>
                    {% else %}
                    <form action="{{ path('board_onboard_custom_ready', { slug: proxy.slug }) }}" method="post">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Je suis prêt !</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}