{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}
{% block navContent %}{% endblock %}

{% block body %}
<div class="container">
    {% include 'ClabBoardBundle:Onboard:Custom/breadcrumbs.html.twig' with { step: 'legal' } %}

    <br><br>
    <section class="panel">
        <div class="panel-body">
            <h2>5. Vos informations administratives</h2>
            <hr>
            <form action="{{ path('board_onboard_custom_legal', { slug: proxy.slug }) }}" method="post" id="myForm" class="watch" data-changed="0">

                <div class="row">
                    <div class="col-md-6">  
                        <div class="form-group">
                            {{ form_row(form.legalType, { attr: { class: 'form-control legalType' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.legalName, { attr: { class: 'form-control input-lg' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.siret, { attr: { class: 'form-control input-lg siret' } }) }}
                        </div>

                        <div class="form-group legalCapital" {% if proxy.legalType == 4 or proxy.legalType == 5 %}style="display:none;"{% endif %}>
                            {{ form_row(form.capital, { attr: { class: 'form-control input-lg' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.legalPerson, { attr: { class: 'form-control input-lg' } }) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3>Adresse légale</h3>

                        <div class="form-group">
                            {{ form_row(form.legalAddress.street, { attr: { class: 'form-control input-lg' } }) }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                {{ form_row(form.legalAddress.zip, { attr: { class: 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-6 form-group">
                                {{ form_row(form.legalAddress.city, { attr: { class: 'form-control input-lg' } }) }}
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default btn-lg btn-block" href="{{ path('board_onboard_custom_order', { slug: proxy.slug }) }}"><i class="fa fa-arrow-circle-left icon-left"></i>Précédent</a>
                    </div>

                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Suivant<i class="fa fa-arrow-circle-right icon-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
{% include 'ClabBoardBundle:Onboard:Custom/formScript.html.twig' %}

<script type="text/javascript">
var type = {{ proxy.legalType }};

$('.legalType').on('change', function() {
    type = this.value;
    displayLegalCapital();
});

$('.siret').inputmask('999999999 99999');

function displayLegalCapital() {
    if(type == 4 || type == 5) {
        $('.legalCapital').hide();
    } else {
        $('.legalCapital').show();
    }
}
</script>
{% endblock %}