{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}
{% block navContent %}{% endblock %}

{% block body %}
<div class="container" id="planning">
    {% include 'ClabBoardBundle:Onboard:Custom/breadcrumbs.html.twig' with { step: 'timesheets' } %}

    <br><br>
    <section class="panel">
        <div class="panel-body">
            <h2>3. Emplacements</h2>
            <hr>
            <form action="{{ path('board_onboard_custom_planning', { slug: proxy.slug }) }}" method="post" id="myForm" class="watch" data-changed="0">
                
                <div id="timesheet-fields-list" {% if form.timesheets.vars.prototype is defined %}data-prototype="{{ _self.timesheet_prototype(form.timesheets.vars.prototype)|e }}"{% endif %}>
                    {% for timesheet in form.timesheets %}
                    <div class="timesheet-field">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    {{ form_row(timesheet.days, { attr: { class: 'form-control select2' } }) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.start, { attr: { class: 'form-control timepicker' } }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.end, { attr: { class: 'form-control timepicker' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.address.name, { attr: { class: 'form-control' } }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.address.street, { attr: { class: 'form-control' } }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.address.zip, { attr: { class: 'form-control' } }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(timesheet.address.city, { attr: { class: 'form-control' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <br><br>
                                <div class="remove"></div>
                                {{ form_rest(timesheet) }}
                            </div>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>

                <hr>

                {{ form_rest(form) }}

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default btn-lg btn-block" href="{{ path('board_onboard_custom_catalog', { slug: proxy.slug }) }}"><i class="fa fa-arrow-circle-left icon-left"></i>Précédent</a>
                    </div>

                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Suivant<i class="fa fa-arrow-circle-right icon-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var collectionHolder = $('#timesheet-fields-list');

var $newLinkLi = $('<div class="text-center"><a href="#" class="add_timesheet_link btn btn-lg btn-success"><i class="fa fa-map-marker icon-left"></i>Ajouter un emplacement</a></div>');

jQuery(document).ready(function() {

    collectionHolder.append($newLinkLi);

    collectionHolder.find('.timesheet-field').each(function() {
        addTimesheetFormDeleteLink($(this));
    });

    $('.add_timesheet_link').on('click', function(e) {
        e.preventDefault();
        addTimesheetForm(collectionHolder, $newLinkLi);
    });
});

function addTimesheetForm(collectionHolder, $newLinkLi) {
    var prototype = collectionHolder.attr('data-prototype');
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length - 1);

    var $newFormDiv = $('<div class="timesheet-field"></div>').append(newForm);
    $newLinkLi.before($newFormDiv);

    addTimesheetFormDeleteLink($newFormDiv);

    initFields();
}

function addTimesheetFormDeleteLink($timesheetFormDiv) {
    var $removeFormA = $('<a href="#" class="btn btn-danger">Supprimer</a>');
    $timesheetFormDiv.find('.remove').append($removeFormA);

    $removeFormA.on('click', function(e) {
        e.preventDefault();
        $timesheetFormDiv.remove();
    });
}
</script>
{% include 'ClabBoardBundle:Onboard:Custom/formScript.html.twig' %}
{% endblock %}

{% macro timesheet_prototype(timesheet) %}
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                {{ form_row(timesheet.days, { attr: { class: 'form-control select2' } }) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(timesheet.start, { attr: { class: 'form-control timepicker' } }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(timesheet.end, { attr: { class: 'form-control timepicker' } }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                {{ form_row(timesheet.address.street, { attr: { class: 'form-control' } }) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(timesheet.address.zip, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(timesheet.address.city, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <br><br>
            <div class="remove"></div>
            {{ form_rest(timesheet) }}
        </div>
    </div>
    <hr>
{% endmacro %}