{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}
{% block navContent %}{% endblock %}

{% block body %}
<div class="container">
    {% include 'ClabBoardBundle:Onboard:Custom/breadcrumbs.html.twig' with { step: 'subscription' } %}

    <br><br>
    <section class="panel">
        <div class="panel-body">
            <h2>6. Choix de l'offre</h2>
            <hr>
            <form action="{{ path('board_onboard_custom_subscription', { slug: proxy.slug }) }}" method="post" id="myForm" class="watch" data-changed="0">

                <div class="row">
                    {% for key, choice in form.type %}
                    <div class="col-md-6">
                        <div class="media well well2">
                            <div class="media-left">                                {{ form_widget(choice, { attr: { class: 'icheck checkSubscription' } }) }}
                            </div>
                            <div class="media-body">
                                {% if loop.first %}
                                    <span class="label label-success pull-right">Gratuit</span>
                                    <h3 class="media-heading">Access</h3>
                                    <br>
                                    <p><small>Commission vente en ligne App/Site/Page Facebook : <strong>9%</strong></small></p>
                                    <p><small>Commission vente en ligne depuis Clickeat : <strong>9%</strong></small></p>
                                {% else %}
                                    <span class="label label-success pull-right">
                                        <span class="month" {% if proxy.startSubscription.billingRecurrency != 1 %}style="display:none";{% endif %}>99€/mois</span>
                                        <span class="year" {% if proxy.startSubscription.billingRecurrency != 12 %}style="display:none";{% endif %}>1080€/an (90€/mois)</span>
                                    </span>
                                    <h3 class="media-heading">Premium</h3>
                                    <br>
                                    <p><small>Commission vente en ligne App/Site/Page Facebook : <strong>0%</strong></small></p>
                                    <p><small>Commission vente en ligne depuis Clickeat : <strong>9%</strong></small></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <hr> 

                <div class="row">
                    <div class="col-md-4 col-md-offset-2 label-h">
                        {{ form_row(form.moduleAppleApp, { attr: { class: 'icheck toggleApp label-h' } }) }}
                        <p><span class="label label-success">350€ puis 30€/mois</span> <i class="fa fa-info-circle fa-lg icon-right" data-toggle="popover" data-content="Une application iPhone aux couleurs de votre restaurant sur l’App Store, sur laquelle vos clients retrouvent toutes vos actualités, informations, photos et menu ! La commande en ligne est intégrée et vous permet de proposer à vos clients de commander directement depuis votre application ! (A chaque fois que nos applications évoluent, vous en profitez. Des mises à jour gratuites, instantanées et transparentes pour vous.)" data-trigger="hover"></i></p>
                    </div>
                    <div class="col-md-4 label-h">
                        {{ form_row(form.moduleMultisite, { attr: { class: 'icheck' } }) }}
                        <p><span class="label label-success">Gratuit</span> <i class="fa fa-info-circle fa-lg icon-right" data-toggle="popover" data-content="Un site web aux couleurs de votre restaurant  sur lequel vos clients retrouvent toutes vos actualités, photos et menu ! Relié aux informations de votre profil Clickeat, votre site sera toujours à jour, automatiquement. Si vous n’avez pas de nom de domaine, nous vous en proposons un gratuitement : [votre restaurant].byclickeat.fr." data-trigger="hover"></i></p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <ul class="list-group rec-choice">
                          <li class="list-group-item">  
                            <label class="radio">
                                {{ form_widget(form.billingRecurrency.0, { attr: { class: 'icheck toggleRec' } }) }}
                                Paiement mensuel
                            </label>
                          </li>
                          <li class="list-group-item">  
                            <label class="radio">
                                {{ form_widget(form.billingRecurrency.1, { attr: { class: 'icheck toggleRec' } }) }}
                                Paiement annuel
                            </label>
                          </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <br><br>
                        <div class="text-center">
                            <h2>Total : <span id="total-app" {% if not proxy.startSubscription.moduleAppleApp %}style="display:none";{% endif %}><s>999€</s> 350€ + </span><span id="total-price">{{ proxy.startSubscription.monthAmount * proxy.startSubscription.billingRecurrency }}</span>€/<span class="month" {% if proxy.startSubscription.billingRecurrency != 1 %}style="display:none";{% endif %}>mois</span><span class="year" {% if proxy.startSubscription.billingRecurrency != 12 %}style="display:none";{% endif %}>an</span></h2>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default btn-lg btn-block" href="{{ path('board_onboard_custom_legal', { slug: proxy.slug }) }}"><i class="fa fa-arrow-circle-left icon-left"></i>Précédent</a>
                    </div>

                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Suivant<i class="fa fa-arrow-circle-right icon-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var rec = {{ proxy.startSubscription.billingRecurrency }};
var type = {{ proxy.startSubscription.type }};
var app = {{ proxy.startSubscription.moduleAppleApp ? 1 : 0 }};
updatePricing();

$('.checkSubscription').on('ifChecked', function(event) {
    type = $(this).val();
    updatePricing();
});

$('.toggleRec').on('ifChecked', function(event) {

    if($(this).val() == 1) {
        $('.month').show();
        $('.year').hide();
    } else {
        $('.month').hide();
        $('.year').show();
    }

    rec = $(this).val();
    updatePricing();
});

$('.toggleApp').on('ifChecked', function(event) {
    $('#total-app').show();
    app = 1;
    updatePricing();
});

$('.toggleApp').on('ifUnchecked', function(event) {
    $('#total-app').hide();
    app = 0;
    updatePricing();
});

function updatePricing() {
    var amount = 0;
    if(type == 40) {
        if(rec == 1) {
            amount = 99;
        } else {
            amount = 90 * 12;
        }
    }

    if(app) {
        if(rec == 1) {
            amount = amount + 30;
        } else {
            amount = amount + (30 * 12);
        }
    }

    console.log(amount);
    if(amount == 0) {
        $('.rec-choice').hide();
    } else {
        $('.rec-choice').show();
    }

     $('#total-price').html(amount);
}
</script>
{% include 'ClabBoardBundle:Onboard:Custom/formScript.html.twig' %}
{% endblock %}