{% extends 'ClabBoardBundle:Base:base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/nvd3/build/nv.d3.min.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/datatables.net-dt/css/jquery.dataTables.min.css')}}" />
 {% endblock %}
{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
    category: 'sales',
    route: 'board_sales_reporting',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="sales">

    <form method="get" action="{{ path('board_sales_reporting', { contextPk: contextPk }) }}">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <h2>Rapports des ventes</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
            <input id="reportrange" name="range" type="text" class="form-control pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    </div>
                <div class="col-md-4">
            <button type="submit" class="btn btn-lg btn-block btn-primary">Filtrer</button>
                    </div>
        </div>
    </div>
        </div>
    </form>
<div class="row">
    <div class="col-md-8">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                CA sur la période : {{ results.priceCE + results.priceCaisse }}  €
                <a data-toggle="collapse" class="pull-right" href="#collapse1">Voir le détail</a>
                </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                            <th>Source</th>
                            <th>Total (€)</th>
                            <th>Volume</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>Click-eat</td>
                            <td>{{ results.priceCE }}</td>
                            <td>{{ results.nbCE }}</td>
                            </tr>
                            <tr>
                            <td>Caisse</td>
                            <td>{{ results.priceCaisse }}</td>
                            <td>{{ results.nbCaisse }}</td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div id="chart2" style="height: 250px;" hidden>
                                <svg></svg>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4  pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Global</button>
            <a href="{{ path('board_sales_reporting_product',{contextPk:contextPk}) }}" class="btn" style="border: solid 1px;">Produits</a>
             <a href="{{ path('board_sales_reporting_category',{contextPk:contextPk}) }}" class="btn" style="border: solid 1px;">Catégories</a>
        </div>
    </div>

</div>
</div>
    <section class="panel">
        <div class="panel-body" id="productTable">
            <table class="table table-stripped table-bordered table-hover" id="datatable">
            <thead>
                    <th class="search">Le</th>
                     <th class="search">Pour le</th>
                     <th class="search">Client</th>
                     <th class="search">Source</th>
                     <th class="search">Montant</th>
                     <th class="search">Type</th>
                     <th class="search">Paiement</th>
                    <th class="search">Status</th>

               </thead>

                <thead>
                    <th>Le</th>
                    <th>Pour le</th>
                    <th>Client</th>
                    <th>Source</th>
                    <th data-dynatable-column="price">Montant</th>
                    <td>Type</td>
                    <td>Paiement</td>
                    <td>Status</td>
                </thead>
                <tbody>
                    {% for key in orders|keys %}
                        {% for order in orders[key] %}
                            <tr>
                                <td><div style="display:none;">{{ order.created.timestamp }} </div>{{ order.created|date('d/m/Y \\à H:i') }}</td>
                                <td><div style="display:none;">{{ order.time.timestamp }} </div>{{ order.time|date('d/m/Y') }} à {{ order.time|date('H:i') }}</td>
                                <td>
                                    {{ order.profile ? order.profile.fullname : '-' }} {% if order.covers is defined and order.covers %} ({{ order.covers }} couverts) {% endif %}
                                </td>
                                <td>
                                    {{ key }}
                                </td>
                                <td>{{ order.price }}</td>
                                <td>
                                    {% if order.orderType and order.orderType.name is defined %}{{ order.orderType.name }}{% endif %}
                                    {% if order.isTest %} (test){% endif %}
                                </td>
                                <td>
                                    {% if order.onlinePayment is defined and order.onlinePayment %}
                                    <i class="fa fa-circle icon-success icon-left"></i>En ligne
                                    {% else %}
                                    <i class="fa fa-circle icon-danger icon-left"></i>Sur place
                                    {% endif %}
                                </td>
                                <td>{{ order.labellizeStateAdmin is defined ? order.labellizeStateAdmin|raw : '-' }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </section>
</div>
<div style="display:none;">
    <div id="trash"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/moment/moment.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">

        $(function() {

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + '-' + end.format('MMMM D, YYYY'));
            }
            cb(moment().subtract(29, 'days'), moment());

            $('#reportrange').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Appliquer",
                    "cancelLabel": "Annuler",
                    "fromLabel": "de",
                    "toLabel": "à",
                    "customRangeLabel": "Personnalisé",
                    "daysOfWeek": [
                        "Di",
                        "Lu",
                        "Ma",
                        "Me",
                        "Je",
                        "Ve",
                        "Sa"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ],
                    "firstDay": 1
                },
                "startDate": {% if start is defined %} "{{ start|date('d/m/Y') }}" {% else %}moment().subtract(29, 'days'){% endif %},
                "endDate": {% if end is defined %} "{{ end|date('d/m/Y') }}" {% else %}moment(){% endif %},
                ranges: {
                    'Aujourd\'hui': [moment(), moment()],
                    'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                    'Dernier 30 jours': [moment().subtract(29, 'days'), moment()],
                    'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
                    'Mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            $('#datatable th.search').each( function () {
                $(this).html( '<input type="text" placeholder="Rechercher" />' );
            } );

        });
    </script>
{% endblock %}
