{% extends 'ClabBoardBundle:Base:base.html.twig' %}
 {% block stylesheets %}
 {{ parent() }}
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{ asset('vendors/nvd3/build/nv.d3.min.css')}}" />
 {% endblock %}
{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'sales',
        route: 'board_sales_tax',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="sales">

    <form method="get" action="{{ path('board_sales_tax', { contextPk: contextPk }) }}">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
<h2>TVA</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
            <input id="reportrange" name="range" type="text" class="form-control pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    </div>
                <div class="col-md-4">
            <button type="submit" class="btn btn-lg btn-block btn-primary">Filtrer</button>
                    </div>
        </div>
    </div>
        </div>
    </form>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chart" style="height: 250px;">
  <svg></svg>
</div>
        </div>
    </div>
    <section class="panel">
        <div class="panel-body" id="productTable">
            <table class="table table-stripped table-bordered table-hover" id="order-table">
                <thead>
                    <th>TVA</th>
                    <th>TVA Collectées (€)</th>
                    <th>CA HT (€)</th>
                    <th>CA GENERE TTC (€)</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                           TVA 10%
                        </td>
                        <td>
                           {{ (results.10.price * 0.1)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.10.price * 0.9)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.10.price)|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA 7%
                        </td>
                        <td>
                            {{ (results.7.price * 0.07)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.7.price * 0.93)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.7.price)|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA 5.5%
                        </td>
                        <td>
                            {{ (results['5.5'].price * 0.055)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results['5.5'].price * 0.945)|number_format(2, '.', ',')}}
                        </td>
                        <td>
                            {{ (results['5.5'].price)|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA 20%
                        </td>
                        <td>
                            {{ (results.20.price * 0.2)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.20.price * 0.8)|number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ (results.20.price)|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/moment/moment.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('vendors/d3/d3.min.js') }}"></script>
    <script src="{{ asset('vendors/nvd3/build/nv.d3.min.js') }}"></script>
<script type="text/javascript">

$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + '-' + end.format('MMMM D, YYYY'));
    }
    cb(moment().subtract(29, 'days'), moment());


    $('#reportrange').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Appliquer",
            "cancelLabel": "Annuler",
            "fromLabel": "de",
            "toLabel": "à",
            "customRangeLabel": "Personnalisé",
            "daysOfWeek": [
                "Di",
                "Lu",
                "Ma",
                "Me",
                "Je",
                "Ve",
                "Sa"
            ],
            "monthNames": [
                "Janvier",
                "Fevrier",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre"
            ],
            "firstDay": 1
        },
        "startDate": {% if start is defined %} "{{ start|date('d/m/Y') }}" {% else %}moment().subtract(29, 'days'){% endif %},
        "endDate": {% if end is defined %} "{{ end|date('d/m/Y') }}" {% else %}moment(){% endif %},
        ranges: {
            'Aujourd\'hui': [moment(), moment()],
            'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
            'Dernier 30 jours': [moment().subtract(29, 'days'), moment()],
            'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
            'Mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    {% if results is defined and results %}

        var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(false);

        d3.select("#chart svg")
                .datum(
                [
                    {
                        label:"TVA 10%",value:{{ results.10.price  }}
                    },
                    {
                        label:"TVA 20%",value: {{ results.20.price }}
                    },
                    {
                        label:"TVA 5.5%",value:{{ results['5.5'].price }}
                    },
                    {
                        label:"TVA 7%",value:{{ results.7.price }}
                    }
            ]
        )
                .transition().duration(500).call(chart);
    {% endif %}
});
</script>
{% endblock %}
