{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
    {% include 'ClabWhiteBundle:Navs:nav2.html.twig' with { user:app.user} %}
{% endblock %}
{% block body %}
    <section class="container profile col-md-8  col-md-offset-2 text-center">
        <div class="row">
            <div class="col-md-3 text-center order-state {% if order.state >= 200 %}actived{% endif %}">
                <div class="row">Commande enregistrée et traitée</div>
                <div class="row"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-3 text-center order-state {% if order.state >= 300  %}actived{% endif %}">
                <div class="row">Commande en préparation</div>
                <div class="row"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-3 text-center order-state {% if order.state >= 300 %}actived{% endif %}">
                <div class="row">Commande en cours de livraison</div>
                <div class="row"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-3 text-center order-state {% if order.state == 400 %}actived{% endif %}">
                <div class="row">Commande délivrée</div>
                <div class="row"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row margin-v-25">
            <div class="col-md-12">
                <div id="map" style="width: 100%; height:500px;"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var content = `{% include 'ClabWhiteBundle::info-map.html.twig' with {restaurant : restaurant} %}`

        initMap();
        function initMap() {
            var myLatLng = {lat: {{ restaurant.address.latitude }}, lng: {{ restaurant.address.longitude }} };
            var map;

            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 18
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
            });

            //display the info window
            //$(".gm-style").append(content);

        }

    </script>
{% endblock %}