<li class="product meals col-xs-12 col-md-6" style="display:none">
    <div class="item" data-category="Formules déjeuner" data-id="{{ meal.id }}" data-meal="true">
        <a href="#" class="col-xs-12 {{ is_mobile() ? '' : "image_redimensionner" }}" >
            <div class="product-header" data-background="{{ meal.cover }}"></div>
        </a>
        <div class="product-footer">
            <p>{{ meal.name }}</p>

            <div class="row infos margin-bottom-25">
                <div class="col-md-12 info price">
                    <p>
                        {% if orderType == 3 %}
                            {{ meal.deliveryPrice }} €
                        {% else %}
                            {{ meal.price }} €
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="element-item transition meals-link" data-meal="{{ meal.slug }}">
                <button class="btn btn-primary btn-red">
                    Choisir cette formule
                </button>
            </div>
        </div>
    </div>
</li>
