<style type="text/css" media="screen">
    #map-canvas {
        width: 300px;
        height: 300px;
    }
</style>

<div class="modal fade bs-example-modal-lg" id="deliveryAddressModal" tabindex="-1" role="dialog" aria-labelledby="deliveryAddressModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="localise-wrap">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="first">
                    <header class="header">
                        <h1>Renseignez votre adresse de livraison</h1>
                    </header>
                    <form action="{{ path('iframe_delivery_address', { slug: restaurant.slug }) }}" class="localsearch-form" method="get" id="deliveryAddressForm">
                        <fieldset>
                            <button type="submit" class="btn btn-success">ok</button>
                            <div class="input prefetch-geocomplete">
                                <a href="#" class="gps">location</a>
                                <input type="text" name="address" placeholder="Adresse, Code postal, Ville">
                            </div>
                            {% if app.user %}
                            <div class="info">
                                <span class="title">Ou choisissez une de vos adresses enregistrées</span>
                                <div class="two-col">
                                    {% if homeAddress is defined and homeAddress %}
                                    <div class="col">
                                        <a href="{{ path('iframe_delivery_address', { slug: restaurant.slug, address: homeAddress.verbose }) }}" class="hold link-btn">
                                            <div class="img">
                                                <img src="{{ asset('images/ico-home.png') }}" height="32" width="30" alt="image description">
                                            </div>
                                            <div class="wrap">
                                                <span class="title">Maison</span>
                                                <span class="block">{{ homeAddress.verbose }}</span>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if homeAddress is defined and homeAddress %}
                                    <div class="col">
                                        <a href="{{ path('iframe_delivery_address', { slug: restaurant.slug, address: jobAddress.verbose }) }}" class="hold link-btn">
                                            <div class="img">
                                                <img src="{{ asset('images/ico-bag.png') }}" height="32" width="35" alt="image description">
                                            </div>
                                            <div class="wrap">
                                                <span class="title">Bureau</span>
                                                <span class="block">{{ jobAddress.verbose }}</span>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
                <div class="map-wrap">
                    <div class="img">
                        <div id="map-canvas"></div>
                    </div>
                    <div class="hold">
                        <h2>CONDITIONS ET ZONE DE LIVRAISON</h2>

                        {% if deliveryCarts is defined and deliveryCarts|length > 0 %}
                        <p>
                        {% for deliveryCart in deliveryCarts %}
                            {% if loop.first and deliveryCart.min is defined and deliveryCart.min > 0 %}
                                {{ deliveryCart.min }}€ minimum<br>
                            {% endif %}
                                {% if deliveryCart.min and deliveryCart.max %}
                                    {{ 'clickeat.store.about.delivery_conditions.between'|trans }} {{ deliveryCart.min }}€ {{ 'clickeat.store.about.delivery_conditions.and'|trans }} {{ deliveryCart.max }}€ :
                                {% elseif deliveryCart.min %}
                                    {{ 'clickeat.store.about.delivery_conditions.more'|trans }} {{ deliveryCart.min }}€ :
                                {% elseif deliveryCart.max %}
                                    {{ 'clickeat.store.about.delivery_conditions.until'|trans }} {{ deliveryCart.max }}€ :
                                {% else %}
                                    Autre montant : 
                                {% endif %}
                                 {{ deliveryCart.extra ? deliveryCart.extra ~ '€ ' ~ 'clickeat.store.about.delivery_conditions.extra'|trans : 'clickeat.store.about.delivery_conditions.free'|trans }}
                                <br>
                            {% if loop.last and deliveryCart.max is defined and deliveryCart.max %}
                                {{ deliveryCart.max }}€ maximum<br>
                            {% endif %}
                        {% endfor %}
                        </p>
                        {% endif %}

                        <br><br>

                        <h2>Horaire de livraison</h2>
                        {% set days = { 1: 'voc.datetime.days.monday', 2: 'voc.datetime.days.tuesday', 3: 'voc.datetime.days.wednesday', 4: 'voc.datetime.days.thursday', 5: 'voc.datetime.days.friday', 6: 'voc.datetime.days.saturday', 7: 'voc.datetime.days.sunday' } %}
                        {% if deliveryPlanning is defined %}
                        <span style="text-align: center">
                          {% for key, day in days if deliveryPlanning[key]|length %}
                              <span>{{ day|trans|capitalize }}</span>
                              <span>
                                  {% for deliveryDay in deliveryPlanning[key] %}
                                      <small>{{ deliveryDay.start|date('H:i') }} - {{ deliveryDay.end|date('H:i') }}</small>
                                  {% endfor %}
                              </span>
                          {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                </div>
                <div class="bottom">
                    <span class="link"><a href="{{ path('iframe_switch_order_type', { slug: restaurant.slug, type: 1
                        }) }}">Vous préférez commander à emporter ? Changer de type de commande.</a></span>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {

    google.maps.event.addDomListener(window, 'load', initialize);

    function initialize() {
        var center = new google.maps.LatLng({{ restaurant.address.latitude }}, {{ restaurant.address.longitude }});

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 12,
            center: center,
            //styles: mapStyle,
            scrollwheel: false,
            panControl: false,
            mapTypeControl: false,
            streetViewControl: false,
            zoomControl: true
        });

        var marker = new google.maps.Marker({
            map: map,
            position: center,
            title: '{{ restaurant.name }}',
            icon: '{{ asset('front/bundle/clickeat/img/map-marker.png') | imagine_filter('square_40') }}',
        });

        {% if distance is defined and distance %}
        var deliveryCircle = new google.maps.Circle({
          strokeColor: '#f4a62a',
          strokeOpacity: '0.6',
          strokeWeight: '2',
          fillColor: '#f4a62a',
          fillOpacity: '0.35',
          map: map,
          center: center,
          radius: {{ distance }}
        });
        {% endif %}

        $('.street_number').each(function() {
            var element = $(this);
            var autocompleteAddress = new google.maps.places.Autocomplete(element[0], { types: ['geocode'] });
            google.maps.event.addListener(autocompleteAddress, 'place_changed', function() {
                fillInAddress(autocompleteAddress, element);
            });
        });
    }
});
</script>
