<li class="product col-xs-12
    {% if suggestion is defined %}
        none-list-style border-transparent
        {% if suggestion | length == 2 %}
            col-md-6
        {% else %}
            col-md-4
        {% endif %}
    {% if is_mobile() %}
         swiper-slide{% endif %}
    {% else %}
        {% if category.categoryGroup == "Plateaux assortis" %}
            {% if not is_mobile() %}
                product-big
                col-md-12
            {% endif %}
        {% else %}
            col-md-6
        {% endif %}
    {% endif %}"
{% if category.categoryGroup == "Plateaux assortis" %}{% endif %}
    {% if parentMeal is not defined and suggestion is not defined %}style="display:none"{% endif %}>
    <div class="item" data-category="{{ category.id }}" data-id="{{ product.id }}" data-favorite = "{% if favorites is defined and product.id in favorites %}1{% else  %}0{% endif %}"
         {% if category.categoryGroup == "Plateaux assortis" and category.id % 2 == 0 %}style="flex-direction: row-reverse;"{% endif %}>
        <a href="#" data-toggle="modal" data-target="#productModal-{{ product.id }}" class="col-xs-12 {{ is_mobile() ? '' : "image_redimensionner" }}" >
            <div class="product-header" data-background="{{ product.cover }}"></div>
        </a>
        <div class="product-footer">
            <p>{{ product.name }}</p>

            <div class="row infos margin-bottom-25">
                {% if product.extraFields %}
                    {% if  product.extraFields['regime'] is not empty %}
                        <div class="{% if  product.extraFields['calories'] is empty and product.extraFields['nbpieces'] is empty %} col-md-6 {% else %} col-lg-4 col-md-4 col-sm-12 {% endif  %}info first">
                            <p>{{ product.extraFields['regime'] }}</p>
                        </div>
                    {% endif %}
                    <div class="{% if  product.extraFields['regime'] is not empty %} col-lg-4 col-md-4 col-sm-12 {% else %} col-md-6 {% endif %} info first {% if is_mobile() %}margin-bottom-45 {% endif %}">
                        {% if  product.extraFields['calories'] is not empty %}
                            <p>{{ product.extraFields['calories'] }} kcal</p>
                        {% endif %}
                        {% if product.extraFields['nbpieces']  %}
                            <p>{{ product.extraFields['nbpieces'] }} pièce{%  if product.extraFields['nbpieces'] > 1 %}s {%  endif %}</p>
                        {% endif %}
                    </div>
                {% endif %}
                    <div class="{%  if product.extraFields %}{% if  product.extraFields['regime'] is not empty and  product.extraFields['nbpieces'] is not empty %} col-lg-4 col-md-4 col-sm-12 {%  elseif  product.extraFields['regime'] is not empty or  product.extraFields['nbpieces'] is not empty%} col-md-6 {% endif %} {% else  %} col-md-12 {% endif %} info price">
                        <p>
                            {% if parentMeal is defined %}
                                {% set firstSlot = false %}
                                {% for k,slot in parentMeal.slots %}
                                    {% for key, value in slot.customPrices %}
                                        {% if key == product.id %}
                                            {% if k == 0 %}
                                                {% if orderType == 3 %}
                                                    {{ value + parentMeal.deliveryPrice }} €
                                                {% else %}
                                                    {{ value }} €
                                                {% endif %}
                                                {% set firstSlot = true %}
                                            {% else %}(+{{ value }} €){% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% if orderType == 3 %}
                                    {{ product.deliveryPrice|number_format(2, '.', ',') }} €
                                {% else %}
                                    {{ product.price|number_format(2, '.', ',') }} €
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
            </div>
                {% if parentMeal is defined %}
                    {% if options[product.id] is defined %}
                        <div class="element-item transition " data-category="post-transition"  url="{{ path('clab_white_meal_compose', { token: token, slot: slot.id, choice: product.id }) }}">
                            {{ render(controller('ClabWhiteBundle:Cart:productOptionForm', { 'slug': product.slug,
                                'slot':slot.id, 'token': token })) }}
                            <a href="#modalOptionMeal-{{ product.id }}"
                               data-toggle="modal"
                               data-target="#modalOptionMeal-{{ product.id }}"
                               class="add-list btn btn-primary btn-radius col-xs-12">Ajouter à la formule
                            </a>
                        </div>
                    {% else %}
                        <div class="add-list {{ category.type }} element-item transition" url="{{ path('clab_white_meal_compose', {
                            token: token, slot: slot.id, choice: product.id }) }}">
                            <button class="add-list btn btn-primary btn-red  {{ category.type }}">
                                {% if firstSlot is defined and firstSlot %}Choisir cette formule{% else %}Ajouter à la formule{% endif %}
                            </button>
                        </div>
                    {% endif %}
                {% elseif suggestion is defined %}
                    <div class="add-list">
                        <button class="add-list btn btn-primary btn-red suggestion {{ category.type }}" data-slug="{{ product.slug }}">
                            Choisir
                        </button>
                    </div>
                {% else %}
                    <div class="{{ category.type }} element-item">
                        <a class="add-list btn btn-primary {{ category.type }} add-favorite {% if favorites is defined and product.id in favorites %} actived {% endif %}" id="update-product-favorite" data-add="{% if favorites is defined and product.id in favorites %} 0 {% else  %} 1 {% endif %}" data-slug="{{ product.slug }}" data-hover="Retirer"><span>Favori</span></a>
                        {% if options[product.id] is defined %}
                            {{ render(controller('ClabWhiteBundle:Cart:productOptionForm', { 'slug': product.slug })) }}
                            <a href="#modalOption-{{ product.id }}"
                               data-toggle="modal"
                               data-target="#modalOption-{{ product.id }}"
                               class="add-list btn btn-primary btn-red {{ category.type }}">Panier</a>
                        {% else %}
                            <a class="add-list btn btn-primary btn-red {{ category.type }}" id="add-product-cart" data-slug="{{ product.slug }}">Panier</a>
                        {% endif %}
                    </div>
                {% endif %}
        </div>
    </div>
</li>
