{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
    {% if is_mobile() %}
        <link rel="stylesheet" href="{{ asset('vendors/Swiper/dist/css/swiper.min.css') }}">
    {% endif %}
{% endblock %}
{% block navClass %}confirm-nav {% endblock %}
{% block widthChange %}style="width: 100% !important" {% endblock %}
{% block nav %}
    {{ parent() }}
    {% if is_mobile() %}
        <ul class="nav navbar-nav nav-4 col-md-8 col-xs-12" id="steps_status">
            <li class="col-xs-12 no-padding actived"><a href="#" class="steps actived">Confirmation {% if form.address is defined %}Livraison{% else %}à emporter{% endif %}</a></li>
            <li class="col-xs-12 no-padding"><a class="steps" href="#">Derniers détails</a></li>
            <li class="col-xs-12 no-padding"><a class="steps" href="#">Paiement</a></li>
            <li class="col-xs-12 no-padding"><a href="#" disabled="">Suivi de commande</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav nav-2 col-sm-10 col-sm-offset-1 no-padding">
            <li class="col-sm-6 no-padding"><a href="#" class="actived category-group-filter" >Finalisation de votre commande</a></li>
            <li class="col-sm-6 no-padding"><a href="#" class="category-group-filter" >Suivi de votre commande</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block bodyClass %}background-grey-5{% endblock %}
{% block body %}
<section id="order" class="container order receipt col-sm-10 background-grey-6" style="margin-top: 0!important">
    <div class="col-xs-12" id="small-typenav-anchor">
        <div class="form col-sm-8" id="types-nav-anchor">
            <section class="order col-xs-12 col-sm-10 col-sm-offset-1 {% if is_mobile() %}no-padding{% endif %}">
                {% if suggestion is defined and suggestion %}
                    {% include "ClabWhiteBundle:Order:suggestionModal.html.twig" with {suggestion: suggestion, cart: cart} %}
                {% endif %}

                {% include "ClabWhiteBundle:Order:sauceModal.html.twig" with {form: sauceForm, freeSauces: freeSauces, slug: restaurant.slug, cart: cart} %}
                {{ form_start(form,{'action': path('clab_white_recap',{'slug': restaurant.slug, 'day': day }), 'attr': {'id': 'order-form'}}) }}
                {% if is_mobile() %}
                    <section class="recap-step" data-step="1">
                {% endif %}
                <section class="form-field col-xs-12 no-padding margin-v-2-5">
                    {% if form.address is defined %}
                        <h4 class="text-center">Livraison de la commande</h4>
                    {% else %}
                        <div class="margin-{% if is_mobile() %}phone-{% endif %}address">{{  restaurant.name }} | {{ restaurant.address }}</div>
                        <h4 class="text-center">Quand viendrez-vous chercher votre commande ?</h4>
                    {% endif %}
                    <div class="col-xs-12 margin-v-2-5  no-padding">
                        <input type="date" class="form-control datepicker" id="order-date" value="{{ day ? day : 'now'|date('Y-m-d') }}" />
                    </div>
                    <div class="col-xs-12 margin-v-2-5  no-padding background-white">
                        {% if form.address is defined %}
                        <div class="col-xs-8" style="padding-right: 0px;padding-left: 5px; cursor:pointer;">
                            {{ form_widget(form.slots, {'attr': {'class': 'form-control select2 margin-v-2-5 form-control order-woodsticks col-xs-12'}}) }}
                        </div>
                        <div class="col-xs-4 expire-text margin-top-5" style="text-align: right;">+/- 15 min</div>
                        {% else %}
                            <div class="col-xs-12" style="padding-right: 0px;padding-left: 5px; cursor:pointer;">
                                {{ form_widget(form.slots, {'attr': {'class': 'form-control select2 margin-v-2-5 form-control order-woodsticks col-xs-12'}}) }}
                            </div>
                        {% endif %}
                    </div>
                </section>
                        <script>

                        </script>

                <section class="form-field col-xs-12 no-padding">
                    <h4 class="text-center"> Informations de contact </h4>

                    <div class="col-xs-12 delivery-infos margin-v-2-5  no-padding">
                        <div class="col-xs-6">
                            {{ form_widget(form.profile.last_name, {'attr': {'class': 'form-control','placeholder':'Nom *'}}) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_widget(form.profile.first_name, {'attr': {'class': 'form-control','placeholder':'Prénom *'}}) }}
                        </div>
                    </div>
                    <div class="col-xs-12 delivery-infos margin-v-2-5  no-padding">
                        {% if form.address is defined %}
                            <div class="col-xs-12">
                                {{ form_widget(form.profile.email, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                            </div>
                        {% else %}
                            <div class="col-xs-12 margin-v-2-5">
                                {{ form_widget(form.profile.email, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                            </div>
                            <div class="col-xs-12 margin-v-2-5">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control order-phone','placeholder':'Téléphone *'}}) }}
                            </div>
                        {% endif %}
                    </div>
                    <h5 class="italic color-red-matsuri">* Champs obligatoires.</h5>
                </section>

                <section class="form-field col-xs-12 no-padding">
                    {% if form.address is defined %}
                        <h4 class="text-center">Votre adresse de livraison</h4>
                        <div class="col-xs-12 margin-v-2-5 no-padding">
                            {{ form_widget(form.address, {'attr': {'class': 'form-control col-xs-12 no-padding', 'placeholder': 'addresse'}}) }}
                        </div>
                        <div class="col-xs-12 margin-v-2-5 delivery-infos  no-padding">
                            <div class="col-xs-4">
                                {{ form_widget(form.zip, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'}}) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
                            </div>
                        </div>
                </section>
                <section  class="form-field col-xs-12 no-padding">
                        <h4 class="text-center">Informations pour le coursier</h4>
                        <div class="col-xs-12 delivery-infos margin-v-2-5  no-padding line-height-30">
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.building, {'attr': {'class': 'form-control', 'placeholder': 'Batiment', 'value': app.user.homeAddress ? app.user.homeAddress.building : ''}}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.staircase, {'attr': {'class': 'form-control', 'placeholder': 'Escalier', 'value': app.user.homeAddress ? app.user.homeAddress.staircase : '' }}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.floor, {'attr': {'class': 'form-control', 'placeholder': 'Etage', 'value': app.user.homeAddress ? app.user.homeAddress.floor : '' }}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.lift, {'attr': {'class': 'form-control', 'placeholder': 'Ascenseur', 'value': app.user.homeAddress ? app.user.homeAddress.elevator : '' }}) }}
                            </div>
                        </div>
                        <div class="col-xs-12 delivery-infos margin-v-2-5  no-padding">
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.intercom, {'attr': {'class': 'form-control', 'placeholder': 'Interphone', 'value': app.user.homeAddress ? app.user.homeAddress.intercom : '' }}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.appartmentNumber, {'attr': {'class': 'form-control', 'placeholder': 'Porte', 'value': app.user.homeAddress ? app.user.homeAddress.door : '' }}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.entryCode, {'attr': {'class': 'form-control', 'placeholder': 'Digicode 1', 'value': app.user.homeAddress ? app.user.homeAddress.doorCode : '' }}) }}
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                {{ form_widget(form.entryCode2, {'attr': {'class': 'form-control', 'placeholder': 'Digicode 2', 'value': app.user.homeAddress ? app.user.homeAddress.secondDoorCode : '' }}) }}
                            </div>
                        </div>
                        <div class="col-xs-12 margin-v-2-5  no-padding">
                            {{ form_widget(form.addressComment, {'attr': {'class': 'form-control', 'placeholder': 'Instruction pour la livraison (Ne pas sonner, chez, etc…)',  'value': app.user.homeAddress ? app.user.homeAddress.comment : '', 'rows': 6}}) }}
                        </div>
                        <div class="col-xs-12 margin-v-2-5 no-padding">
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control order-phone col-xs-12','placeholder':'Téléphone *'}}) }}
                        </div>
                    {% endif %}
                </section>
                {% if is_mobile() %}
                    <a href="#order"><button class="btn btn-order-step col-xs-8 col-xs-offset-2">Continuer</button></a>
                </section>
                <section class="recap-step" data-step="2" style="display: none;">
                {% endif %}
                <section class="form-field col-xs-12 no-padding">
                    <h4 class="text-center">Assaisonnements et baguettes</h4>
                    <div class="col-xs-12 background-white padding-v-15">
                        <div class="col-xs-9 col-sm-10">Assaisonnements</div>
                        <div class="col-xs-2 line-height-30 color-red-matsuri border-red-matsuri" style="border-left-style: solid;border-left-width: 1px;"><a href="#" data-toggle="modal" data-target="#sauceModal">Choisir</a></div>
                    </div>
                    <div class="col-xs-12 background-transparent padding-v-15 no-sauces" style="cursor:pointer;">
                        <div class="col-xs-10">Pas d'assaisonnements, merci.</div>
                        <div class="col-xs-2 line-height-30 color-red-matsuri">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x color-grey-3"></i>
                          <i class="fa fa-check fa-stack-1x color-white"></i>
                        </span>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-v-2-5 no-padding background-white">
                        <div class="col-xs-8 expire-text">Baguettes</div>
                        <div class="col-xs-4" style="cursor:pointer;">
                            {{ form_widget(form.woodSticks, {'attr': {'class': 'form-control order-woodsticks col-xs-12 select2'}}) }}
                        </div>
                    </div>
                </section>
                {% if is_mobile() %}
                    <a href="#order"><button class="btn btn-order-step col-xs-8 col-xs-offset-2">Continuer</button></a>
                </section>
                <section class="recap-step" data-step="3" style="display: none;">
                {% endif %}
                <section  class="form-field col-xs-12 no-padding">
                    <h4 class="text-center">Réductions</h4>
                    <div class="col-xs-12 background-white padding-v-15" id="coupon-div">
                        {% if cart.coupon is null %}
                            <div class="col-xs-10">
                                <input id="code" type="text" class="form-control " placeholder="Saisir le code promo" />
                            </div>
                            <div class="col-xs-2 line-height-30" id="coupon-ok" data-toggle="tooltip" title="Ajouter le coupon">
                                <i id="check_discount" class="fa fa-check color-grey-3"></i>
                            </div>
                        {% else %}
                            <div class="col-xs-10">
                                <span class="text-center line-height-30">{{ cart.coupon.name }} ({{ cart.coupon.verbose}})</span>
                            </div>
                            <div class="col-xs-2 line-height-30" id="coupon-remove" data-toggle="tooltip" title="Supprimer le coupon">
                                <i class="fa fa-check color-green"></i>
                            </div>
                        {% endif %}
                    </div>
                </section>

                <section  class="form-field col-xs-12 no-padding">
                    {% for loyalty in loyalties %}
                        <div class="col-xs-12 background-transparent padding-v-15 loyalty-select" data-loyalty="{{ loyalty.id }}">
                            <div class="col-xs-10">{{ loyalty.orderType ? "Prime de bienvenue de " ~ loyalty.value : "Prime fidélité " ~ loyalty.value  }} &euro; {% if loyalty.validUntil <= "now"|date_modify("+1 weeks") %}<span class="color-red-matsuri"  data-toggle="tooltip" title="{{ loyalty.validUntil |date('d/m/Y') }}"> Bientôt expirée</span>{% endif %} </div>
                            <div class="col-xs-2 line-height-30 color-red-matsuri">
                                <span class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x color-grey-5"></i>
                                  <i class="fa fa-check fa-stack-1x color-white"></i>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </section>

                <section class="form-field col-xs-12 no-padding payment">
                    {% if cards is defined and cards is not null and cards|length >0 %}
                        {{ form_widget(form.card,{id:'card-token'}) }}
                    {% else %}
                        {{ form_widget(form.card,{ attr:{'value':""},id:'card-token'}) }}
                    {% endif %}
                    <h3 class="text-center">Paiement</h3>
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active col-xs-12 text-center">
                            <div style="display: none;">
                                {{ form_widget(form.children.online_payment[0])}}
                            </div>
                            <a href="#payment1" data-toggle="tab"  id="paymentOnlineToggleOn">
                               <h5> Paiement par carte</h5>
                            </a>
                        </li>
                        <li class="col-xs-12 text-center">
                            <div style="display: none;">
                                {{ form_widget(form.children.online_payment[1])}}
                            </div>
                            <a data-toggle="tab" href="#payment2" id="paymentOnlineToggleOff">
                                <h5>Autres moyens</h5>
                            </a>
                        </li>
                    </ul>
                    {{ form_widget(form.cash, {'attr':{'class':'on-site-payment-input-form'}}) }}
                    {% if form.cbOnSite is defined %}
                        {{ form_widget(form.cbOnSite, {'attr':{'class':'on-site-payment-input-form'}}) }}
                    {% endif %}
                    {% if form.ticketResto is defined %}
                        {{ form_widget(form.ticketResto, {'attr':{'class':'on-site-payment-input-form'}}) }}
                    {% endif %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <div class="tab-content text-center">
                        <br><br>
                        <div id="payment1" class="tab-pane fade in active">
                                <ul id="cards" class="list-group col-xs-12 no-padding">
                                    {% if cards is defined and cards is not null and cards|length >0 %}
                                    {% for card in cards %}
                                        <li class="list-group-item col-xs-12 border-transparent" id="{{ card.id }}">
                                            <div class="col-xs-1">
                                                <input type="radio" class="card-input" name="cards" value='{{ card.id }}' >
                                            </div>
                                            <div class="col-xs-1 card-select">
                                                {% if card.brand == 'Visa' %}
                                                    <i class="fa fa-cc-visa"></i>
                                                {% elseif card.brand == 'MasterCard' %}
                                                    <i class="fa fa-cc-mastercard"></i>
                                                {% elseif card.brand == 'Visa-electron' or card.brand == 'Maestro' %}
                                                    <i class="fa fa-cc-visa"></i>
                                                {% else %}
                                                    <i class="fa fa-credit-card"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-4 card-select no-padding">
                                                {% if not is_mobile() %}Se terminant par:<br>{% else %}...{% endif %}{{ card.last4 }}
                                            </div>
                                            <div class="col-xs-3 card-select no-padding">
                                                {% if not is_mobile() %}Expirant le:<br>{% endif %}{{ card.exp_month }} / {{ card.exp_year }}
                                            </div>
                                            <a class="col-xs-1 remove-card text-center pull-right" idCard="{{ card.id }}" data-toggle="tooltip" title="supprimer">&times;</a>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>

                            <a id ="cardFormToggle" class="btn btn-cart">Saisir une nouvelle carte</a>
                            <br>
                            <div id="cardForm" class="col-xs-12"{% if cards is defined and cards is not null and cards|length>0 %}hidden{% endif %}>
                                {{ render(controller('ClabWhiteBundle:Order:createCard',{user: app.user})) }}
                            </div>
                        </div>
                        <div id="payment2" class="tab-pane fade" style="text-align: left;">
                            <div class="col-xs-12 background-transparent padding-v-15">
                                <div class="col-xs-10 col-sm-7 line-height-30">Espèces</div>
                                <div class="col-xs-10 col-sm-4 no-padding on-site-payment-input" style="display: none;"><input id="cash-on-site" type="text" placeholder="Préciser le montant" required="required" class="form-control background-transparent line-height-30 on-site-p" /></div>
                                <div class="line-height-30 color-red-matsuri pull-right">
                                    <span class="fa-stack on-site-payment" style="cursor:pointer;">
                                      <i class="fa fa-circle fa-stack-2x color-grey-5"></i>
                                      <i class="fa fa-check fa-stack-1x color-white"></i>
                                    </span>
                                </div>
                            </div>
                            {% if form.cbOnSite is defined or (cart.orderType == 3 and hasOrderedInDelivery is defined and hasOrderedInDelivery) %}
                                <div class="col-xs-12 background-transparent padding-v-15">
                                    {% if cart.orderType == 3 %}
                                        {% if hasOrderedInDelivery is defined and hasOrderedInDelivery %}<div class="col-xs-10 col-sm-7 line-height-30">Paiement par chèque à la livraison</div>{% endif %}
                                    {% else %}
                                        <div class="col-xs-10 col-sm-7 line-height-30">Paiement CB au retrait en caisse</div>
                                    {% endif %}
                                    <div class="line-height-30 color-red-matsuri pull-right">
                                        <span class="fa-stack on-site-payment others" style="cursor:pointer;">
                                          <i class="fa fa-circle fa-stack-2x color-grey-5"></i>
                                          <i class="fa fa-check fa-stack-1x color-white"></i>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if form.ticketResto is defined %}
                                <div class="col-xs-12 background-transparent padding-v-15">
                                    <div class="col-xs-10 col-sm-7 line-height-30">Titres Restaurant</div>
                                    <div class="line-height-30 color-red-matsuri pull-right">
                                        <span class="fa-stack on-site-payment others" style="cursor:pointer;">
                                          <i class="fa fa-circle fa-stack-2x color-grey-5"></i>
                                          <i class="fa fa-check fa-stack-1x color-white"></i>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
                 {% if is_mobile() %}
                </section>
                {% endif %}
            </section>
        </div>
        {% if is_mobile() %}
            {% include "ClabWhiteBundle:Order:cartModal.html.twig" with {cart: cart, noInteraction: true} %}
        {% else %}
            <div class="col-xs-3 cart" style="margin-top: 100px;">
                <div class="cart-wrapper no-interaction" id="cart-anchor">
                    {% include 'ClabWhiteBundle:Cart:cart.html.twig' with {cart: cart, noInteraction: true} %}
                </div>
            </div>
        {% endif %}
    </div>
     {% if is_mobile() %}
        <section class="recap-step" data-step="3" style="display: none;">
    {% endif %}
        <div class="col-xs-12 no-padding background-red-matsuri">
            <div class="col-sm-6 col-sm-offset-1 margin-v-15">
                <p class="text-center color-white">En validant votre paiement, vous acceptez
                    nos conditions générales de vente de la commande</p>
                <button id="submit-form" type="submit" class="btn btn-primary btn-lg btn-order margin-v-15 col-sm-6 col-sm-offset-3 color-white col-xs-10 col-xs-offset-1"><span class="col-xs-6">Validation</span><span class="col-xs-1 no-padding">|</span><span id="total-price" class="col-xs-5">{{ cart.totalPrice|number_format(2,',','.') }} &euro;</span></button>
            </div>
        </div>
    {% if is_mobile() %}
        </section>
    {% endif %}
</section>


{% endblock  %}
{% block footerClass %}relative{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="{{ asset('vendors/jquery-creditcardvalidator/jquery.creditCardValidator.js')
    }}"></script>
    <script type="text/javascript">

        $('.product-header').each(function () {
            var element = $(this);
            var background = element.data('background');

            element.css({'background-image': 'url('+background+')'});
            ;
        });

        $('#suggestionModal').modal('show');

        {% if countMeals is defined and countMeals %}
            $('{{ '#' ~ form.slots.vars.id }}').change(function(){
                var chosenTime = $(this).find(':selected').val();

                if (chosenTime >= '16:00') {
                    $('#submit-form').attr('disabled',true);
                    sweetAlert('Attention :', 'les formules sont exclusivement réservées aux commandes passées pour midi.', 'warning');
                    return;
                }
                $('#submit-form').attr('disabled',false);
            });
        {% endif %}

        $('#width_change').css('cssText', 'width: 100px !important');

        $(document).ready(function() {
            $('.select2').select2({
                minimumResultsForSearch: Infinity
            });
            jcf.replaceAll();
            
            $('.cart-wrapper').find('button').remove();

            $('.cart-wrapper').find('a').remove();

            $('#paymentOnlineToggleOn').click(function(){
                $(this).parent().find('span.jcf-radio').click();
            });

            $('#paymentOnlineToggleOff').click(function(){
                $(this).parent().find('span.jcf-radio').click();
            });

            $(".card-select").click(function(){
                $(this).parent().find('span.jcf-radio').click();
            });

            $('input[name="cards"]').click(function(){
                if ($("#card-token").val() == $(this).val()){
                    $("#card-token").val("");
                    $(this).prop('checked', false);
                    $(this).parent().toggleClass("jcf-checked jcf-unchecked");
                }
                else{
                    $("#card-token").val($(this).val());
                }
            });

            var muchError = false;

            $('input[required="required"]:visible').keyup(function(){
                if(!$(this).val() || '' == $(this).val()){
                    if (!muchError) {
                        sweetAlert('Oops...', 'Veuillez remplir tous les champs requis du formulaire', 'error');
                        muchError++;
                    }
                    $(this).addClass('border border-red-matsuri');
                } else {
                    $(this).removeClass('border border-red-matsuri');
                }
            });

            $("#submit-form").click(function(){
                var regex = /^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$/;
                var otherPayments = false;

                $('.on-site-payment-input-form').each(function(){
                    if($(this).val()  && $(this).val() > 0) {
                        otherPayments = true;
                    }
                });

                if ($('#{{ form.children.online_payment[0].vars.id }}').is(':checked') && $("#card-token").val() == '') {
                    sweetAlert('Oops...','Veuillez selectionner une carte de payement.','error');
                } else if (!$('.order-phone')[0].checkValidity() || !regex.test($('.order-phone').val())) {
                    sweetAlert('Oops...','Veuillez indiquer un numéro de téléphone valide','error');
                } else if($('#{{ form.children.online_payment[1].vars.id }}').is(':checked') && !otherPayments){
                    sweetAlert('Oops...','Veuillez indiquer un moyent de payement.','error');
                } else {
                    var error = false;
                    $('input[required="required"]:visible').each(function(){
                        if (!$(this).val() || '' == $(this).val()) {
                            error = true;
                            $(this).addClass('border border-red-matsuri');
                        } else {
                            $(this).removeClass('border border-red-matsuri');
                        }
                    })

                    if(error) {
                        sweetAlert('Oops...','Veuillez remplir tous les champs requis du formulaire','error');
                        return;
                    }

                    $("#order-form").submit();
                }
            });

            $("#cardFormToggle").click(function(){
                if (!$('#cardForm').is(":visible")) {
                    $(this).html('Fermer');
                    $("#cardForm").slideDown();
                } else {
                    $(this).html('Saisir une nouvelle carte');
                    $("#cardForm").slideUp();
                }
            });
            $(".cardFormToggle").click(function(){
                if (!$('#cardForm').is(":visible")) {
                    $('#cardFormToggle').html('Fermer');
                    $("#cardForm").slideDown();
                } else {
                    $('#cardFormToggle').html('Saisir une nouvelle carte');
                    $("#cardForm").slideUp();
                }
            });

            $('.remove-card').click(function(){
                var ul = "{{ path('clab_white_card_remove',{user:app.user.id, card:'PLACEHOLDER'}) }}"
                ul = ul.replace('PLACEHOLDER',$(this).attr('idCard'));
                var id= "#"+$(this).attr('idCard');
                $.ajax({
                    type        : 'GET',
                    url         : ul,
                    beforeSend: function(){
                        $(id).slideUp('slow');
                    },
                    success     : function(data) {
                        if($("#card-token").val()==$(this).attr('idCard'))
                            $("#card-token").val("");

                        $(id).remove();
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        $(id).slideDown('slow');
                        alert('Error : ' + errorThrown);
                    }
                });
            });

            var isAmex = false;

            $(function () {

                $('#clab_stripe_cardformtype_card').validateCreditCard(function (result) {
                    isAmex = false;
                    if (result.card_type == null) {
                        $('.log').html('<i class="fa fa-credit-card"></i>');
                    } else if (result.card_type.name == 'mastercard') {
                        $('.log').html('<i class="fa fa-cc-mastercard"></i>');
                    } else if (result.card_type.name == 'visa') {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    } else if (result.card_type.name == 'amex') {
                        sweetAlert('Oops...','Nous n\'acceptons pas d\'American express.','error')
                        $('.log').html('<i class="fa fa-cc-amex"></i>');
                        isAmex=true;
                    } else if (result.card_type.name == 'visa_electron') {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    } else if (result.card_type.name == 'maestro') {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    }
                });
            });
            Stripe.setPublishableKey('{{ publishableKey }}');

            var errorMessages = {
                incorrect_number: "Le numéro de carte est incorrect.",
                invalid_number: "Le numéro de carte est invalide.",
                invalid_expiry_month: "La date d'expiration est incorrecte.",
                invalid_expiry_year: "L'année d'expiration est invalide.",
                invalid_cvc: "Le code de sécurité de la carte est invalide.",
                expired_card: "La carte est expirée.",
                incorrect_cvc: "Le code de sécurité de la carte est incorrect.",
                incorrect_zip: "Le code postal de la carte est incorrect.",
                card_declined: "La carte a été refusée.",
                missing: "Erreur.",
                processing_error: "Une erreur est survenue lors du traitement de votre carte.",
                rate_limit:  "Une erreur est survenue lors du traitement de votre carte. Veuillez nous en faire part si le probleme persiste"
            };

            var stripeResponseHandler = function (status, response) {
                var $form = $('#payment-form');
                if (response.error || isAmex) {
                    sweetAlert('Oops...', '' + errorMessages[ response.error.code ], 'error');
                    $form.find('button').prop('disabled', false);
                } else {
                    // token contains id, last4, and card type
                    var token = response.id;
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    // and re-submit
                    var values = {};
                    $.each( $form.serializeArray(), function(i, field) {
                        values[field.name] = field.value;
                    });
                    $form.find('.fa-spin').show();
                    $.ajax({
                        type        : $form.attr( 'method' ),
                        url         : $form.attr( 'action' ),
                        data        : values,
                        success     : function(data) {
                            $form.find('.fa-spin').hide();
                            var countries = ['AT','US', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GB', 'EL', 'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'CH'];
                            $form.find('button').prop('disabled', false);
                            $('#cards').html('');
                            for(var i = 0;i<data.data.length;i++){
                                if(countries.indexOf(data.data[i].country)>=0) {
                                    var cardIcon = "";
                                    if (data.data[i].brand == 'MasterCard') {
                                        cardIcon+='<i class="fa fa-cc-mastercard"></i>';
                                    }
                                    else if (data.data[i].brand == 'Visa') {
                                        cardIcon+='<i class="fa fa-cc-visa"></i>';
                                    }
                                    else if (data.data[i].brand == 'Visa_electron') {
                                        cardIcon+='<i class="fa fa-cc-visa"></i>';
                                    }
                                    else if (data.data[i].brand == 'Maestro') {
                                        cardIcon+='<i class="fa fa-cc-visa"></i>';
                                    }else{
                                        cardIcon+='<i class="fa fa-credit-card"></i>';
                                    }
                                    $('#cards').append(
                                            '<li class="list-group-item col-xs-12 border-transparent" id="'+data.data[i].id+'">'+
                                            '<div class="col-xs-1">'+
                                            '<input type="radio" name="cards" value="'+data.data[i].id+'" '+(i==0 ? 'checked' : '')+'>'+
                                            '</div>'+
                                            '<div class="col-xs-1 card-select">'+cardIcon+'</div>'+
                                            '<div class="col-xs-4 card-select no-padding">'+
                                            {% if not is_mobile() %}'Se terminant par:<br>'{% else %}'...'{% endif %}+data.data[i].last4+'</div>'+
                                            '<div class="col-xs-3 card-select no-padding">'+
                                            {% if not is_mobile() %}'Expirant le:<br>'{% endif %}+data.data[i].exp_month+' / '+data.data[i].exp_year+'</div>'+
                                            '<a class="col-xs-1 remove-card text-center pull-right" idCard="'+data.data[i].id+'" data-toggle="tooltip" title="supprimer">&times;</a></li>'
                                            );
                                }
                            }
                            $("#card-token").val(data.data[0].id);
                            jcf.replaceAll();
                            $('.remove-card').click(function(){


                                var ul = "{{ path('clab_white_card_remove',{user:app.user.id, card:'PLACEHOLDER'}) }}"
                                ul = ul.replace('PLACEHOLDER',$(this).attr('idCard'));
                                var id= "#"+$(this).attr('idCard');
                                $.ajax({
                                    type        : 'GET',
                                    url         : ul,
                                    beforeSend: function(){
                                        $(id).slideUp('slow');
                                    },
                                    success     : function(data) {
                                        $(id).remove();
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown)
                                    {
                                        $(id).slideDown('slow');
                                        alert('Error : ' + errorThrown);
                                    }
                                });
                            });
                            $('input[name="cards"]').click(function(){
                                $("#card-token").val($(this).val());
                            });
                            $(".card-select").click(function(){
                                $(this).parent().find('span.jcf-radio').click();
                            });
                            $("#cardFormToggle").html('Saisir une nouvelle carte');
                            $("#cardForm").slideUp();
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            $form.find('.fa-spin').hide();
                            $form.find('button').prop('disabled', false);
                            alert('Error : ' + errorThrown);
                        }
                    });
                }
            };

            $('#payment-form').submit(function (e) {
                var $form = $(this);
                $form.find('button').prop('disabled', true);
                Stripe.card.createToken($form, stripeResponseHandler);
                return false;
            });


            $("#form_online_payment_0").prop("checked", true);
            $('a.back').click(function () {
                parent.history.back();
                return false;
            });

            $('a[data-toggle="tab"]').click(function () {
                $('.payment_method_choice').prop('checked', false);
                var id = $(this).attr('href');
                $(id).find('.payment_method_choice').prop('checked', true);
            });
        });
        $(window).load(function(){

            var addCoupon = function(e){
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{{ path('clab_white_cart_coupon',{slug:restaurant.slug}) }}",
                    data: { code: $("#code").val()},
                    success:function(result){
                        if(result.success == false) {
                           // sweetAlert("Erreur", result.message, "error");
                            $('#check_discount').toggleClass(('color-grey-3 red'));
                        } else {
                            $(".cart-wrapper").html(result.cart);
                            $("#coupon-div").html(
                                    '<div class="col-xs-10">'+
                                    '<span class="text-center">'+result.couponname + '(' +result.couponverbose +')</span>'+
                                    '</div>'+
                                    '<div class="col-xs-2 line-height-30" id="coupon-remove" data-toggle="tooltip" title="Supprimer le coupon">'+
                                    '<i class="fa fa-check color-green"></i>'+
                                    '</div>');
                            $('#coupon-remove').click(removeCoupon);
                            $('[data-toggle="tooltip"]').tooltip();
                            //sweetAlert("Bravo", "Le coupon est ajouté à votre panier", "success");
                        }
                    }});
            };

            var removeCoupon = function(){
                $.ajax({
                    type: "POST",
                    url: "{{ path('clab_white_cart_coupon_remove',{slug:restaurant.slug}) }}",
                    success:function(result){
                        $(".cart-wrapper").html(result);
                        $("#coupon-div").html(
                                '<div class="col-xs-10">'+
                                '<input id="code" type="text" class="form-control " placeholder="Saisir le code promo" />'+
                                '</div>'+
                                '<div class="col-xs-2 line-height-30" id="coupon-ok" data-toggle="tooltip" title="Ajouter le coupon">'+
                                '<i class="fa fa-check color-grey-3"></i>'+
                                '</div>');
                        sweetAlert("Bravo", "Le coupon est retiré de votre votre panier", "success");
                        $("#coupon-ok").click(addCoupon);
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                });
            };
            $("#code").keyup(addCoupon);

            $('#coupon-remove').click(removeCoupon);

            $('.loyalty-select').on('click', function(){
                var
                    url = "{{ path('clab_cart_update_loyalties',{slug:restaurant.slug, loyaltyId: 'LOYALTY_ID'}) }}",
                    loyaltyId = $(this).attr('data-loyalty'),
                    $self = $(this)
                ;

                $.ajax({
                    type: "POST",
                    url: url.replace('LOYALTY_ID', loyaltyId),
                    success:function(result){
                        $(".cart-wrapper").html(result);
                        $self.find('.fa-circle').toggleClass('color-grey-3 color-red-matsuri');

                        var price = $('.total-price').html();
                        $('#total-price').html(price);
                    }
                });
            });
        });
    </script>
    <script>
        $('#order-date').on('change', function() {
            var date = $(this).val();
            var chosenDate = new Date(date);
            var currentDate = new Date();
            var maxDate = new Date();
            maxDate.setDate(maxDate.getDate() + 7);

            chosenDate = chosenDate.getDate()+chosenDate.getMonth+chosenDate.getYear();
            currentDate = currentDate.getDate()+currentDate.getMonth+currentDate.getYear()
            maxDate = maxDate.getDate()+maxDate.getMonth+maxDate.getYear();


            if ( chosenDate >= currentDate) {
                if(chosenDate > maxDate) {
                    sweetAlert("Oops!", "Veuillez choisir une date à J+7", "error");
                    $('#submit-form').attr('disabled',true);
                    return;
                }
                var url = "{{ path('clab_white_order_date_check', {'slug':restaurant.slug, 'date': 'DATE'}) }}"
                window.location.href = url.replace('DATE', date) ;
            } else {
                sweetAlert("Oops!", "Veuillez choisir une date valide", "error");
                $('#submit-form').attr('disabled',true);
                return;
            }
            $('#submit-form').attr('disabled',false);
        });

        var currentStep = 0;

        $('.btn-order-step').click(function(e){
            e.preventDefault();
            var $currentSection = $('.recap-step:visible');

            $('.steps').eq(currentStep).removeClass('actived');

            currentStep = $currentSection.attr('data-step');
            $currentSection.fadeOut();
            $('.recap-step').eq(currentStep).fadeIn();
            if(currentStep == 2) {
                $('.recap-step').eq(3).fadeIn();
            }
            $('.steps').eq(currentStep).addClass('actived');
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });

        $('.steps').click(function(){
            if ($(this).index('.steps') <= currentStep) {
                $('.steps').removeClass('actived')
                $('.recap-step').fadeOut();
                $('.recap-step').eq($(this).index('.steps')).fadeIn();
                if ($(this).index('.steps') == 2) {
                    $('.recap-step').eq(3).fadeIn();
                }
            $(this).addClass('actived');
            }
        });

        $('.no-sauces').click(function(e){
            $('.sauce-info .list-group-item:first-child').each(function(){
                $(this)[0].click();
            });

            $(this).find('i:eq(0)').toggleClass('color-grey-3 color-red-matsuri');

            postForm($('#sauce-form'));
        });

        $('.on-site-payment').click(function(){
            $('.on-site-payment-input-form').val(0);
            $('.on-site-payment').find('i').removeClass('color-red-matsuri').addClass('color-grey-5');
            $('.on-site-payment-input').val(' ').hide();

            $(this).find('i:eq(0)').toggleClass('color-grey-5 color-red-matsuri');
            $('.on-site-payment-input').eq($(this).index('.on-site-payment')).toggle();

        });

        $('.others').click(function(){
            $('.on-site-payment-input-form').eq($(this).index('.on-site-payment')).val(1);
        });

        $('.on-site-p').change(function(){
            $('.on-site-payment-input-form').eq($(this).index('.on-site-p')).val($(this).val());
        });

        $("#form_addressComment").append('{{ app.user.homeAddress ? app.user.homeAddress.comment : '' }}');
    </script>
{% endblock %}
