{% extends 'ClabWhiteBundle::baseModal.html.twig' %}

{% block modalClass %}productModal{% endblock %}
{% block modalId %}productModal-{{ product.id }}{% endblock %}
{% block modalTitle %}{% endblock %}
{% block modalBody %}
    <well class="col-xs-12 background-white padding-v-25">
        {% if is_mobile() %}<div class="col-xs-12" ><div class="product-header" data-background="{{ product.cover }}"></div></div>{% endif %}
        <section class="col-xs-12 col-sm-5">
            <h5 class="product-name">{{ product.name }}</h5><br>
            <div class="row infos">
                {% if product.extraFields %}
                    {% if  product.extraFields['regime'] is not empty %}
                        <div class="{% if  product.extraFields['calories'] is empty and product.extraFields['nbpieces'] is empty %} col-md-6 {% else %} col-lg-4 col-md-4 col-sm-12 {% endif  %}info first">
                            <p>{{ product.extraFields['regime'] }}</p>
                        </div>
                    {% endif %}
                    <div class="{% if  product.extraFields['regime'] is not empty %} col-lg-4 col-md-4 col-sm-12 {% else %} col-md-6 {% endif %} info first">
                        {% if  product.extraFields['calories'] is not empty %}
                            <p>{{ product.extraFields['calories'] }} kcal</p>
                        {% endif %}
                        {% if product.extraFields['nbpieces']  %}
                            <p>{{ product.extraFields['nbpieces'] }} pièce{%  if product.extraFields['nbpieces'] > 1 %}s {%  endif %}</p>
                        {% endif %}
                    </div>
                {%  endif %}
                <div class="{%  if product.extraFields %}{% if  product.extraFields['regime'] is not empty and  product.extraFields['nbpieces'] is not empty %} col-lg-4 col-md-4 col-sm-12 {%  elseif  product.extraFields['regime'] is not empty or  product.extraFields['nbpieces'] is not empty%} col-md-6 {% endif %} {% else  %} col-md-12 {% endif %} info price">
                    <p>
                        {% if parentMeal is defined %}
                            {% set firstSlot = false %}
                            {% for k,slot in parentMeal.slots %}
                                {% for key, value in slot.customPrices %}
                                    {% if key == product.id %}
                                        {% if k == 0 %}
                                            {% if orderType == 3 %}
                                                {{ value + parentMeal.deliveryPrice }} €
                                            {% else %}
                                                {{ value }} €
                                            {% endif %}
                                            {% set firstSlot = true %}
                                        {% else %}(+{{ value }} €){% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% if orderType == 3 %}
                                {{ product.deliveryPrice|number_format(2, '.', ',') }} €
                            {% else %}
                                {{ product.price|number_format(2, '.', ',') }} €
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if parentMeal is defined %}
                <div class="add-list {{ category.type }} element-item transition padding-v-15" url="{{ path('clab_white_meal_compose', {
                    token: token, slot: slot.id, choice: product.id }) }}">
                    <button class="add-list btn btn-primary btn-red  {{ category.type }}">
                        {% if firstSlot is defined and firstSlot %}Choisir cette formule{% else %}Ajouter à la formule{% endif %}
                    </button>
                </div>
            {% else %}
                <div class="{{ category.type }} element-item padding-v-15">
                    <a class="add-list btn btn-primary {{ category.type }} add-favorite {% if favorites is defined and product.id in favorites %} actived {% endif %}" id="update-product-favorite" data-add="{% if favorites is defined and product.id in favorites %} 0 {% else  %} 1 {% endif %}" data-slug="{{ product.slug }}" data-hover="Retirer"><span>Favori</span></a>
                    {% if options[product.id] is defined %}
                        <a href="#modalOption-{{ product.id }}"
                           data-toggle="modal"
                           data-target="#modalOption-{{ product.id }}"
                           class="add-list btn btn-primary btn-red {{ category.type }}">Panier</a>
                    {% else %}
                        <a class="add-list btn btn-primary btn-red {{ category.type }}" id="add-product-cart" data-slug="{{ product.slug }}">Panier</a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="composition other-info">
                <a href="#" data-toggle="collapse" class="text-center" data-target="#composition-{{ product.id }}">Composition  <i class="fa fa-angle-right"></i></a>
                <div class="collapse text-center" id="composition-{{ product.id }}">{{ product.description }}</div>
            </div>
            {% if product.extraFields and product.extraFields['condiments'] is defined %}
            <div class="condiments other-info">
                <a href="#" data-toggle="collapse" class="text-center" data-target="#condiments-{{ product.id }}">Condiments inclus  <i class="fa fa-angle-right"></i></a>
                <div class="collapse text-center" id="condiments-{{ product.id }}">{{ product.extraFields['condiments'] }}</div>
            </div>
            {% endif %}
            {% if product.extraFields and product.extraFields['nutrition'] is defined %}
                <div class="nutrition other-info">
                    <a href="#" data-toggle="collapse" class="text-center" data-target="#nutrition-{{ product.id }}">Valeurs nutritionnelles  <i class="fa fa-angle-right"></i></a>
                    <div class="collapse text-center" id="nutrition-{{ product.id }}">{{ product.extraFields['nutrition'] }}</div>
                </div>
            {% endif %}
            {% if product.extraFields and product.extraFields['allergies'] is defined %}
                <div class="allergies other-info">
                    <a href="#" data-toggle="collapse" class="text-center" data-target="#allergies-{{ product.id }}">Allergenes  <i class="fa fa-angle-right"></i></a>
                    <div class="collapse text-center" id="allergies-{{ product.id }}">{{ product.extraFields['allergies'] }}</div>
                </div>
            {% endif %}
        </section>
        {% if not is_mobile() %}<div class="col-xs-12 col-sm-7" ><div class="product-header" data-background="{{ product.cover }}"></div></div>{% endif %}
    </well>
{% endblock %}