{% extends 'ClabWhiteBundle::baseModal.html.twig' %}

{% block modalClass %}sauceModal{% endblock %}
{% block modalId %}sauceModal{% endblock %}
{% block modalTitle %}Sélectionnez les assaisonnements supplémentaires{% endblock %}
{% block modalBody %}
    {{ form_start(form, {'attr': {'id': 'sauce-form'}, 'action': path('clab_cart_update_sauces', {slug:slug})}) }}
    <section  class="form-field col-xs-12 no-padding">
        <div class="col-xs-12 margin-v-15 delivery-infos no-padding line-height-30">
            <div class="col-sm-3 col-xs-12 sauce-info">
                <div class="col-xs-12 margin-v-2-5">
                    {{ form_widget(form.ginger, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.freeGinger, {'attr': {'class': 'form-control free'}}) }}
                    <h5 class="col-xs-10 col-sm-12">Gingembre <span class="sauce-quantity"> ({{ cart.freeGinger ? cart.freeGinger : cart.freeGinger + cart.ginger }})</span></h5>
                    <img class="hidden-xs col-xs-12" src="{{ asset('files/blank.png') }}">
                    <div id="ginger" class="collapse col-xs-12 no-padding list-group">
                        {% if freeSauces > 0 %}
                            {% for i in 0..freeSauces %}
                                {% if freeSauces <= 6 %}
                                    <a href="#ginger" class="list-group-item ginger free {% if i == cart.freeGinger and 0 == cart.ginger %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri margin-right-25">{{ i }}</span></a>
                                {% endif %}
                            {% endfor %}
                            {% for j in (freeSauces+1)..6 %}
                                <a href="#ginger" class="list-group-item ginger {% if j-freeSauces == cart.ginger %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ gingerPrice * (j -freeSauces)|number_format(2) }} &euro; </a>
                            {% endfor %}
                        {% else %}
                            {% for j in 0..6 %}
                                <a href="#ginger" class="list-group-item ginger {% if j-freeSauces == cart.ginger %}active{% endif %}" value="{{ j }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ gingerPrice * j|number_format(2) }} &euro; </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a data-toggle="collapse" data-target="#ginger" class="col-sm-12 col-xs-2 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 sauce-info">
                <div class="col-xs-12 margin-v-2-5">
                    {{ form_widget(form.wasabi, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.freeWasabi, {'attr': {'class': 'form-control free'}}) }}
                    <h5 class="col-xs-10 col-sm-12">Wasabi <span class="sauce-quantity"> ({{ cart.freeWasabi ? cart.freeWasabi : cart.freeWasabi + cart.wasabi }})</span></h5>
                    <img class="hidden-xs col-xs-12" src="{{ asset('files/blank.png') }}">
                    <div id="wasabi" class="collapse col-xs-12 no-padding list-group">
                        {% if freeSauces > 0 %}
                            {% for i in 0..freeSauces %}
                                {% if freeSauces <= 6 %}
                                    <a href="#wasabi" class="list-group-item wasabi free {% if i == cart.freeWasabi and 0 == cart.wasabi  %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri margin-right-25">{{ i }}</span></a>
                                {% endif %}
                            {% endfor %}
                            {% for j in (freeSauces+1)..6 %}
                                <a href="#wasabi" class="list-group-item wasabi {% if j-freeSauces == cart.wasabi %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ wasabiPrice * (j -freeSauces)|number_format(2) }} &euro; </a>
                            {% endfor %}
                        {% else %}
                            {% for j in 0..6 %}
                                <a href="#wasabi" class="list-group-item wasabi {% if j-freeSauces == cart.wasabi %}active{% endif %}" value="{{ j }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ wasabiPrice * j|number_format(2) }} &euro; </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a data-toggle="collapse" data-target="#wasabi" class="col-sm-12 col-xs-2 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <section class="col-sm-6 col-xs-12 well sauces-soja">
                <div class="col-sm-6 col-xs-12 sauce-info">
                    <div class="col-xs-12 margin-v-2-5">
                        {{ form_widget(form.sugarySoja, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.freeSugarySoja, {'attr': {'class': 'form-control free'}}) }}
                        <h5 class="col-xs-10 col-sm-12">Sauce soja sucrée <span class="sauce-quantity"> ({{ cart.freeSugarySoja ? cart.freeSugarySoja : cart.freeSugarySoja + cart.sugarySoja }})</span></h5>
                        <img class="hidden-xs col-xs-12" src="{{ asset('files/blank.png') }}">
                        <div id="sugar" class="collapse col-xs-12 no-padding list-group">
                            {% if freeSauces > 0 %}
                                {% for i in 0..freeSauces %}
                                    {% if freeSauces <= 6 %}
                                        <a href="#sugar" class="list-group-item sauce free {% if i == cart.freeSugarySoja and 0 == cart.sugarySoja %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri margin-right-25">{{ i }}</span></a>
                                    {%endif %}
                                {% endfor %}
                                {% for j in (freeSauces+1)..6 %}
                                    <a href="#sugar" class="list-group-item sauce {% if j-freeSauces == cart.sugarySoja %}active{% endif %}" value="{{ j - freeSauces }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ sugarySojaPrice * (j -freeSauces)|number_format(2) }} &euro; </a>
                                {% endfor %}
                            {% else %}
                                {% for j in 0..6 %}
                                    <a href="#sugar" class="list-group-item sauce {% if j-freeSauces == cart.sugarySoja %}active{% endif %}" value="{{ j }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ sugarySojaPrice * j|number_format(2) }} &euro; </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a data-toggle="collapse" data-target="#sugar" class="col-sm-12 col-xs-2 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 sauce-info">
                    <div class="col-xs-12 margin-v-2-5">
                        {{ form_widget(form.saltySoja, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.freeSaltySoja, {'attr': {'class': 'form-control free'}}) }}
                        <h5 class="col-xs-10 col-sm-12">Sauce soja salée <span class="sauce-quantity"> ({{ cart.freeSaltySoja ? cart.freeSaltySoja : cart.freeSaltySoja + cart.saltySoja }})</span></h5>
                        <img class="hidden-xs col-xs-12" src="{{ asset('files/blank.png') }}">
                        <div id="salt" class="collapse col-xs-12 no-padding list-group">
                            {% if freeSauces > 0 %}
                                {% for i in 0..freeSauces %}
                                    {% if freeSauces <= 6 %}
                                        <a href="#salt" class="list-group-item sauce free {% if i == cart.freeSaltySoja and 0 == cart.saltySoja %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri margin-right-25">{{ i }}</span></a>
                                    {% endif %}
                                {% endfor %}
                                {% for j in (freeSauces+1)..6 %}
                                    <a href="#salt" class="list-group-item sauce {% if j-freeSauces == cart.saltySoja %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ saltySojaPrice * (j -freeSauces)|number_format(2) }} &euro; </a>
                                {% endfor %}
                            {% else %}
                                {% for j in 0..6 %}
                                    <a href="#salt" class="list-group-item sauce {% if j-freeSauces == cart.saltySoja %}active{% endif %}" value="{{ j }}"><span class="color-red-matsuri margin-right-25">{{ j }}</span> {{ saltySojaPrice * j|number_format(2) }} &euro; </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a data-toggle="collapse" data-target="#salt" class="col-sm-12 col-xs-2  background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 background-transparent">
                    <h4 class="text-center padding-v-15 color-white">
                        {% if freeSauces > 0 %}
                            {{ freeSauces }} sauces gratuites maximum
                        {% else %}
                            Veuillez choisir vos assaisonnements supplémentaires
                        {% endif %}
                    </h4>
                </div>
            </section>

        </div>
        <div class="row">
            <button type="submit" class="btn btn-red btn-lg margin-v-15 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">Ajouter</button>
        </div>
    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
        var countSauces = 0,
            freeSauces = originalFreeSauces = {{ freeSauces }},
            sugar = {{ cart.sugarySoja+cart.freeSugarySoja }},
            salt = {{ cart.saltySoja+cart.freeSaltySoja }};

        $('.sauce-info .list-group-item').on('click', function(){
            var $self = $(this);
            $self.parent().find('a.list-group-item').removeClass('active');
            $self.toggleClass('active');
            if($self.hasClass('free')) {
                $self.parents('.sauce-info').find('input').not('.free').val(0);
                $self.parents('.sauce-info').find('input.free').val($self.attr('value'));
            } else {
                $self.parents('.sauce-info').find('input').not('.free').val($self.attr('value'));
                $self.parents('.sauce-info').find('input.free').val(originalFreeSauces);

                if($self.parent().attr('id') == "sugar") {
                    $self.parents('.sauce-info').find('input.free').val(originalFreeSauces-salt);
                }
                if($self.parent().attr('id') == "salt") {
                    $self.parents('.sauce-info').find('input.free').val(originalFreeSauces-sugar);
                }
            }
            $self.parent().parent().find('.sauce-quantity').html('('+$self.find('span').html()+')');
            setTimeout(function(){
                $self.parent().collapse("hide");
            },200);
        });

        $('#sugar a').on('click' ,function(){

            sugar = parseInt($(this).find('span').html());

            if(sugar >= originalFreeSauces){
                sugar = originalFreeSauces
            }

            freeSauces = originalFreeSauces - (salt + sugar);
            if (freeSauces < 0) {
                freeSauces = 0;
            }
            if(freeSauces >= 0 && salt < originalFreeSauces) {
                for(var i = 0; i <= freeSauces + salt; i++) {
                    $('#salt a').eq(i).attr('value',i).addClass('free').html('<span class="color-red-matsuri margin-right-25">'+i+'</span>');
                }

                for(var i = freeSauces  + salt +1 , j = 1; i <= 6; i++, j++) {
                    $('#salt a').eq(i).attr('value',i - freeSauces).removeClass('free').html('<span class="color-red-matsuri margin-right-25">'+i+'</span>'+(j*{{ saltySojaPrice }}).toFixed(2)+' &euro;');
                }
            }
        });


        $('#salt a').on('click' ,function(){

            salt = parseInt($(this).find('span').html());
            if(salt >= originalFreeSauces){
                salt = originalFreeSauces
            }

            freeSauces = originalFreeSauces - (salt + sugar);
            if (freeSauces < 0) {
                freeSauces = 0;
            }
            if(freeSauces >= 0 && sugar < originalFreeSauces) {
                for(var i = 0; i <= freeSauces + sugar; i++) {
                    $('#sugar a').eq(i).attr('value',i).addClass('free').html('<span class="color-red-matsuri margin-right-25">'+i+'</span>');
                }

                for(var i = freeSauces + sugar +1, j = 1; i <= 6; i++, j++) {
                    $('#sugar a').eq(i).attr('value',i - freeSauces).removeClass('free').html('<span class="color-red-matsuri margin-right-25">'+i+'</span>'+(j*{{ sugarySojaPrice }}).toFixed(2)+' &euro;');
                }
            }

        });

        function postForm( $form ){

            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(data) {
                   $('.cart-wrapper').html(data);
                   $('#sauceModal').modal('hide');
                   var price = $('.total-price').html();
                   $('#total-price').html(price);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    sweetAlert('Oops...', 'Une erreur est survenue lors de l\'ajout de vos assaisonnement veuillez réessayer.', 'error');
                }
            });
        }

        $('#sauce-form').on('submit', function(e){
            e.preventDefault();
            postForm($(this))
        });


    </script>
{% endblock %}