{% spaceless %}
<div class="map-tooltip">
  <h4 class="title restaurant-title">
      {% spaceless %}
      <a href="{{ path('clab_white_store_profile', {'slug' : restaurant.slug}) }}">{{ restaurant.name }}</a>
      {% endspaceless %}
  </h4>
  <p class="tags">{% for tag in restaurant.tags %}{{ tag.name|capitalize|trans }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
  <dl>
    <dt>Prix moyen :</dt>
    {% if restaurant.averagePrice is not null %}
    {% spaceless %}
      <dd>{{restaurant.averagePrice|number_format(2, '.', ',')}}&euro;</dd>
    {% endspaceless %}
    {% else %}
      <dd>Non renseigné</dd>
    {% endif %}
  </dl>
  {% if restaurant.todayPlanning is not empty %}
  <dl>
    <dt>Ouvert jusqu&#39;à :</dt>
    <dd>{{ restaurant.todayPlanning.end|date('H:i') }}</dd>
  </dl>
  {% else %}
  <dl>
    <dt>Fermé</dt>
    <dd></dd>
  </dl>
  {% endif %}

  <div class="clearfix actions">
    <div class="pull-right">
      <a href="{{ path('clab_white_store_profile',{slug : restaurant.slug}) }}" class="btn btn-default">Profil</a>
      <a href="{{ path('clab_white_order_home',{slug : restaurant.slug}) }}" class="btn btn-default">Commande</a>
    </div>
  </div>
</div>
{% endspaceless %}
