{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
{#
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#gallery" role="tab" data-toggle="tab">Photos</a></li>
    <li><a href="#library" role="tab" data-toggle="tab">Bibliothèque</a></li>
</ul>#}

<div class="tab-content">
    <div class="tab-pane active" id="gallery">
        <div class="row">
            <div class="col-md-4" id="upload-col">
                <a href="#" class="thumbnail" id="uploadButton">
                    <img src="{{ asset('front/bundle/board/img/upload.png') | imagine_filter('square_200') }}" syle="max-width:100%;" class="uploader">
                </a>
            </div>

            {% for image in gallery.images %}
                <div class="col-md-4">
                    <div class="image">
                        <a href="" class="remove-link" data-image-id="{{ image.id }}" data-gallery="{{ gallery.id }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        {% if noCover is not defined or not noCover %}
                        <a href="" class="cover-link {% if image.isPromoted %}active{% endif %}" data-image-id="{{ image.id }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        {% endif %}
                        <div href="#" class="thumbnail">
                          <img src="{{ image.webPath | imagine_filter('square_200') }}" syle="max-width:100%;" id="image-{{ image.id }}" onclick="return launchEditor('image-{{ image.id }}', 'https://{{ proDomain }}/{{ image.webPath }}');">
                          {#<img src="http://www.carter-cash.com/media/customer/blog/1969/Food-Truck-Fridays-e1386219422143.jpg" syle="max-width:100%;" id="image-{{ image.id }}" onclick="return launchEditor('image-{{ image.id }}', 'http://www.carter-cash.com/media/customer/blog/1969/Food-Truck-Fridays-e1386219422143.jpg');">#}
                          {# http://www.carter-cash.com/media/customer/blog/1969/Food-Truck-Fridays-e1386219422143.jpg #}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" id="profile">
    </div>
    <div class="tab-pane" id="library">
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/clabboard/js/lib/uploader.js') }}"></script>
<script type="text/javascript">
var imgUpload = "{{ asset('front/bundle/board/img/upload.png') | imagine_filter('square_200') }}";
var imgLoading = "{{ asset('front/bundle/board/img/upload-loader.gif') }}";

var uploader = new ss.SimpleUpload({
    button: 'uploadButton',
    url: '{{ url('board_gallery_upload', { context: context, contextPk: contextPk, entityType: entityType, entityId: entityId, type: type }) }}',
    name: 'image',
    method: 'post',
    multipart: true,
    responseType: 'json',
    allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
    //maxSize: 8000,
    onSubmit: function(filename, response) {
        $('img.uploader').attr('src', imgLoading);
    },
    onComplete: function(filename, response) {
        $('img.uploader').attr('src', imgUpload);
        if (!response) {
            alert(filename + 'upload failed');
            return false;
        } else {
            $('#upload-col').after('<div class="col-md-4"><div class="image"><a href="" class="remove-link" data-image-id="' + response.id + '"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a>{% if noCover is not defined or not noCover %}<a href="" class="cover-link" data-image-id="' + response.id + '"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x fa-inverse"></i></span></a>{% endif %}<div href="#" class="thumbnail"><img src="' + response.url + '" syle="max-width:100%;" id="image-' + response.id + '" onclick="return launchEditor(\'image-' + response.id + '\', \'' + response.urlFull + '\');"></div></div></div>');
            $('#galleryCover').attr('src', response.url);
            {% if noCover is not defined or not noCover %}
                setCover($('.cover-link[data-image-id="' + response.id + '"]'));
                $(document).trigger('restaurant_gallery.new_cover');
            {% endif %}
        }
    }
});

$('#ajaxModal').on('click', 'a.remove-link', function(e) {
    e.preventDefault();
    e.stopPropagation();
    var element = $(this);
    var elementParent = $(this).closest('.col-md-4');
    $.ajax({
        type: 'POST',
        url: '{{ path('board_gallery_delete', { context: context, contextPk: contextPk, entityType: entityType, entityId: entityId, type: type }) }}',
        data: $(this).data(),
        success: function(response) {
            response = JSON.parse(response);
            elementParent.remove();
            $('#galleryCover').attr('src', response.url);
            $('[data-gallery=' + element.data('gallery') + ']').attr('src', response.url);
        },
        error: function(response) {
            console.log('ko', response);
        }
    });
});

$('#ajaxModal').on('click', 'a.cover-link', function(e) {
    e.preventDefault();
    e.stopPropagation();
    var element = $(this);
    var elementParent = $(this).closest('.col-md-4');
    setCover(element);
});

function setCover(element) {
    $('.cover-link').each(function() {
        $(this).removeClass('active');
    });
    element.addClass('active');
    $.ajax({
        type: 'POST',
        url: '{{ path('board_gallery_cover', { context: context, contextPk: contextPk, entityType: entityType, entityId: entityId, type: type }) }}',
        data: element.data(),
        success: function(response) {
            response = JSON.parse(response);
            $('#galleryCover').attr('src', response.url);
            $('[data-gallery=' + element.data('gallery') + ']').attr('src', response.url);
        },
        error: function(response) {
            console.log('ko', response);
        }
    });
}
</script>
<script type="text/javascript">
    var featherEditor = new Aviary.Feather({
        apiKey: '924ecd2c09409863',
        apiVersion: 2,
        language: 'fr',
        //tools: 'all',
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;
            $.ajax({
                type: 'GET',
                url: '{{ url('board_aviary_replace', { context: context, contextPk: contextPk, entityType: entityType, entityId: entityId, type: type ? type : 'classic' }) }}/' + imageID + '?url='+newURL,
                success: function(response) {
                    response = JSON.parse(response);
                    if (!response) {
                        alert('upload failed');
                        return false;
                    } else {
                        if(response.promoted == true) {
                            $('#galleryCover').attr('src', response.url);
                            $('.cover-link').each(function() {
                                $(this).removeClass('active');
                            });
                        }

                        $(img).parents('.col-md-4').html('<div class="image"><a href="" class="remove-link" data-image-id="' + response.id + '"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a>{% if noCover is not defined or not noCover %}<a href="" class="cover-link" data-image-id="' + response.id + '"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x fa-inverse"></i></span></a>{% endif %}<div href="#" class="thumbnail"><img src="' + response.url + '" syle="max-width:100%;" id="image-' + response.id + '" onclick="return launchEditor(\'image-' + response.id + '\', \'' + response.urlFull + '\');"></div></div>');
                    }
                    featherEditor.close();
                }
            });
        }
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }
</script>
{% endblock %}
