{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% form_theme form _self %}

{% block _form_image_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
    <div class="row">
    {% for id, child in form %}
        {% set entity = form.vars.choices[id].data %}
        <div class="col-md-3">
            <div class="thumbnail">
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    <img src="{{ entity.webPath | imagine_filter('square_200') }}" class="img-responsive">
                    <br>
                    <div class="caption text-center">
                        {{ form_widget(child, {'attr': {'class': 'icheck ' ~ attr.widget_class|default('')}}) }}
                    </div>
                </label>
            </div>
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock _form_image_widget %}

{% block title %}Choisir la photo{% endblock %}

{% block body %}
{% if form.image|length > 0 %}
<form method="post" action="{{ path('board_gallery_select', { context: context, contextPk: contextPk, entityType: entityType, entityId: entityId, field: field, backUrl: backUrl }) }}">
    <div id="images">
        {{ form_widget(form.image) }}
    </div>
    {{ form_errors(form.image) }}
    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% else %}
    <p>Vous n'avez pas encore de photos.</p>
{% endif %}
{% endblock %}