{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'apps',
        route: 'board_apps_library',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="coupons">
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">
                {% for app in apps %}
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-body text-center" style="height:320px;">
                            <img src="{{ vich_uploader_asset(app.app, 'imageFile') }}" alt="{{ app.app.name }}" />
                            <h3>{{ app.app.name }}</h3>
                            <p>{{ app.app.shortDescription }}</p>
                        </div>
                        <div class="panel-footer">
                            {% if app.inPlan == false and app.app.type == 10 %}
                            <a class="btn btn-lg btn-block btn-success" href="{{ url
                            ('board_subscription_upgrade',{contextPk:contextPk}) }}">Améliorer mon offre</a>
                            {% else %}
                            {% if app.already_purchased == true %}
                                <button class="btn btn-lg btn-block btn-disabled" disabled>Déjà actif</button>
                            {% else %}
                                <a class="btn btn-lg btn-block btn-warning" href="{{ path('board_app_add',
                                {"slug": app.app.slug,contextPk: contextPk}) }}">Activer</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /item -->
                {% endfor %}
            </div>

        </div>
    </section>

</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
