<form method="post" action="{{ path('board_discount_edit', { contextPk: contextPk, slug: discount.slug }) }}" novalidation novalidate class="ajax-form watch" data-callback="#discountList" data-changed="0">
    <div class="drawer-scroll">

        <div class="form-group">
            {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
        </div>

        <div class="row">
        <div class="col-md-6 form-group">
                <div class="big-label">
                    {{ form_row(form.isOnline, { attr: { class: 'icheck' } }) }}
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="big-label">
                    {{ form_row(form.isMultisite, { attr: { class: 'icheck' } }) }}
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 form-group">
                <h4>Réduction sur</h4>
                <div class="big-label">
                    {{ form_row(form.type, { attr: { class: 'icheck' } }) }}
                </div>
                <br>
            </div>

            <div class="col-md-6 form-group">
                <h4>Réduction</h4>
                <div class="big-label">
                    {{ form_row(form.percent, { attr: { class: 'icheck' } }) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: discount.id ? path('board_discount_delete', { contextPk: contextPk, slug: discount.slug }) : null } %}
</form>

<script type="text/javascript">
$('.everytime').on('ifChecked', function(event) {
    $('.availabilities').hide();
    $('.availabilities-hint').show();
});

$('.everytime').on('ifUnchecked', function(event) {
    $('.availabilities').show();
    $('.availabilities-hint').hide();
});
</script>