<form method="post" action="{{ path('board_delivery_deliverycart_edit', { context:context, contextPk: contextPk, id: deliveryCart.id }) }}" novalidation novalidate class="ajax-form" data-callback="#deliveryCartList">
    <div class="drawer-scroll">

        <p>
            Choisissez l'intervalle de montant (minimum et maximum) pour le panier, que vous souhaitez paramétrer.<br><br>
            Tips : Si vous souhaitez un montant minimum uniquement, n’indiquez pas de maximum.<br>
            Si vous souhaitez un montant maximum uniquement, n’indiquez pas de minimum (0 par défaut).
        </p>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.min, { attr: { class: 'form-control' } }) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.max, { attr: { class: 'form-control' } }) }}
                </div>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.delay, { attr: { class: 'form-control' } }) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.extra, { attr: { class: 'form-control' } }) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: deliveryCart.id ? path('board_delivery_deliverycart_delete', { context:context, contextPk: contextPk, id: deliveryCart.id }) : null } %}
</form>