{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_delivery',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="delivery">
    <ul class="nav nav-pills">
        <li><a href="{{ path('board_delivery', { context:context, contextPk: contextPk }) }}">Horaires</a></li>
        <li class="active"><a href="{{ path('board_delivery_deliveryman_list', { context:context, contextPk: contextPk }) }}">Planning des livreurs</a></li>
        <li><a href="{{ path('board_delivery_deliverycart_list', { context:context, contextPk: contextPk }) }}">Suppléments</a></li>
    </ul>
    <br>

    <section class="panel">
        <div class="panel-body">
            {% for deliveryMan in deliveryMen %}
                <div class="row">
                    <div class="col-md-1 text-center">
                        <br><br>
                        <img src="{{ deliveryMan.user.cover | imagine_filter('square_40') }}" class="img-circle"><br>
                        <strong>{{ deliveryMan.name }}</strong>
                    </div>

                    <div class="col-md-11">
                        <table class="planning table table-stripped table-bordered" id="datatable" width="100%">
                            <thead>
                                <th class="text-center">Lundi</th>
                                <th class="text-center">Mardi</th>
                                <th class="text-center">Mercredi</th>
                                <th class="text-center">Jeudi</th>
                                <th class="text-center">Vendredi</th>
                                <th class="text-center">Samedi</th>
                                <th class="text-center">Dimanche</th>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in 1..7 %}
                                    <td class="text-center">
                                        {% for deliveryDay in weekDayPlanning[i] %}
                                        <small>
                                            <strong><i class="fa fa-circle" {% if deliveryDay.deliverySchedule.color %}style="color: #{{ deliveryDay.deliverySchedule.color }}"{% endif %}></i>&nbsp;&nbsp;{{ deliveryDay.deliverySchedule.name }}</strong><br>
                                            {{ deliveryDay.start|date('H:i') }} - {{ deliveryDay.end|date('H:i') }}
                                            <br>
                                            <input type="checkbox" class="icheck switchDmDd" data-deliveryman="{{ deliveryMan.id }}" data-deliveryday="{{ deliveryDay.id }}" {% if deliveryMan.hasDeliveryDay(deliveryDay) %}checked="checked"{% endif %}>
                                        </small>
                                        {% if not loop.last %}<hr>{% endif %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.switchDmDd').on('ifChecked', function(event) {
    switchDmDd($(this).data('deliveryman'), $(this).data('deliveryday'));
});

$('.switchDmDd').on('ifUnchecked', function(event) {
    switchDmDd($(this).data('deliveryman'), $(this).data('deliveryday'));
});

function switchDmDd(deliveryMan, deliveryDay) {
    $.ajax({
        type: 'POST',
        url: '{{ path('board_delivery_deliveryman_switch_deliveryday', { context:context, contextPk: contextPk }) }}',
        data: {deliveryMan: deliveryMan, deliveryDay: deliveryDay},
    });
}
</script>
{% endblock %}