{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% form_theme form _self %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_delivery',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="delivery">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="panel">
                <div class="panel-body">
                    <form method="post" action="{{ path('board_delivery_schedule_edit', { context:context, contextPk: contextPk, id: schedule.id }) }}">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.color, { attr: { class: 'form-control input-lg' } }) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.areas, { attr: { class: 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        {% if form.is_weekday_1 is defined %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <br>
                                        <label class="checkbox">
                                            <input type="checkbox" class="icheck inline checkAll">
                                            Tous
                                        </label>

                                    </div>

                                    <div class="col-md-4">
                                        <label>Heure de début</label>
                                        <input type="text" class="form-control globalTimepicker updatePicker" data-type="startPicker" placeholder="Sélectionnez un horaire">
                                    </div>

                                    <div class="col-md-4">
                                        <label>Heure de fin</label>
                                        <input type="text" class="form-control globalTimepicker updatePicker" data-type="endPicker" placeholder="Sélectionnez un horaire">
                                    </div>
                                </div>
                                <br><br>

                                {% for i in 1..7 %}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_widget(attribute(form, 'is_weekday_' ~ i), { attr: { class: 'icheck dayCheck' } }) }}
                                        {{ form_label(attribute(form, 'is_weekday_' ~ i)) }}
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_widget(attribute(form, 'start_' ~ i), { attr: { class: 'form-control dayTimepicker startPicker updatePicker', placeholder: 'Sélectionnez un horaire' } }) }}
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_widget(attribute(form, 'end_' ~ i), { attr: { class: 'form-control dayTimepicker endPicker updatePicker', placeholder: 'Sélectionnez un horaire' } }) }}
                                    </div>
                                </div>
                                <br><br>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {{ form_rest(form) }}

                        <hr>
                        {% if schedule.id %}
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" href="{{ path('board_delivery_schedule_delete', { context:context, contextPk: contextPk, id: schedule.id }) }}">Supprimer cette tournée</a>
                                </div>

                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                                </div>
                            </div>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        {% endif %}

                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.dayTimepicker').pickatime({
        format: 'H:i',
        interval: 10,
        container: 'body'
    });
$("#clab_delivery_schedule_areas").select2();
$('.globalTimepicker').pickatime({
    format: 'H:i',
    interval: 10,
    onSet: function(context) {
        $('form .' + this.$node.data('type')).each(function() {
            $(this).pickatime('picker').set('select', context.select);
        });
    }
});

$('.checkAll').on('ifChecked', function(event) {
    $('.dayCheck').each(function() {
        $(this).iCheck('check');
    });
});

$('.checkAll').on('ifUnchecked', function(event) {
    $('.dayCheck').each(function() {
        $(this).iCheck('uncheck');
    });
});
</script>
{% endblock %}
