{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% form_theme form _self %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_delivery',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="delivery">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="panel">
                <div class="panel-body">
                    <form method="post" action="{{ path('board_delivery_schedule_edit_event', { context:context, contextPk: contextPk, id: schedule.id }) }}">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.distance, { attr: { class: 'form-control input-lg' } }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.color, { attr: { class: 'form-control input-lg' } }) }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.slotLength) }}
                                    {{ form_widget(form.slotLength, { label_attr: { class: 'radio-inline radio-box' }, attr: { class: 'icheck slotLength' } }) }}
                                    {{ form_errors(form.slotLength) }}
                                </div>
                            </div>
                        </div>

                        <hr>

                        <h3>Planning</h3>
                        <br>
                        <div id="schedule-fields-list" {% if form.deliveryDays.vars.prototype is defined %}data-prototype="{{ _self.schedule_prototype(form.deliveryDays.vars.prototype)|e }}"{% endif %}>
                            {% for day in form.deliveryDays %}
                            <div class="schedule-field">
                                <div class="well well2">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_row(day.day, { attr: { class: 'form-control datepicker' } }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(day.start, { attr: { class: 'form-control timepicker' } }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(day.end, { attr: { class: 'form-control timepicker' } }) }}
                                        </div>
                                        <div class="col-md-3">
                                            <br>
                                            <span class="remove"></span>
                                        </div>
                                    </div>
                                    <br>
                                    {{ form_row(day.deliveryMen, { attr: { class: 'icheck' } }) }}
                                </div>
                                {{ form_rest(day) }}
                                <br>
                            </div>
                            <br>
                            {% endfor %}
                        </div>

                        {{ form_rest(form) }}
                        <br><br>
                        <hr>
                        {% if schedule.id %}
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" href="{{ path('board_delivery_schedule_delete', { context:context, contextPk: contextPk, id: schedule.id }) }}">Supprimer cette tournée</a>
                                </div>

                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                                </div>
                            </div>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        {% endif %}

                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var collectionHolder = $('#schedule-fields-list');

var $newLinkLi = $('<div class="text-center"><a href="#" class="add_schedule_link btn btn-success btn-lg">Ajouter un jour</a></div>');

jQuery(document).ready(function() {

    collectionHolder.append($newLinkLi);

    collectionHolder.find('.schedule-field').each(function() {
        addScheduleFormDeleteLink($(this));
    });

    $('.add_schedule_link').on('click', function(e) {
        e.preventDefault();
        addScheduleForm(collectionHolder, $newLinkLi);
    });
});

function addScheduleForm(collectionHolder, $newLinkLi) {
    var prototype = collectionHolder.attr('data-prototype');
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length - 1);

    var $newFormDiv = $('<div class="schedule-field"></div>').append(newForm);
    $newLinkLi.before($newFormDiv);

    addScheduleFormDeleteLink($newFormDiv);

    initFields();
}

function addScheduleFormDeleteLink($scheduleFormDiv) {
    var $removeFormA = $('<a href="#" class="btn btn-default"><i class="fa fa-trash-o"></i></a>');
    $scheduleFormDiv.find('.remove').append($removeFormA);

    $removeFormA.on('click', function(e) {
        e.preventDefault();
        $scheduleFormDiv.remove();
    });
}

$('.slotLength').on('ifChecked', function (event) {
    var value = $(this).find('input[type=radio]:checked').val();
    if(value) {
        $('.updatePicker').each(function() {
            console.log($(this).pickatime('picker'));
            $(this).pickatime('picker').set('interval', parseInt(value));
        });
    }
});
</script>
{% endblock %}

{% block _clab_delivery_schedule_event_slotLength_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
    <ul class="list list-group list-group-checkbox">
    {% for id, child in form %}
        {% set entity = form.vars.choices[id].data %}
        <li class="list-group-item clearfix">
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <span class="name"><strong>{{ child.vars.label|trans({}, translation_domain) }}</strong></span>
            <div class="checkbox pull-right">
                {{ form_widget(child, {'attr': {'class': 'icheck ' ~ attr.widget_class|default('')}}) }}
            </div>
        </label>
        </li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock _clab_delivery_schedule_event_slotLength_widget %}

{% macro schedule_prototype(day) %}
<div class="well well2">
    <div class="row">
        <div class="col-md-3">
            {{ form_row(day.day, { attr: { class: 'form-control datepicker' } }) }}
        </div>
        <div class="col-md-3">
            {{ form_row(day.start, { attr: { class: 'form-control timepicker' } }) }}
        </div>
        <div class="col-md-3">
            {{ form_row(day.end, { attr: { class: 'form-control timepicker' } }) }}
        </div>
        <div class="col-md-3">
            <br>
            <span class="remove"></span>
        </div>
    </div>
    <br>
    {{ form_row(day.deliveryMen, { attr: { class: 'icheck' } }) }}
</div>
<br>
{% endmacro %}