{% for member in staff %}
<tr
    id="staff-{{ member.id }}"
    class="mix clickable"
    data-target="drawer" href="{{ path('board_staff_edit', { contextPk: contextPk, id: member.id }) }}"
>
    <td>
      <img src="{% if member.image %}{{ vich_uploader_asset(member, 'image')| imagine_filter('square_40') }}{% else %}{{ asset('images/blankuser.png')| imagine_filter('square_40') }}{% endif %}" class="img-circle">
    </td>
    <td>{{ member.name }}{% if member.description %}<br><small>{{ member.description|slice(0, 100) }}</small>{% endif %}</td>
    <td><span class="text-muted handle"><i class="fa fa-reorder fa-lg"></i></span></td>
  </tr>
{% endfor %}