{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
    category: 'sales',
    route: 'board_caisse_settings',
    } %}
{% endblock %}

{% block body %}
    <div class="container padding-v-10" id="products">
    <ul class="nav nav-pills">
        <li><a href="{{ path('board_caisse_session_library', { context: context, contextPk: contextPk }) }}">Mes sessions</a></li>
        <li class="active"><a href="{{ path('board_caisse_settings', { context: context, contextPk: contextPk }) }}">Configuration caisse</a></li>
    </ul>
    <br>
    <section class="panel">
        <div class="container-fluid form-bottom-padding">
            {{ form_start(form, {'action': path('board_caisse_settings', {'context': context, 'contextPk': contextPk}), 'method': 'post'}) }}
                <div class="row">
                    <div class="col-xs-6">
                        <label>Tags caisse</label>
                        <ul id="tags-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.caisseTags.vars.prototype)|e }}">
                            {% for tagsField in form.caisseTags %}
                                <li class="list-group-item col-xs-12">
                                    {{ form_widget(tagsField) }}
                                    <button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#" id="add-another-tag">Ajouter un tag caisse</a>
                    </div>
                    <div class="col-xs-6">
                        <label>Labels remise caisse</label>
                        <ul id="labels-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.caisseDiscountsLabels.vars.prototype)|e }}">
                            {% for labelField in form.caisseDiscountsLabels %}
                                <li class="list-group-item col-xs-12">
                                    {{ form_widget(labelField) }}
                                    <button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#" id="add-another-label">Ajouter un label remise caisse</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Labels imprimante caisse</label>
                        <ul id="printer-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.caissePrinterLabels.vars.prototype)|e }}">
                            {% for printerField in form.caissePrinterLabels %}
                                <li class="list-group-item col-xs-12 printer">
                                    {{ form_widget(printerField) }}
                                    <button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#" id="add-another-printer-label">Ajouter un label imprimante caisse</a>
                    </div>
                </div>
            {{ form_rest(form) }}
                <button class="col-xs-6 btn btn-primary pull-right">Valider</button>
            {{ form_end(form)}}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

            var tagsCount = '{{ form.caisseTags|length }}',
                labelsCount = '{{ form.caisseDiscountsLabels|length }}',
                printerLabelsCount = '{{ form.caissePrinterLabels|length }}';

            $(document).ready(function() {

                $('#add-another-tag').click(function(e) {
                    e.preventDefault();

                    var tagsList = $('#tags-fields-list');

                    var newWidget = tagsList.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, tagsCount);

                    tagsCount++;

                    var newLi = $('<li class="list-group-item col-xs-12"></li>').html(newWidget);
                    newLi.append('<button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>');

                    newLi.appendTo(tagsList);

                    $('.remove').click(function(){
                        $(this).parent().remove();
                    })
                });

                $('#add-another-label').click(function(e) {
                    e.preventDefault();

                    var labelsList = $('#labels-fields-list');

                    var newWidget = labelsList.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, labelsCount);
                    labelsCount++;

                    var newLi = $('<li class="list-group-item col-xs-12"></li>').html(newWidget);
                    newLi.append('<button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>');

                    newLi.appendTo(labelsList);

                    $('.remove').click(function(){
                        $(this).parent().remove();
                    })
                });

                $('#add-another-printer-label').click(function(e) {
                    e.preventDefault();

                    var printerLabelsList = $('#printer-fields-list');

                    var newWidget = printerLabelsList.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, printerLabelsCount);
                    printerLabelsCount++;

                    var newLi = $('<li class="list-group-item col-xs-12"></li>').html(newWidget);
                    newLi.append('<button class="remove pull-right btn btn-secondary"><i class="fa fa-times"></i></button>');

                    newLi.find('label').parent().addClass('col-xs-4');
                    newLi.appendTo(printerLabelsList);
                    newLi.find('.select2').select2();

                    $('.remove').click(function(e){
                        e.preventDefault();
                        $(this).parent().remove();
                    })
                });
            });
            $('.printer').find('label').parent().addClass('col-xs-4');
            $('.select2').select2();

            $('.remove').click(function(e){
                e.preventDefault();
                $(this).parent().remove();
            })

        </script>
{% endblock %}