{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'sales',
        route: 'board_caisse_library',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="products">
    <ul class="nav nav-pills">
        <li class="active"><a href="{{ path('board_caisse_session_library', { context: context, contextPk: contextPk }) }}">Mes sessions</a></li>
        {% if context =="restaurant" %}
            <li><a href="{{ path('board_caisse_settings', { context: context, contextPk: contextPk }) }}">Configuration caisse</a></li>
        {% endif %}
    </ul>
    <br>
    <section class="panel">
        <form id="session-search" action="{{ path('board_caisse_session_library_list', { context: context, contextPk: contextPk }) }}" method="get">
            <div class="form-group col-xs-12" style="padding-top: 10px;">
                <div class="col-xs-4">
                    <input type="date" class="form-control start" name="start" value="{{ start | date('Y-m-d') }}">
                </div>
                <div class="col-xs-4">
                    <input type="date" class="form-control end" name="end" value="{{ end | date('Y-m-d') }}">
                </div>
                <button type="submit" class="btn btn-primary col-xs-2">Rechercher</button>
            </div>
        </form>
        <br>
        {% if context == 'client' %}
            <select class="form-control" id="session-search-restaurant">
                {% for restaurant in proxy.restaurants %}
                <option value="{{ restaurant.id }}">{{ restaurant.name ~ ' - ' ~ restaurant.address }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <div class="panel-body" id="productTable">
            <table class="table table-hover display table-stripped table-bordered " id="datatable" width="100%">
                <thead>
                    {% if context == 'client' %}<th>Restaurant</th>{% endif %}
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Id Caisse</th>
                    <th>Fond de caisse initial</th>
                    <th>Espèces</th>
                    <th>Entrée / Sortie</th>
                    <th>Montant attendu</th>
                    <th>Montant réel</th>
                    <th>Différence</th>
                </thead>
                <tbody id="productList" data-url="{{ path('board_caisse_session_library_list', { contextPk: contextPk, context: context }) }}" class="list">
                    {% if sessions | length > 0 %}
                        {% include 'ClabBoardBundle:Caisse:libraryList.html.twig' with {sessions: sessions} %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var r;
    $('#session-search').submit(function(e){
        e.preventDefault();

        var url = $(this).attr('action'),
            data = {start: $(this).find('.start').val(), end: $(this).find('.end').val() {% if context == 'client' %}, restaurant: $('#session-search-restaurant').find(':selected').val(){% endif %}};

        $.get(url,data)
         .done(function(res){

             var response = r = JSON.parse(res);

            table.clear();

            for(var k in response) {
                var row= [];

                {% if context == 'client' %}
                    row.push(response[k]['restaurant']['name']);
                {% endif %}
                row.push(response[k]['formated_date_start'] ? response[k]['formated_date_start'] : '-');
                row.push(response[k]['formated_date_end'] ? response[k]['formated_date_end'] : '-');
                row.push(response[k]['device'] ? response[k]['device'] : '-');
                row.push(response[k]['cash_flow_start'] ? response[k]['cash_flow_start'] : '-');
                row.push(response[k]['cash'] ? response[k]['cash'] : '-');
                row.push(response[k]['in_outs'] ? response[k]['in_outs'] : '-');
                row.push(response[k]['cash_flow_end_theoric'] ? response[k]['cash_flow_end_theoric'] : '-');
                row.push(response[k]['cash_flow_end'] ? response[k]['cash_flow_end'] : '-');
                row.push(response[k]['cash_flow_diff'] ? response[k]['cash_flow_diff'] : '-');
                console.log(row);
                table.row.add(row);
            }

            table.draw(false);
        });
    });
</script>
{% endblock %}
