{% for session in sessions %}
<tr
    id="session-{{ session.id }}"
    data-target="drawer" href="{{ path('board_caisse_session_edit', { context: context, contextPk: contextPk, id: session.id }) }}"
>
    {% if context == 'client' %}
        <td class="restaurant">
            {{ session.restaurant.name }}
        </td>
    {% endif %}
    <td>
        {{ session.dateStart | date('d-m-Y G:i') }}
    </td>
    <td>
        {{ session.dateEnd | date('d-m-Y G:i') }}
    </td>
    <td>
        {{ session.device }}
    </td>
    <td>
        {{ session.cashFlowStart | number_format(2,',','.') }}
    </td>
    <td>
        {{ session.cash | number_format(2,',','.') }}
    </td>
    <td>
        {{ session.InOuts | number_format(2,',','.') }}
    </td>
    <td>
        {{ session.cashFlowEndTheoric | number_format(2,',','.') }}
    </td>
    <td>
        {{ session.cashFlowEnd | number_format(2,',','.') }}
    </td>
    <td>
        {{ session.cashFlowDiff | number_format(2,',','.') }}
    </td>
</tr>
{% endfor %}

