{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% form_theme form _self %}

{% block _form_page_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (multiple ? 'checkbox' : 'radio') )}) %}
    <ul class="list list-group list-group-checkbox">
    {% for id, child in form %}
        {% set entity = form.vars.choices[id].data %}
        <li class="list-group-item clearfix">
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <img src="https://graph.facebook.com/{{ form.vars.choices[id].data.facebookId }}/picture?width=40&height=40">
            <span class="name">{{ child.vars.label|trans({}, translation_domain) }}</span>
            <div class="checkbox pull-right">
                {{ form_widget(child, {'attr': {'class': 'icheck ' ~ attr.widget_class|default('')}}) }}
            </div>
        </label>
        </li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock _form_page_widget %}

{% block title %}Choisir votre page facebook{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_social_configuration_choose_page', { context: context, contextPk: contextPk, type: type, backUrl: backUrl }) }}">
    <div id="pages">
        <input type="text" class="search form-control input-lg square" placeholder="Rechercher..." style="border-bottom: none;">
        {{ form_widget(form.page) }}
    </div>
    {{ form_errors(form.page) }}
    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var pageList = new List('pages', {
    valueNames: [ 'name' ]
});
</script>
{% endblock %}