{% if "ROLE_MANAGER" in app.user.roles %}
    {% for user in users %}
        <tr
                id="user-{{ user.id }}"
                class="mix clickable"
                data-target="ajaxModal" href="{{ path('board_user_edit', { context: context, contextPk: contextPk, id: user.id }) }}"
        >
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.isManager %}<span class="label label-danger">Gérant</span>{% endif %}
                {% if user.isManager2 %}<span class="label label-success">Manageur</span>{% endif %}
                {% if user.isSeller %}<span class="label label-info">Vendeur</span>{% endif %}
                {% if user.isDeliveryman %}<span class="label label-warning">Livreur</span>{% endif %}
            </td>
            <td>
                <a class="btn btn-sm btn-primary ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_user_edit_password', { context: context, contextPk: contextPk, id: user.id }) }}"><i class="fa fa-lock"></i></a>
            </td>
        </tr>
    {% endfor %}
{% else %}
{% for user in users %}
    {% if "ROLE_MANAGER" in user.roles %}
        {% else %}
<tr
    id="user-{{ user.id }}"
    class="mix clickable"
     data-target="ajaxModal" href="{{ path('board_user_edit', { context: context, contextPk: contextPk, id: user.id }) }}"
>
    <td>{{ user.fullName }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% if user.isManager %}<span class="label label-danger">Gérant</span>{% endif %}
        {% if user.isManager2 %}<span class="label label-success">Manageur</span>{% endif %}
        {% if user.isSeller %}<span class="label label-info">Vendeur</span>{% endif %}
        {% if user.isDeliveryman %}<span class="label label-warning">Livreur</span>{% endif %}
    </td>
    <td>
        <a class="btn btn-sm btn-primary ladda-button" data-style="expand-right" data-target="ajaxModal" href="{{ path('board_user_edit_password', { context: context, contextPk: contextPk, id: user.id }) }}"><i class="fa fa-lock"></i></a>
    </td>
</tr>
        {% endif %}
{% endfor %}
{% endif %}
{% for request in requests %}
<tr id="request-{{ request.id }}" class="mix">
    <td><span class="label label-default">Invitation en attente</span></td>
    <td>{{ request.email }}</td>
    <td>
    {% for role in request.roles %}
      {% if role == 'ROLE_MANAGER' %}<span class="label label-success">Gérant</span>{% endif %}
      {% if role == 'ROLE_MANAGER_2' %}<span class="label label-success">Manageur</span>{% endif %}
      {% if role == 'ROLE_SELLER' %}<span class="label label-info">Vendeur</span>{% endif %}
      {% if role == 'ROLE_DELIVERYMAN' %}<span class="label label-info">Livreur</span>{% endif %}
    {% endfor %}
    </td>
    <td>
        <a class="btn btn-sm btn-primary ladda-button" data-style="expand-right" href="{{ path('board_user_request_resend', { context: context, contextPk: contextPk, id: request.id }) }}"><i class="fa fa-envelope icon-left"></i>Renvoyer l'invitation</a>
    </td>
    <td></td>
</tr>

{% endfor %}
