<form method="post" action="{{ path('board_pincode_edit', { contextPk: contextPk, id: pincode.id }) }}" {{ form_enctype
(form)
}}>
    <div class="drawer-scroll">
        <hr>
        <div class="form-group">
            {{ form_row(form.name, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.code, { attr: { class: 'form-control' } }) }}
        </div>
        <hr/>
        <h3>Droits utilisateur :</h3>
        <br/>
        <div class="form-group">
            <h5>Accès à myclickeat</h5>
            {{ form_widget(form.hasRightOnBo, { attr: { class: 'icheck' } }) }}
        </div>
        <div class="form-group">
            <h5>Accès aux logs</h5>
            {{ form_widget(form.hasRightOnLogs, { attr: { class: 'icheck' } }) }}
        </div>

        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: pincode.id ? path
    ('board_pincode_delete', { contextPk: contextPk, id: pincode.id }) : null } %}
</form>
