{% extends 'ClabBoardBundle:Base:base.html.twig' %}


{% block body %}

<div class="container padding-v-10" id="coupons">
    <section class="panel">
        <header class="panel-heading"><i class="fa fa-cubes icon-left"></i>Mon abonnement</header>
        <div class="panel-body">
                <div class="text-center">
                        <h2>{{ plan.name }} - {{ plan.price }} €</h2>
                </div>
                <hr>
                <div class="list-horizontal">
                    <ul>
                        <li>
                            <strong>Type d'échéance</strong><br><br>
                            Mensuel
                        </li>
                        <li>
                            <strong>Gestion du paiement</strong><br><br>
                        {% if client.clientPayment == 0 %}
                            Par franchisé
                            {% else %}
                            Par l'enseigne
                            {% endif %}
                        </li>
                        </ul>
                </div>

                <hr>
                <div class="list-horizontal">
                    <ul>
                        <li>
                            <strong>Commission Facebook et site web</strong><br><br>
                            3%
                        </li>
                        <li>
                            <strong>Commission Click-eat</strong><br><br>
                            9%
                        </li>

                    </ul>
                </div>
            {% if client.clientPayment == true %}
            <hr/>
            <div class="text-center">
                <a href="{{ path('board_onboard_chainstore_pay',{'slug':planInhouse.stripePlanId,
                    'contextPk':contextPk}) }}" class="btn btn-sucess">Activer mon compte</a>
                </div>
            {% endif %}
        </div>
    </section>

    {% if client.clientPayment == false %}
    <section><h3>Gestion de vos abonnement filles</h3></section>
    <section class="panel">
        <div class="panel-body" id="couponTable">
            <table class="table table-hover">
                <thead>
                <th>Nom du restaurant</th>
                <th>Statut</th>
                <th>Action</th>
                </thead>
                <tbody id="subscriptionList" class="list">
                {% for restaurant in restaurants %}
                    <tr>
                        <td class="name">{{ restaurant.restaurant.name }}</td>
                        {% if restaurant.invoices is defined and restaurant.invoices %}
                        {% for invoice in restaurant.invoices %}
                                 {% if loop.last %}
                                    {% if invoice.paid == true %}
                                    <td> <span class="label label-success">Payé</span></td>
                                    {% else %}
                                    <td>  <span class="label label-warning">A Payer</span></td>
                                    {% endif %}
                                    {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>En attente du paiement des restaurants de votre enseigne</td>
                        {% endif %}
                        <td>
                            {% if restaurant.invoices is defined and restaurant.invoices %}
                      <a href="{{ path('board_subscription_dashboard',{'contextPk':restaurant.restaurant.slug}) }}" target="_blank">Voir l'abonnement</a>
                            {% else %}
                        <td>Aucune facture</td>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}
