{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block body %}
<div class="container padding-v-10">
    <section class="panel">
        <div class="panel-body" id="productTable">
            <h1>Conditions Générales d’Utilisation et de Vente</h1>
            <hr>
            <div class="row">
                <div class="col-md-6 text-center">
                    <p><strong>Dernière édition</strong>&nbsp;&nbsp;<span class="label label-success">{{ terms.lastEdit|date('d/m/Y') }}</span></p>
                </div>

                <div class="col-md-6">
                    <p><strong>Statut</strong>&nbsp;&nbsp;
                        {% if terms.isSigned %}
                            Signé le <span class="label label-success">{{ terms.lastSign|date('d/m/Y') }}</span>
                        {% else %}
                            <span class="label label-warning">A signer</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <hr>
            <div class="well" style="height: 400px; overflow: scroll;">
                {% include 'ClabBoardBundle:Subscription:contracts/' ~ terms.contractVersion ~ '.html.twig' with { terms: terms } %}
            </div>
            {% if form is defined and form %}
                <form method="post" action="{{ path('board_subscription_contract', { contextPk: contextPk }) }}">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.validation, { label_attr: { class: 'checkbox-inline checkbox-box' }, attr: { class: 'icheck' } }) }}
                            {{ form_rest(form) }}
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-block">Valider mon contrat</button>
                        </div>
                    </div>
                </form>
                <hr>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
