{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}

{% block body %}
    {% include 'ClabBoardBundle:Subscription:stripe-modal.html.twig' %}
<div class="container" id="container">
    <div class="row" id="subscription-dashboard">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading"><i class="fa fa-cubes icon-left"></i>Mon abonnement</header>
                <div class="panel-body">
                    {% if proxy.status < constant('STORE_STATUS_WAITING', proxy) %}
                        <div class="text-center">
                            <h2>Période d'essai</h2>
                        </div>
                    {% elseif currentSubscription %}
                        <div class="text-center">
                            {% if currentSubscription.plan.name is not null %}
                                <h2>{{ currentSubscription.plan.name }}</h2>
                            {% else %}
                                <h2>{{ currentSubscription.verboseType }}</h2>
                            {% endif %}

                        </div>
                        <hr>
                    <div class="list-horizontal">
                        <strong>Prochaine échéance le</strong><br><br>
                        {{ currentSubscription.nextDueDate|date('d/m/Y') }}
                        </div>

                        <hr>
                        <div class="list-horizontal">
                            <ul>
                                <li>
                                    <strong>Comission Facebook et site web</strong><br><br>
                                    {{ currentSubscription.commissionExternal }}%
                                </li>
                                <li>
                                    <strong>Commission Click-eat</strong><br><br>
                                    {{ currentSubscription.commission }}%
                                </li>

                            </ul>
                        </div>
                    {% endif %}

                    <br>

                    {% if nextSubscriptions|length > 0 %}
                        <hr>
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="fa fa-caret-right"></i>&nbsp;&nbsp;Abonnements à venir
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% for subscription in nextSubscriptions %}
                                        <p>{{ subscription.planName }} - du {{ subscription.startDate|date('d/m/Y') }} au {{ subscription.endDate|date('d/m/Y') }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>

            {% if proxy.status >= constant('STORE_STATUS_WAITING', proxy) %}
            <section class="panel">
                <header class="panel-heading"><i class="fa fa-file-text-o icon-left"></i>Conditions Générales d'Utilisation et de Vente</header>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('board_subscription_terms', { contextPk: proxy.slug }) }}" data-target="ajaxModal" class="btn btn-default btn-block"><i class="fa fa-eye icon-left"></i>Consulter les conditions</a>
                        </div>

                        <div class="col-md-6">
                            <form action="{{ path('board_subscription_terms_send', { contextPk: proxy.slug }) }}" method="post">
                                <input type="hidden" name="backUrl" value="{{ url('board_subscription_dashboard', { contextPk: proxy.slug }) }}">
                                <input type="hidden" name="email" value="{{ proxy.managerEmail }}">
                                <button type="submit" class="btn btn-default btn-block"><i class="fa fa-envelope icon-left"></i>Envoyer par mail</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

        </div>

        <div class="col-md-6">

            <section class="panel">
                <header class="panel-heading"><i class="fa fa-credit-card icon-left"></i>Mes moyens de paiement</header>
                {% if  proxy.stripeCustomerId %}
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                            <th>Type</th>
                            <th>Date d'exp</th>
                            <th>Numéro</th>
                            <th>Nom</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td>{{ card.brand }}</td>
                                    <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
                                    <td>XXXX-XXXX-XXXX-{{ card.last4 }}</td>
                                    <td>
                                        {% if card.name is null %}
                                            Non renseigné
                                        {% else %}
                                            {{ card.name }}
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('board_subscription_delete_card',{'contextPk': restaurant,'card':card.id}) }}"><i class="fa
fa-times"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary pull-right" data-toggle="modal"
                                data-target="#stripeModal"><i class="fa fa-credit-card icon-left"></i>Ajouter une
                                                                                                      carte</button><div class="clear"></div>
                    </div>
                {% else %}
                    <div class="panel-body">
                        <div class="text-warning"><i class="fa fa-warning icon-left icon-warning"></i>Aucune carte
                                                                                                      enregistrée</div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary pull-right"><i class="fa fa-credit-card icon-left"></i>Ajouter une carte</button><div class="clear"></div>
                    </div>
                {% endif %}
            </section>

            <section class="panel">
                <header class="panel-heading"><i class="fa fa-file-text-o icon-left"></i>Mes factures</header>

                <div class="panel-body">
                    <div class="slimscroll">
                        <table class="table table-striped">
                            <thead>
                                <th>Date</th>
                                <th>Prix</th>
                                <th>Paiement</th>
                                <th>Voir</th>
                            </thead>
                            <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td>{{ invoice.date|date('d/m/Y') }}</td>
                                    <td>{{ invoice.amount_due / 100 }} €</td>
                                    {% if invoice.paid == true %}
                                    <td> <span class="label label-success">Payé</span></td>
                                    {% else %}
                                    <td>  <span class="label label-warning">A Payer</span></td>
                                    {% endif %}
                                    <td><a href="{{ path('board_subscription_invoice',{invoice:invoice.id,
                                            contextPk:contextPk}) }}" target="_blank"><i class="fa fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </section>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="{{ asset('bundles/clabclickeat/js/jquery.creditCardValidator.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $('#clab_stripe_cardformtype_card').validateCreditCard(function(result) {
                    if(result.card_type == null)
                    {
                        $('.log').html('<i class="fa fa-credit-card"></i>');
                    }
                    else if(result.card_type.name == 'mastercard')
                    {
                        $('.log').html('<i class="fa fa-cc-mastercard"></i>');
                    }
                    else if(result.card_type.name == 'visa')
                    {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    }
                    else if(result.card_type.name == 'amex')
                    {
                        $('.log').html('<i class="fa fa-cc-amex"></i>');
                    }
                    else if(result.card_type.name == 'visa_electron')
                    {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    }
                    else if(result.card_type.name == 'maestro')
                    {
                        $('.log').html('<i class="fa fa-cc-visa"></i>');
                    }
                });
            });
            Stripe.setPublishableKey('{{ publishableKey }}');

            var stripeResponseHandler = function(status, response) {
                var $form = $('#payment-form');
                if (response.error) {
                    // Show the errors on the form
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                } else {
                    // token contains id, last4, and card type
                    var token = response.id;
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    // and re-submit
                    $form.get(0).submit();
                }
            };
            jQuery(function($) {
                $('#payment-form').submit(function(e) {
                    var $form = $(this);
                    // Disable the submit button to prevent repeated clicks
                    $form.find('button').prop('disabled', true);
                    Stripe.card.createToken($form, stripeResponseHandler);
                    // Prevent the form from submitting with the default action
                    return false;
                });

            });
            $('.slimscroll').slimScroll({
                height: '200px',
                allowPageScroll: true,
            });
        });
    </script>

{% endblock %}
