{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav{% endblock %}

{% block body %}
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
    </style>
    <div class="container" >
        <button id="cmd" class="btn btn-primary">Télécharger <i class="fa fa-file-pdf-o"></i></button>
        <button id="print" class="btn btn-primary">Imprimer <i class="fa fa-print"></i></button>
        <div id="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>Facture - #{{ restaurant.id }}{{ invoice.date|date('dmY') }}</h2><br/>
                    <small>Référence stripe - {{ invoice.id }}</small>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">

                        <address>
                            Click Lab SAS<br>
                            Immeuble Pollux<br>
                           37 Quai de Grenelle<br/>
                            75015 Paris<br/><br/>
                            SIRET : 78940651900015<br/>
                            Mail : <a href="mailto:compta@click-eat.fr">compta@click-eat.fr</a><br />
                            http://click-eat.fr

                        </address>
                    </div>
                    <div class="col-xs-6">
                        <address style="margin-top: 50px;">
                            {{ restaurant.legalName }} - {{ restaurant.name }}<br>
                           {{ restaurant.address.street }}<br>
                            {{ restaurant.address.zip }} {{ restaurant.address.city }}<br/>
                            SIRET : {{ restaurant.siret }}
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Date:</strong><br>
                            {{ invoice.date|date('d/m/Y') }}<br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Commande</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>Produit</strong></td>
                                    <td class="text-center"><strong>Prix</strong></td>
                                    <td class="text-center"><strong>Quantité</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% for invoiceDetail in invoiceDetails %}
                                    <tr>
                                        <td>{{ invoiceDetail.plan.name }}</td>
                                        <td class="text-center">{{ invoiceDetail.amount / 100 }} €</td>
                                        <td class="text-center">{{ invoiceDetail.quantity }}</td>
                                        <td class="text-right">{{ invoiceDetail.amount * invoiceDetail.quantity / 100
                                            }} €</td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Sous total</strong></td>
                                    <td class="thick-line text-right">{{ invoice.subtotal / 100 }} €</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>TVA</strong></td>
                                    <td class="no-line text-right">{% if invoice.tax is null %}0 €{% else %}{{
                                        invoice.tax / 100 }} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <td class="no-line text-right">{{ invoice.total / 100 }} €</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    <script>
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#cmd').click(function () {
            doc.fromHTML($('#content').html(), 15, 15, {
                'width': 200,
                'elementHandlers': specialElementHandlers
            });
            doc.save('facture-clicklab-{{ invoice.id }}.pdf');
        });
        $('#print').click(function () {
            var printContents = document.getElementById('content').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        });
    </script>
{% endblock %}
