{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'settings',
        route: 'board_settings_legal',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding" id="planning">
    <form method="post" action="{{ path('board_settings', { contextPk: contextPk, type: type }) }}" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-8 padding-v-40 padding-h-40 bg-white">

            <h3><i class="fa fa-home icon-left"></i>Infos société</h3>

            <div class="form-group">
                {{ form_row(form.legalType, { attr: { class: 'form-control legalType' } }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.legalName, { attr: { class: 'form-control input-lg' } }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.siret, { attr: { class: 'form-control input-lg siret' } }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.legalPerson, { attr: { class: 'form-control input-lg' } }) }}
            </div>

            <div class="form-group legalCapital" {% if proxy.legalType == 4 or proxy.legalType == 5 %}style="display:none;"{% endif %}>
                {{ form_row(form.capital, { attr: { class: 'form-control input-lg' } }) }}
            </div>

            <hr>

            <h3><i class="fa fa-map-marker icon-left"></i>Adresse légale</h3>

            <div class="form-group">
                {{ form_row(form.legalAddress.street, { attr: { class: 'form-control input-lg' } }) }}
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_row(form.legalAddress.zip, { attr: { class: 'form-control input-lg' } }) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_row(form.legalAddress.city, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            <hr>

            <h3><i class="fa fa-user icon-left"></i>Contact manager</h3>

            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_row(form.managerFirstName, { attr: { class: 'form-control input-lg' } }) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_row(form.managerName, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_row(form.managerPhone, { attr: { class: 'form-control input-lg' } }) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_row(form.managerEmail, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            {{ form_rest(form) }}
        </div>

        <div class="col-md-4 padding-v-40 padding-h-40">
        </div>
    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' %}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var type = {{ proxy.legalType }};

$('.legalType').on('change', function() {
    type = this.value;
    displayLegalCapital();
});

$('.siret').inputmask('999999999 99999');

function displayLegalCapital() {
    if(type == 4 || type == 5) {
        $('.legalCapital').hide();
    } else {
        $('.legalCapital').show();
    }
}
</script>
{% endblock %}