{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'settings',
        route: 'board_settings_manager',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding" id="planning">
    <form method="post" action="{{ path('board_settings', { contextPk: contextPk, type: type }) }}">
    <div class="row">
        <div class="col-md-8 padding-v-40 padding-h-40 bg-white">

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <h3>Infos manager</h3>

            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_row(form.managerFirstName, { attr: { class: 'form-control input-lg' } }) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_row(form.managerName, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_row(form.managerPhone, { attr: { class: 'form-control input-lg' } }) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_row(form.managerEmail, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br>

            {{ form_rest(form) }}
        </div>

        <div class="col-md-4 padding-v-40 padding-h-40">
        </div>
    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' %}
    </form>
</div>
{% endblock %}