<h3>CONTRAT CADRE DE PARTENARIAT</h3>

<br><br>
<h4>ENTRE LES SOUSSIGNES :</h4>

<p>1. La société CLICK LAB,<br>
Société par Actions Simplifiée au capital de 20 000 euros,<br>
Dont le siège social est : 37 Quai de Grenelle, 75015 Paris <br>
Email électronique : admin@click-eat.fr <br>
Immatriculée sous le numéro : R.C.S. Paris B 789 406 519,<br>
Représentée par Monsieur Channelliere, en sa qualité de Président de la société, ayant tous pouvoirs à l’effet des présentes,<br>
Ci-après désignée « CLICK LAB »,<br>
De première part,<br>
<br>
ET</p>

<p>2. La société {{ terms.restaurant.legalname }},<br>
{{ terms.restaurant.verboseLegalType }} {% if terms.restaurant.legalType != 4 and terms.restaurant.legalType != 5 %}au capital de {{ terms.restaurant.capital }} euros{% endif %},<br>
Dont le siège social est au {{ terms.restaurant.legalAddress }},<br>
Immatriculée sous le numéro : {{ terms.restaurant.siret }},<br>
Représentée par {{ terms.restaurant.legalPerson }} en sa qualité de gérant(e) de la société, ayant tous pouvoirs à l’effet des présentes,<br>
Ci-après désignée « le Partenaire »,<br>
De seconde part,<br>
<br>
ci-après dénommées « la Partie » ou « Les Parties »,</p>

<br><br>
<h4>PREAMBULE</h4>

<p>La société CLICK LAB a développé une  plateforme  de  mise en relation et de commercialisation de prestations de restauration et de tous services complémentaires.</p>

<p>La plateforme s’appuie sur le savoir-faire et les moyens techniques développés par la société CLICK LAB dans le domaine de la mise en relation entre les clients de la société CLICK LAB et les  partenaires reposant sur la plateforme internet Click Eat</p>

<p>La plateforme internet  Click Eat repose entre autre sur le référencement des Partenaires, les informations fournies par des Partenaires de la société CLICK LAB, ainsi  que sur les partenariats engagés par ailleurs par la société CLICK LAB avec des annonceurs et sur la réservation en ligne de services de restauration proposés par les Partenaires.</p>

<p>Dans ce contexte,  Click Eat permet aux Partenaires de bénéficier de la clientèle apportée par la société CLICK LAB, de bénéficier d’une plus grande visibilité en apparaissant sur la plateforme Click Eat</p>

<p>Déclarant disposer des compétences répondant aux exigences ci-après et ayant préalablement  pris connaissance des conditions de participation, le Partenaire souhaite  participer à la plateforme Click Eat.</p>

<p>CECI EXPOSE, LES PARTIES SOUSSIGNEES ONT CONVENU CE QUI SUIT :</p>

<br><br>
<h4>ARTICLE 1 : DEFINITIONS</h4>

<p>Les termes et expressions débutant par une majuscule auront le sens qui leur est donné dans le  présent article, qu’ils soient employés au singulier ou au pluriel.</p>

<p>1.1 Contrat : Convention-cadre et les Contrats d’application.</p>

<p>1.2 Convention-cadre : Présente Convention-cadre de partenariat, ses annexes et avenants  éventuels.</p>

<p>1.3 Adresse Email : Coordonnées électroniques utilisées par une personne pour émettre  ou recevoir des correspondances</p>

<p>1.4 Annonceurs : Entreprise commanditant la société CLICK LAB pour la réalisation  d’une campagne d’e-mailing partenaires au sein de la plateforme en vue de faire connaitre une marque, un service ou  un produit.</p>

<p>1.5 Réservations : Toute action tendant à réserver une prestation relative à la restauration sur la plateforme Click Eat,</p>

<p>1.6 Référencement : fait d’attribuer une référence sur la plateforme Click Eat, visant à conférer une visibilité supplémentaire aux Partenaires.</p>

<br><br>
<h4>ARTICLE 2 : OBJET</h4>

<p>2.1. La Convention-cadre de partenariat  a pour objet de définir les termes et conditions des  relations  entre  la société CLICK LAB et  le Partenaire pour sa participation sur la plateforme Click Eat.</p>

<p>2.2. La Convention-cadre de partenariat porte en particulier sur les points suivants :<br>
- référencement<br>
- réservations en ligne<br>
- modalités de paiement</p>

<p>2.3. Les Parties reconnaissent que les présentes dispositions prévalent sur les dispositions des
Contrats d’application en cas de contradiction, sauf disposition contraire expresse dans le  Contrat d’application.</p>

<p>2.4.  Les  Parties conviennent de ce qu’elles agiront à tout moment en toute indépendance,  sans que le Contrat ne puisse être réputé créer une quelconque filiale ou entreprise commune,  ni un quelconque lien de subordination ou de représentation, mandat, agence commerciale ou  autre entre elles.</p>

<br><br>
<h4>ARTICLE 3 : DUREE &amp; RESILIATION</h4>

<p>3.1. Le présent contrat est conclu pour une période de douze (12) mois, laquelle entrera en vigueur à  compter de la signature du contrat par les deux parties.</p>

<p>3.2. A l'expiration de la période contractuelle précisée au 3.1, le contrat se renouvellera par tacite  reconduction pour des périodes successives d'une durée d'un an, sauf dénonciation par l'une ou  l'autre des parties dans les conditions visées ci-après.</p>

<p>3.3. Le présent contrat pourra être résilié à tout moment, par l'une ou l'autre des parties, par lettre  recommandée avec accusé de réception. La résiliation prendra dans ce cas effet à l'expiration d'un  délai de 60 jours à compter de la réception de la demande de résiliation.</p>

<p>3.4. En cas de manquement de l'une ou l'autre des parties à ses obligations, l'autre partie pourra se  prévaloir de la résiliation automatique du contrat, laquelle interviendra quinze (15) jours après la  réception par la partie défaillante d'une mise en demeure de remédier au manquement, notifiée par  lettre recommandée avec accusé de réception, restée sans effet, sans préjudice des dommages et  intérêts qui pourraient être réclamés à la partie défaillante.</p>

<br><br>
<h4>ARTICLE 4 : CONDITIONS FINANCIERES</h4>

<p>4.1 Rémunérations<br>
<br>
Dans le cadre du présent contrat, le partenaire reversera à la société CLICK LAB un abonnement mensuel ainsi qu’une commission variant suivant l’offre souscrite.
La commission sera calculée en fonction des ventes effectuées sur la plateforme Click Eat, que  le paiement soit réalisé directement par le biais de ladite plateforme ou après du Partenaire.</p>

<p>4.2 Modalités de paiement</p>

<p>4.2.1 La société CLICK LAB adressera au partenaire à la fin de chaque mois, pour la période  du mois précédent, et pour la première fois le mois suivant la première transmission, un relevé  d’exploitation. Ce relevé détaillera la rémunération hors taxe attribuée au partenaire.</p>

<p>4.2.2 Le Partenaire adressera à la société CLICK LAB à la fin de chaque mois, pour la période  du mois précédent, et pour la première fois le mois suivant la première transmission, un relevé  d’exploitation. Ce relevé détaillera la rémunération hors taxe attribuée à la société CLICK LAB ainsi que la nature de chaque paiement émis par le biais de la société CLICK LAB tel que détaillé ci-dessous :<br>
Les paiements réalisés par cartes bancaires<br>
Les paiements réalisés par espèces<br>
Les paiements réalisés en tickets restaurant.</p>

<p>4.2.3 Ce relevé d’exploitation devra être annexé à la facture que la Partenaire adressera à la  société CLICK LAB pour l’exploitation du mois précédent.</p>

<p>4.2.4 Le règlement des sommes dues à la société CLICK LAB par le Partenaire interviendra par  virement ou chèque bancaire libellé à l’ordre du Partenaire, à la fin de chaque mois civils, sous  réserve de la réception par le Partenaire de la facture correspondante et du règlement  effectif des campagnes correspondantes par les annonceurs.</p>

<p>4.2.5 Le règlement des sommes dues au Partenaire par la société CLICK LAB interviendra par  virement ou chèque bancaire libellé à l’ordre du Partenaire, à la fin de chaque mois civils, sous  réserve de la réception par la société CLICK LAB de la facture correspondante et du règlement  effectif des campagnes correspondantes par les annonceurs.</p>

<br><br>
<h4>ARTICLE 5 : PROPRIETE DES INFORMATIONS</h4>

<p>5.1 Le Partenaire demeure propriétaire des informations transmises à  la société CLICK LAB.</p>

<p>5.2 Pour les besoins de l’exécution du Contrat, le Partenaire concède à la société CLICK LAB un droit d’utilisation personnel et incessible, à titre non exclusif, des informations, pour le  monde et pour la durée du Contrat, dont la rémunération est comprise dans la commission  prévue à l’article 7 ci-dessus.</p>

<p>5.3 Ce droit d’utilisation comporte pour la société CLICK LAB le droit de reproduire, copier,  extraire, commercialiser à titre gratuit ou onéreux tout ou Partie des informations contenues  dans la Liste des informations transmises par le Partenaire pour les besoins de l’exécution du Contrat.</p>

<p>5.4 Les informations transmises par le Partenaire à la société CLICK LAB sont mentionnées dans l’Annexe 2.</p>

<p>5.5 La société CLICK LAB sera également titulaire de l’ensemble des droits de propriété  intellectuelle relatifs à la plateforme Click Eat.  Le Partenaire autorise  la société CLICK LAB à conserver la  propriété de l’ensemble des données  produites à partir de l’utilisation  de la plateforme Click Eat transmises par le Partenaire.<br>
Sauf conventions particulières, ces données qualifiées ne seront pas communiquées au Partenaire.
5.6 La société CLICK LAB se réserve le droit d’exploiter les données non personnelles et non confidentielles présentes sur la plateforme Click Eat.</p>

<br><br>
<h4>ARTICLE 6 : OBLIGATIONS DE LA SOCIÉTÉ CLICK LAB</h4>

<p>6.1  La société CLICK LAB garantit que la mise en œuvre des traitements de données à  caractère personnel présentes sur la plateforme Click Eat a fait l’objet d’une  formalité préalable  auprès de la Commission Nationale Informatique et libertés (CNIL),  conformément aux dispositions de la loi du 6 janvier 1978.</p>

<p>6.2 La société CLICK LAB s’interdit de transmettre par quelque moyen que ce soit la Liste d’Adresses Email à tout tiers.</p>

<p>6.3 La société CLICK LAB fournira au Partenaire un compte sécurisé par lequel ce dernier à  ce dernier pourra connaître l’évolution de ses parts de marché à l’occasion dudit partenariat, et pourra également renseigner toutes informations relatives à l’organisation générale du partenariat tel que, mais sans se limiter à, la mise à jour des cartes et menus, les tarifs, les promotions, le reporting et la gestion.</p>

<p>6.3  Les obligations de  la société CLICK LAB, tenant  notamment  à la valorisation des  Adresses Email, ne sont que de moyen et en aucun cas de résultat.</p>

<br><br>
<h4>ARTICLE 7  : OBLIGATIONS DU PARTENAIRE</h4>

<p>7.1 Dans le cadre de la bonne exécution du présent contrat, le partenaire s’engage à honorer les commandes ordonnées par le biais de la plateforme Click Eat et suivant le paramétrage préalablement établit entre les parties.</p>

<p>7.2 Le partenaire s’engage à ne pas pénaliser la clientèle ayant commandée par le biais de la plateforme Click Eat.</p>

<p>7.3 Le partenaire s’engage à respecter les créneaux horaires d’ouverture préalablement définis par les parties</p>

<p>7.4 Le partenaire s’engage à respecter les prestations préalablement établis par les parties.</p>

<br><br>
<h4>ARTICLE 8 : OBLIGATIONS COMMUNES A LA SOCIÉTÉ CLICK LAB ET AU PARTENAIRE</h4>

<p>8.1 Chacune des parties s'engage à exécuter le présent contrat dans le respect de la législation et des règlements applicables.</p>

<p>8.2 Chacune des parties s’engage à exécuter le présent contrat avec toutes les diligences nécessaires à la bonne exécution du contrat et à se comporter de bonne-foi à l’égard de l’autre partie.</p>

<h4>ARTICLE 9 : RESPONSABILITES</h4>

<p>9.1  Le Partenaire est responsable à l’égard de l’autre de tout manquement à ses  obligations au titre de la Loi et des dispositions du Contrat.</p>

<p>9.2  La société CLICK LAB est responsable à l’égard de l’autre de tout manquement à ses  obligations au titre de la Loi et des dispositions du Contrat, pour autant que ce manquement  ait causé un préjudice direct et certain à l’autre Partie.</p>

<p>9.3  La  Partie responsable du manquement s’engage à garantir l’autre  Partie de toute  réclamation ou action de quelque nature, formée par un tiers au Contrat.</p>

<p>9. 3 Chacune des Parties ne sera en aucun cas responsable des dommages indirects, tels que  perte d’image de marque, perte de données, perte de clientèle, pertes d’exploitation et/ou  manque à gagner, subis par l’autre dans le cadre de l’exécution du Contrat.</p>

<p>9.4 La responsabilité de chacune des Parties sera en tout état de cause limitée  à sauf en cas  de manquement aux dispositions de l’article 3 ci-dessus.</p>

<p>9.5 La société CLICK LAB ne sera en aucun cas responsable du contenu des messages qui lui  sont transmis par les Annonceurs dans le cadre de la plateforme Click Eat.</p>

<br><br>
<h4>ARTICLE 10 : FORCE MAJEURE</h4>

<p>10.1  Le terme « cas de force majeure » tel qu'employé  dans le  Contrat comprendra tout  événement fortuit ou non, hors du contrôle de la Partie l'invoquant mais pas nécessairement  imprévisible.</p>

<p>10.2 La Partie affectée par le cas de force majeure devra en aviser sans délai l'autre Partie.</p>

<p>10.3 Dès que cet avis aura été donné, les obligations de la Convention-cadre qui ne pourront  être exécutées du fait de la force majeure seront suspendues d’un commun accord entre les  Parties.</p>

<p>10.4  Sauf conventions particulières,  en cas d’inexécution affectant l’une des Parties due à  une cas de force majeure supérieure à (1) mois, chacune des Parties aura la faculté de notifier  à l’autre Partie la résiliation immédiate et de plein droit du  Contrat par notification écrite à  cet effet à l'autre Partie.</p>

<br><br>
<h4>ARTICLE 11 : DUREE</h4>

<p>11.1 Le Contrat prend effet à la date de sa signature par la Partie qui le signe en dernier.</p>

<p>11.2  Sauf Conventions particulières, le  Contrat  est conclu pour une durée initiale de  (12)  mois. A défaut de dénonciation par l’une des Parties un (1) mois au moins avant l’expiration  de cette première période, il se poursuivra par tacite reconduction pour une nouvelle période  de 12 mois.</p>

<p>11.3 Chaque Partie dispose moyennant le respect d’un préavis de 48 heures d’une faculté de  résiliation du Contrat lors de la conclusion ou de la reconduction.</p>

<p>11.4  Pour être valable la résiliation doit intervenir  au moins (7) jours ouvrables par lettre-recommandée avec accusé de  réception.</p>

<br><br>
<h4>ARTICLE 12 : RESILIATION ANTICIPEE</h4>

<p>12.1 En cas de manquement par l’une des Parties à l’une quelconque de ses obligations au  titre du Contrat, la Partie créancière de l’obligation inexécutée aura la faculté de demander la  résiliation anticipée du Contrat, par dérogation à l’article 11 ci-dessus, en adressant à l’autre  une lettre recommandée avec accusé de réception la mettant en demeure d’exécuter la ou les  obligations concernées.</p>

<p>12.2 A défaut d’exécution desdites obligations dans un délai de 15 jours à compter de la date  de première présentation de la lettre recommandée, la résiliation du Contrat interviendra de  plein droit sans autre formalité dans le délai d’un mois  à compter de la date de première  présentation de la lettre recommandée.</p>

<br><br>
<h4>ARTICLE 13 : CONSEQUENSES DE LA FIN DU CONTRAT</h4>

<p>13.1 La résiliation de la Convention-cadre, pour quelque raison que ce soit, ou son expiration  entraînera la résiliation sans formalité de tous les Contrats d’application, sauf convention  écrite expresse contraire des Parties.</p>

<p>13.2 En cas de résiliation d’un Contrat d’application pour faute d’une Partie, l’autre Partie se  réserve la possibilité de mettre fin à  la Convention-cadre ainsi qu’aux autres Contrats  d’application.</p>

<p>13.3  En cas de non-renouvellement de  la Convention-cadre ou en cas de résiliation pour  quelque motif que ce soit, la société CLICK LAB :<br>
- cessera le référencement du Partenaire sur la plateforme Click Eat,<br>
- mettra à jour la Base en conséquence.<br>
En cas de non-renouvellement de  la Convention-cadre ou en cas de résiliation pour  quelque motif que ce soit, le Partenaire devra restituer le matériel  fournit par la société CLICK LAB et définis en Annexe 3.</p>

<p>13.4 Sauf convention particulière, la résiliation de la Convention-cadre, pour quelque raison  que ce soit, ou son expiration n'annulera aucunement les dispositions, stipulées expressément  ou implicitement, censées prendre effet ou se poursuivre après ladite résiliation ou expiration.</p>

<p>13.5 Toutefois, le Partenaire autorise la société CLICK LAB à conserver toutes informations  qui pourraient lui être utiles à titre de preuve jusqu’à l’extinction de l’ensemble des  obligations des Parties.</p>

<br><br>
<h4>ARTICLE 14: PROPRIETE INTELLECTUELLE</h4>

<p>14.1 Les données  transmises  à la plateforme Click Eat sont, en principe, libres de tous  droits.</p>

<p>14.2  Cependant,  le Partenaire s’engage à garantir LA SOCIÉTÉ CLICK LAB contre toutes les  revendications éventuelles des tiers relatives  à l’exploitation des  informations mises à  disposition, notamment en ce qui concerne les droits de Propriété Intellectuelle pouvant s’y  rapporter.</p>

<p>14.3  En conséquence, si une action était intentée par un tiers à l’encontre de  la société CLICK LAB
pour violation d’un droit de propriété intellectuelle directement lié aux informations communiquée par le Partenaire sur la plateforme Click Eat, le Partenaire réglerait alors tous les frais liés à la défense, le montant des  transactions et celui des dommages et intérêts et/ou pénalités accordés par une décision de  justice.</p>

<br><br>
<h4>ARTICLE 15 : INTUITU PERSONAE</h4>

<p>Le Contrat est strictement personnel et ne peut être cédé ou transféré à quelque personne  ou société que ce soit en tout ou en partie directement ou indirectement et de quelque manière  que ce soit notamment par voie de fusion, apport, ou gérance libre, sauf accord écrit et  préalable de LA SOCIÉTÉ CLICK LAB.</p>

<br><br>
<h4>ARTICLE 16 : CONVENTION SUR LA PREUVE</h4>

<p>16.1 En cas de contestation entre les  Parties sur  tout élément lié à l’exécution du Contrat,  notamment de  l’assiette de la rémunération, les  Parties conviennent  expressément  que les données, les informations et les chiffres délivrés par les moyens techniques de  la     plateforme Click Eat feront foi à l’exclusion de tous autres, sauf le cas d’erreur manifeste.</p>

<p>16.2  Les données, les informations et les chiffres délivrés par  les moyens techniques de  LA SOCIÉTÉ CLICK LAB constitueront des preuves, qui pourront être produites dans toutes  procédures, et seront recevables, valables et opposables entre les Parties avec la même force  probante et selon les mêmes modalités que tout document qui serait établi, reçu et/ou conservé  par écrit.</p>

<p>16.3 En cas de contestation de la part du Partenaire, LA SOCIÉTÉ CLICK LAB autorise ce dernier,  à réaliser à ses frais un audit complet du système permettant d’obtenir les données, les  informations et les chiffres délivrés.</p>

<br><br>
<h4>ARTICLE 17 : DISPOSITIONS FINALES</h4>

<p>17.1 Les annexes font partie intégrante du Contrat. Toute modification d’une disposition du  Contrat ne pourra intervenir que par un écrit signé des Parties.</p>

<p>17.2 Par exception, dès lors qu’une nouvelle règlementation (Loi, décret, arrêté, ou tout autre  texte de droit interne ou européen) affectant les dispositions du Contrat entrerait en vigueur et  comporterait des dispositions impératives d’ordre public, celles-ci seront immédiatement  incorporées à l’ensemble contractuel composé du Contrat et de ses annexes, ainsi que de ses  éventuels avenants, peu importe à cet égard qu’un écrit signé des Parties soit intervenu ou non pour prendre en compte ces nouvelles dispositions.</p>

<p>17.3 Si cette règlementation nouvelle n’était pas d’ordre public ou impliquait un choix de la  part des Parties,  ces dernières s’engageront  à renégocier de bonne foi et dans les meilleurs  délais les dispositions contractuelles  concernées, en conservant l’économie générale du  Contrat. Dans cette hypothèse, les Parties devront conclure un Contrat avenant par écrit.</p>

<p>17.4 Le fait pour l’une des Parties de ne pas exercer l’un des droits dont elle dispose en vertu  du  Contrat ne vaut en aucun cas renonciation à ce droit et au droit de s’en prévaloir  ultérieurement.</p>

<p>17.5 Toutefois, aucune action sous quelque forme que ce soit ne pourra être intenté par une  Partie à l’égard de l’autre sur le fondement du  Contrat plus de un (1) mois après la  survenance de l’évènement à l’origine de cette action, ou si cet évènement était dissimulé,  plus de douze mois après la révélation dudit évènement à la Partie demanderesse à l’action.</p>

<p>17.6 Les Parties agissent en totale indépendance l’une de l’autre. Elles n’ont souhaité à aucun  moment établir entre elles un lien de subordination, une association, une société de droit ou de  fait, un accord de coopération ou autre. Le Contrat ne pourra pas être interprété comme tel.</p>

<br><br>
<h4>ARTICLE 18 : ELECTION DE DOMICILE – NOTIFICATIONS</h4>

<p>18.1 Pour l’exécution du Contrat, et de ses suites, les Parties élisent domicile en leur sièges  sociaux respectifs tels qu’indiqués en tête des présentes. Chaque Partie pourra modifier cette  adresse en informant l’autre Partie par tout moyen, avec un délai de prévenance suffisant.</p>

<p>18.2 Les notifications peuvent être, sauf conventions particulières, réalisées par courrier électronique avec accusé de réception.</p>

<br><br>
<h4>ARTICLE 19 : LITIGES – ATTRIBUTION DE COMPETENCE</h4>

<p>Le contrat est régi par le droit français.<br>
LES  PARTIES CONVIENNENT QU’EN  CAS DE CONTESTATION  LIEE A LA  CONCLUSION, A LA VALIDITE, A L’INTERPRETATION, A L’EXECUTION,  COMME LA CESSATION ET LA RESILIATION DU PRESENT CONTRAT ET DE  SES AVENANTS SERA DE LA COMPETENCE EXCLUSIVE DU TRIBUNAL DE  COMMERCE DE PARIS.</p>

<p>Annexe 1 : Rémunération.</p>

<p>Annexe 2. Informations que le Partenaire doit transmettre à la société CLICK LAB</p>

<p>Annexe 3. Matériel fournit par la société CLICK LAB</p>

<p>Annexe 1 : Modes de Rémunération et de location du matériel applicables au contrat de partenariat  passé entre le Partenaire et  CLICK LAB dans le cadre de la plateforme CLICK EAT</p>

<p>1.1 Obligations du Partenaires.</p>

<p>La mise en place du partenariat entre la société CLICK LAB et le Partenaire, nécessite la souscription d’une offre tel que défini ci-dessous.<br>
A ce titre, le Partenaire dispose d’un choix d’option.<br>
Cependant, le Partenaire doit en toute hypothèse disposer d’un forfait 3G, ou d’une connexion internet.</p>

<p>Dans le cadre du présent contrat, le Partenaire et la société CLICK LAB ont convenu ensemble que le Partenaire
   disposera de l’offre {{ subscription.plan.name }}.</p>

<br>

<p>
    <br>
     - {{ subscription.commission }}% sur les commandes en ligne passées via le site Clickeat ou l'application Clickeat.<br>
     - {{ subscription.commissionExternal }}% sur les commandes en ligne passées via le site web du Partenaire si le Partenaire utilise le module de commande en ligne Clickeat<br>
     - {{ subscription.commissionExternal }}% sur les commandes en ligne passées via la page Facebook du Partenaire si le Partenaire utilise le module de commande en ligne Clickeat sur Facebook<br>
     - {{ subscription.commissionExternal }}% sur les commandes en ligne passées via l'application iPhone du Partenaire si celle-ci est celle éditée par Clickeat en marque grise/blanche<br>
    <br>
    Une commission bancaire de 2% est appliquée à chaque paiement en ligne.
</p>

<p>Le tableau présenté ci dessus est un catalogue provisoire de toutes les options possibles ; en cas d’amélioration au niveau des options, le partenaire a la possibilité d’adhérer aux options futures.
En cas d’options nouvelles, la société CLICK LAB s’engage à porter à la connaissance du Partenaire toute nouvelle option. L’acceptation des options futures se concrétise par la notification par mail à l’adresse suivante : contact@click-eat.fr</p>

<p>1.2 Obligations de la société CLICK LAB</p>

<p>La société CLICK LAB s’engage verser mensuellement au Partenaire, un montant calculé en fonction des ventes collectées  dans le cadre du présent partenariat.</p>

<p>Le Partenaire reconnait que l’Annexe a la même valeur que le présent contrat-cadre.</p>

<p>Annexe 2 : Modèle de conditions particulières applicables au contrat de partenariat passé entre le Partenaire et  la société Click Lab dans le cadre de la plateforme Click-eat<br>
La présente Annexe relative au référencement du Partenaire s’applique pour tous les contrats-cadres conclus entre la société CLICK LAB et le Partenaire relatifs à la Plateforme CLICK EAT.</p>

<p>Lorsqu'un Client signe un Contrat Cadre, celui-ci annule et remplace tous les contrats, lettres, propositions, offres et conventions remis, échangés ou signés entre la société CLICK LAB et le Partenaire antérieurement à la signature du Contrat Cadre et portant sur le même objet.</p>

<p>Le Partenaire est informé, préalablement à la conclusion du Contrat Cadre, de l'existence de son  référencement sur la Plateforme CLICK EAT et la mise en ligne de son Catalogue des prestations. Ce référencement expose :</p>

<p>Données transmises :<br>
-   Adresse mail<br>
-   Information légales<br>
-   Carte du restaurant<br>
-   Horaires</p>

<p>La société CLICK LAB applique à l'ensemble des utilisateurs pour leur assurer l'accès et l’utilisation de la plateforme CLICK EAT. Le référencement est accessible sur le site Internet de la société CLICK LAB http://click-eat.Fr</p>

<p>Le Partenaire reconnait que l’Annexe a la même valeur que le présent contrat-cadre.</p>
