{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_restaurant_preorder',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding" id="planning">
    <form method="post" action="{{ path('board_restaurant_preorder', { contextPk: contextPk }) }}">
    <div class="row">
        <div class="col-md-9 padding-v-10 padding-h-40 bg-white">

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <p><strong>Heure de<br> début</strong></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p><strong>Heure de<br> fin</strong></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p><strong>Heure max. commande</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-list padding-v-10">
                <div class="row timesheet-day">
                    <div class="col-md-3">
                        <strong>Tous les jours</strong>
                    </div>
                    <div class="col-md-7">
                        <div class="timesheet-list">
                            <div class="row timesheet-field">
                                <div class="col-md-4">
                                    <input type="time" class="form-control timepicker" id="allStart" name="" value="">
                                </div>
                                <div class="col-md-4">
                                    <input type="time" class="form-control timepicker" id="allEnd" name="" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" id="addToAll">Ajouter</a>
                    </div>
                </div>
                <hr>

                {% for i in 1..7 %}
                    {% set checkbox = attribute(form, 'is_weekday_' ~ i) %}
                    {% set timesheetsForm = attribute(form, 'timesheets_' ~ i) %}
                    <div class="row timesheet-day">
                        <div class="col-md-3">
                            {{ form_row(checkbox, { attr: { class: 'icheck reveal', "data-target": 'timesheets-' ~ i } }) }}
                        </div>
                        <div class="col-md-7">
                            <div class="timesheet-list timesheets-{{ i }}" {% if timesheetsForm.vars.prototype is defined %}data-prototype="{{ _self.timesheet_prototype(timesheetsForm.vars.prototype)|e }}"{% endif %} {% if timesheetsForm|length == 0 %}style="display:none;"{% endif %}>
                                {% for timesheet in timesheetsForm %}
                                    <div class="row timesheet-field">
                                        <div class="col-md-4">
                                            {{ form_widget(timesheet.start, { attr: { class: 'form-control timepicker startPicker' }, label_render: false }) }}
                                            {{ form_errors(timesheet.start) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_widget(timesheet.end, { attr: { class: 'form-control timepicker endPicker' }, label_render: false }) }}
                                            {{ form_errors(timesheet.end) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_widget(timesheet.maxPreorderTime, { attr: { class: 'form-control timepicker' }, label_render: false }) }}
                                            {{ form_errors(timesheet.maxPreorderTime) }}
                                        </div>
                                        <div class="col-md-1">
                                            <span class="remove"></span>
                                            {{ form_rest(timesheet) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="timesheets-{{ i }}" {% if timesheetsForm|length == 0 %}style="display:none;"{% endif %}>
                                <div class="timesheet-add text-center"></div>
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <br><br><br>
        </div>

        <div class="col-md-3 padding-v-20 padding-h-20">
            <div class="big-label">
                {{ form_row(form.isOpen, { attr: { class: 'icheck' } }) }}
            </div>
            {{ form_rest(form) }}
        </div>
    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' with { cancelRoute: path('board_restaurant_preorder', { contextPk: contextPk }) } %}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
jQuery(document).ready(function() {

    $('.timesheet-add').each(function() {
        $(this).html('<a href="#" class="add_timesheet_link"><i class="fa fa-plus-circle fa-2x"></i></a>');
    });

    $('.timesheet-field').each(function() {
        addTimesheetFormDeleteLink($(this));
    });

    $('.add_timesheet_link').on('click', function(e) {
        e.preventDefault();
        addTimesheetForm($(this).parents('.timesheet-day').find('.timesheet-list'));
    });
});

function addTimesheetForm(collectionHolder) {
    var prototype = collectionHolder.attr('data-prototype');
    var newForm = prototype.replace(/__name__/g, $('.timesheet-field').length);

    var $newFormDiv = $('<div class="timesheet-field"></div>').append(newForm);
    collectionHolder.append($newFormDiv);

    addTimesheetFormDeleteLink($newFormDiv);

    initFields();
}

function addTimesheetFormDeleteLink($timesheetFormDiv) {
    var $removeFormA = $('<a href="#"><i class="fa fa-trash-o"></i></a>');
    $timesheetFormDiv.find('.remove').append($removeFormA);

    $removeFormA.on('click', function(e) {
        e.preventDefault();
        $timesheetFormDiv.remove();
    });
}

$(document).on('ifChecked', '.reveal', function(event) {
    element = $(document).find('.' + $(this).data('target'));
    element.show();
    if($(document).find('.' + $(this).data('target') + ' .timesheet-field').length == 0) {
        element.parents('.timesheet-day').find('.add_timesheet_link').click();
    }
});

$(document).on('ifUnchecked', '.reveal', function(event) {
    $(document).find('.' + $(this).data('target')).hide();
    $(document).find('.' + $(this).data('target') + ' .timesheet-field').each(function() {
        $(this).remove();
    })
});

$('#addToAll').on('click', function() {
    var start = $('#allStart').val();
    var end = $('#allEnd').val();

    if(start && end) {
        $('.reveal').each(function() {
            if($(this).prop('checked')) {
                element = $(document).find('.' + $(this).data('target'));
                element.parents('.timesheet-day').find('.add_timesheet_link').click();
            } else {
                $(this).iCheck('check');
            }
        });

        $('.timesheet-list').each(function() {
            var form = $(this).find('.timesheet-field').last();

            form.find('.startPicker').val(start);
            form.find('.endPicker').val(end);
        });
    }

    $('#allStart').val('');
    $('#allEnd').val('');
});
</script>
{% endblock %}

{% macro timesheet_prototype(timesheet) %}
    <div class="row">
        <div class="col-md-4">
            {{ form_widget(timesheet.start, { attr: { class: 'form-control timepicker startPicker' }, label_render: false }) }}
            {{ form_errors(timesheet.start) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(timesheet.end, { attr: { class: 'form-control timepicker endPicker' }, label_render: false }) }}
            {{ form_errors(timesheet.end) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(timesheet.maxPreorderTime, { attr: { class: 'form-control timepicker' }, label_render: false }) }}
            {{ form_errors(timesheet.maxPreorderTime) }}
        </div>
        <div class="col-md-1">
            <span class="remove"></span>
            {{ form_rest(timesheet) }}
        </div>
    </div>
{% endmacro %}