{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'store',
        route: 'board_restaurant_profile',
    } %}
{% endblock %}

{% block body %}
<div class="container-fluid form-bottom-padding" id="planning">
    <form method="post" action="{{ path('board_restaurant_profile', { contextPk: contextPk }) }}">
    <div class="row">
        <div class="col-md-8 padding-v-40 padding-h-40 bg-white">

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-3">
                    <div class="img-uploader">
                        {% if chainstore.logoFile is defined and chainstore.logoFile %}
                            <img src="{{ vich_uploader_asset(chainstore, 'logoFile') }}" alt="logo"
                                 class="img-responsive"/>
                        {% else %}
                            <img src="{{ proxy.cover }}" id="galleryCover">
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-9">
                    <label for="name" class="control-label">{{ 'pro.restaurant.infos.nameLabel'|trans }}</label>
                    <input type="text" class="form-control input-lg" value="{{ proxy.name }}" disabled>
                    <p><a href="mailto:team@click-eat.fr?subject=Changement nom d'enseigne {{ proxy.name }}">{{ 'pro.restaurant.infos.askModification'|trans }}</a></p>

                    <div class="form-group">
                        {{ form_row(form.small_description, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>

            <hr>

            <div class="form-group">
                {{ form_row(form.description, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.email, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.phone, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_row(form.siret, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_row(form.accountCode, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.tags, { attr: { class: 'select2' } }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.extraTags, { attr: { class: 'select2' } }) }}
            </div>

            <hr>

            {% if form.address is defined %}
            <h2>Localisation (*)</h2>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.address.street, { attr: { class: 'form-control' } }) }}
                        {{ form_row(form.address.zip, { attr: { class: 'form-control' } }) }}
                        {{ form_row(form.address.city, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="map" style="width: 100%; height: 200px;"></div>
                </div>
            </div>

            <hr>
            {% endif %}

            <h2>Services</h2>
            <br>

            {{ form_widget(form.services, { attr: { class: 'select2' } }) }}

            <hr>

            <h2>Moyens de paiement en boutique</h2>
            <br>

            {{ form_widget(form.storePaymentMethods, { attr: { class: 'icheck inline' } }) }}

            <hr>

            <h2>Vos réseaux sociaux</h2>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <p><i class="fa fa-facebook icon-left"></i> Facebook</p>
                        {{ form_widget(form.socialProfile.staticFacebookId, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p><i class="fa fa-twitter icon-left"></i> Twitter</p>
                        {{ form_widget(form.socialProfile.staticTwitterId, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p><i class="fa fa-instagram icon-left"></i> Instagram</p>
                        {{ form_widget(form.socialProfile.staticInstagramId, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <p><i class="fa fa-foursquare icon-left"></i> Foursquare</p>
                        {{ form_widget(form.socialProfile.staticFoursquareId, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p><i class="fa fa-tumblr icon-left"></i> Tumblr</p>
                        {{ form_widget(form.socialProfile.staticTumblrId, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p># Hashtag</p>
                        {{ form_widget(form.socialProfile.hashtag, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.website, { attr: { class: 'form-control' } }) }}
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}
        </div>

        <div class="col-md-4 padding-v-40 padding-h-40">
            <p><small>
                Sur cette page, renseignez l’ensemble des informations sur votre restaurant. Ces informations seront accessibles par les futurs utilisateurs de nos services.
            </small></p>

            <p><small>
                Le <strong>numéro de téléphone</strong> et <strong>l’adresse mail</strong> du restaurant ne sont communiqués que dans des cas particuliers (site byclickeat, après une commande...)
            </small></p>


            <p><small>
                Le <strong>numéro de téléphone</strong>, <strong>l’adresse mail</strong> et l’adresse du restaurant sont obligatoires pour pouvoir commencer à vendre en ligne via notre service. 
            </small></p>


            <p><small>
                Pour vos réseaux sociaux :<br>
                <strong>Facebook</strong> : indiquez ce qu’il y a après « https://www.facebook.com/ »<br>
                <strong>Twitter</strong> : indiquez ce qu’il y a après https://twitter.com/<br>
                <strong>Instagram</strong> : indiquez ce qu’il y a après http://instagram.com/<br>
                <strong>Tumblr</strong> : indiquez ce qu’il y a avant « .tumblr.com » <br>
                <strong>Site web</strong> : indiquez tout simplement l’adresse de votre site web si vous en avez un
            </small></p>
        </div>
    </div>
    {% include 'ClabBoardBundle:Base:formBottom.html.twig' with { cancelRoute: path('board_restaurant_profile', { contextPk: contextPk }) } %}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    lang: 'fr_FR',
    selector: "textarea",
    menubar : false,
    toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
    plugins: 'paste',
    paste_auto_cleanup_on_paste : true,
    paste_remove_styles: true,
    paste_remove_styles_if_webkit: true,
    paste_strip_class_attributes: true,
 });

{% if form.address is defined %}
var map = new GMaps({
    div: '#map',
    lat: 48.851753,
    lng: 2.287095,
});

geocodeAddress();

var marker = null;
function geocodeAddress()
{
    GMaps.geocode({
        address: $('#board_store_profile_address_street').val() + ' ' + $('#board_store_profile_address_zip').val() + ' ' + $('#board_store_profile_address_city').val(),
        callback: function(results, status) {
            if (status == 'OK') {
                if(marker) {
                    map.removeMarker(marker);
                }

                var latlng = results[0].geometry.location;
                map.setCenter(latlng.lat(), latlng.lng());
                marker = map.addMarker({
                    lat: latlng.lat(),
                    lng: latlng.lng()
                });
            }
        }
    });
}

$('#board_store_profile_address_street').keyup(function(e) { geocodeAddress(); });
$('#board_store_profile_address_street').bind('paste', function(e) { geocodeAddress(); });
$('#board_store_profile_address_zip').keyup(function(e) { geocodeAddress(); });
$('#board_store_profile_address_zip').bind('paste', function(e) { geocodeAddress(); });
$('#board_store_profile_address_city').keyup(function(e) { geocodeAddress(); });
$('#board_store_profile_address_city').bind('paste', function(e) { geocodeAddress(); });
{% endif %}
</script>
{% endblock %}
