{% for coupon in coupons %}
<tr
    id="coupon-{{ coupon.slug }}"
    class="mix clickable"
    data-target="drawer" href="{{ path('board_coupon_edit', { contextPk: contextPk, slug: coupon.slug }) }}">
    <td class="name">{{ coupon.name }}</td>
    <td>
        {% if coupon.amount is not null %}
        {{ coupon.amount }} €
        {% endif %}
        {% if coupon.percent is not null %}
            {{ coupon.percent }} %
        {% endif %}
    </td>
    <td>
        {{ coupon.startDay|date("d/m/Y")  }}
    </td>
    <td>
        {% if coupon.endDay|date("d/m/Y") > "now"|date_modify("+2 year")|date("m/d/Y") %}
            Illimité
            {% else %}
                {{ coupon.endDay|date("d/m/Y") }}
        {% endif %}

    </td>
    <td>
        {% if coupon.unlimited != 0 %}
             Illimitée
        {% else %}
            {{ coupon.quantity }}
        {% endif %}
    </td>
    <td>
        {% if coupon.isOnline %}
            <span class="label label-success">En ligne</span>
          {% else %}
          <span class="label label-danger">Indisponible</span>
          {% endif %}
    </td>
</tr>
{% endfor %}
