{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% if forcedPricing is defined and forcedPricing  %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_product_library',
            forcedPricing: true,
            forcedPricingLabel: 'Créer un produit',
        } %}
    {% else %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_product_library',
            rightLink: path('board_product_edit', { contextPk: contextPk, context: context }),
            rightLinkLabel: 'Créer un produit',
            rightLinkDrawer: true,
        } %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="products">
    <ul class="nav nav-pills">
        <li class="active"><a href="{{ path('board_product_library', { context: context, contextPk: contextPk }) }}">Mes produits</a></li>
        <li><a href="{{ path('board_option_library', { context: context, contextPk: contextPk }) }}">Mes options</a></li>
        <li><a href="{{ path("board_option_choice_library", { context: context, contextPk: contextPk }) }}">Mes choix d'option</a></li>
    </ul>
    <br>
    <div class="filters">
        <h4>Trier par:</h4>
        <a href="#" class="btn btn-default btn-round btn-l sort" data-sort="category:asc">Catégorie</a>
        <a href="#" class="btn btn-default btn-round btn-l sort" data-sort="name:asc">Nom</a>
        <a href="#" class="btn btn-default btn-round btn-l sort" data-sort="price:asc">Prix</a>
    </div>

    <section class="panel">
        <div class="panel-body" id="productTable">
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%">
                <thead>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Options</th>
                </thead>
                <tbody id="productList" data-url="{{ path('board_product_library_list', { contextPk: contextPk, context: context }) }}" class="list">
                    {% include 'ClabBoardBundle:Product:libraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {
            $('#is-pdj').popover();
        });
    </script>
<script type="text/javascript">
function mix()
{
    $('#productList').mixItUp({
        layout: {
            display: 'table-row',
        },
        load: {
            sort: 'category:asc'
        }
    });

    var productList = new List('productTable', {
        valueNames: [ 'name' ],
        searchClass: 'search'
    });

    $('#search').keyup(function() {
        productList.search($(this).val());
    });
}

function ajaxFormCallback()
{
    $('.filters .dropdown-toggle').html('Tous les produits' + '  <span class="caret"></span>');
    $('#productList').mixItUp('destroy');
    mix();
}

mix();

{% if product is defined and product %}
    $('#product-{{ product }}').trigger('click');
{% endif %}
</script>
{% endblock %}
