{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Gérer les options{% endblock %}

{% block body %}
{% if form.options|length > 0 %}
    <form method="post" action="{{ path('board_product_options', { context: context, contextPk: contextPk, slug: product.slug }) }}">
        <div class="input-list">
            {% for id, optionForm in form.options %}
                {% set entity = form.options.vars.choices[id].data %}
                <div class="row input-row">
                    <div class="col-md-1">
                        {{ form_widget(optionForm, { attr: { class: 'icheck' } }) }}
                    </div>
                    <div class="col-md-11">
                        {{ entity.name }} - 
                        <small class="text-muted">
                        {% for choice in entity.choices %}
                            {{ choice.value }}{% if choice.price > 0 %} (+{{ choice.price }}€){% endif %}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </small>
                    </div>
                </div>

            {% endfor %}
        </div>

        {{ form_rest(form) }}

        <br>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
{% else %}
    <p>Aucune option dans votre bibliothèque.</p>
    <a href="{{ path('board_product_library', { context: context, contextPk: contextPk }) }}" class="btn btn-primary">Créer ma première option</a>
{% endif %}
{% endblock %}