{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
    {% include 'ClabWhiteBundle:Navs:nav2.html.twig' with {user:app.user} %}
{% endblock %}
{% block body %}
    <section class="container profile col-md-8 offset-1 {% if is_mobile() %}padding-top-container-address" id="mobile_container_profile" {% endif %} }>
                <div class="field col-md-8  col-md-offset-2 text-center">
                    <h2 class="text-center" style="color: #626366; font-size: 20px;">Ajouter une adresse</h2>
                    {% if is_mobile() %}
                        {{ form_start(form, {'attr': {'class': 'complete-form'}}) }}
                    {% else %}
                        {{ form_start(form, {'attr': {'class': 'complete-form margin-h-13'}}) }}
                    {% endif %}
                    {{ form_errors(form) }}
                    <div>
                        <div class="row group">
                            {{ form_widget(form.name, { attr: { class: 'form-control', placeholder: 'Nom de l\'adresse (bureau, domicile...) *', required: true } }) }}
                        </div>
                        <div class="row group">
                            {{ form_widget(form.street, { attr: { class: 'form-control', placeholder: 'Adresse *', required: true } }) }}
                        </div>
                        {% if is_mobile() %}
                            <div class="row">
                                <div class="group col-md-3 padding-h-2-5">
                                    {{ form_widget(form.building, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Bâtiment' } }) }}
                                    {{ form_widget(form.staircase, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Escalier' } }) }}
                                </div>
                                <div class="group col-md-3 padding-h-2-5">
                                    {{ form_widget(form.floor, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Etage' } }) }}
                                    {{ form_widget(form.elevator, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Ascenceur' } }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="group col-md-3 padding-h-2-5">
                                    {{ form_widget(form.intercom, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Interphone' } }) }}
                                    {{ form_widget(form.door, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Porte' } }) }}
                                </div>
                                <div class="group col-md-3 padding-h-2-5">
                                    {{ form_widget(form.doorCode, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Digicode 1' } }) }}
                                    {{ form_widget(form.secondDoorCode, { attr: { class: 'col-xs-6 border-transparent', placeholder: 'Digicode 2' } }) }}
                                </div>
                            </div>

                        {% else %}
                            <div class="row">
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.building, { attr: { class: 'form-control', placeholder: 'Bâtiment' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.staircase, { attr: { class: 'form-control', placeholder: 'Escalier' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.floor, { attr: { class: 'form-control', placeholder: 'Etage' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.elevator, { attr: { class: 'form-control', placeholder: 'Ascenceur' } }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.intercom, { attr: { class: 'form-control', placeholder: 'Interphone' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.door, { attr: { class: 'form-control', placeholder: 'Porte' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.doorCode, { attr: { class: 'form-control', placeholder: 'Digicode 1' } }) }}
                                </div>
                                <div class="group col-md-3 no-padding">
                                    {{ form_widget(form.secondDoorCode, { attr: { class: 'form-control', placeholder: 'Digicode 2' } }) }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row group">
                            {{ form_widget(form.comment, { attr: { class: 'form-control', placeholder: 'Instructions pour la livraison (ne pas sonner, chez, etc...)' } }) }}
                        </div>
                        <div class="row group">
                            {{ form_widget(form.zip, { attr: { class: 'form-control', placeholder: 'Code postal *', required: true } }) }}
                        </div>
                        <div class="row group">
                            {{ form_widget(form.city, { attr: { class: 'form-control', placeholder: 'Ville *', required: true } }) }}
                        </div>
                        <h5>* Champs obligatoires.</h5>
                        <button {% if not is_mobile() %}style="margin-left:43%;" {% endif %} type="submit" class="btn btn-red btn-lg">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
    </section>
{% endblock %}
{% block footerClass %}relative background-black-matsuri{% endblock %}
{% block upperFooterClass %}background-black-matsuri{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}