{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
    {% include 'ClabWhiteBundle:Navs:nav2.html.twig' with {user:app.user} %}
{% endblock %}
{% block body %}
    <section class="container profile col-md-8 offset-1">
        <div class="field col-md-8  col-md-offset-2 text-center">
            <h3>Modifier votre adresse : {{ address.name }}</h3>
            {{ form_start(form, {'attr': {'class': 'complete-form'}}) }}
            {{ form_errors(form) }}
            <div class="row group">
                {{ form_widget(form.name, { attr: { class: 'form-control', value: address.name,  placeholder: 'Nom de l\'adresse (bureau, domicile...) ' } }) }}
            </div>
            <div class="row group">
                {{ form_widget(form.street, { attr: { class: 'form-control', value: address.street, placeholder: 'Adresse' } }) }}
            </div>
            <div class="row">
                <div class="group col-xs-6 col-md-3 no-padding">
                    {{ form_widget(form.building, { attr: { class: 'form-control', value: address.building, placeholder: 'Bâtiment' } }) }}
                </div>
                <div class="group col-xs-6 col-md-3 no-padding">
                    {{ form_widget(form.staircase, { attr: { class: 'form-control', value: address.staircase, placeholder: 'Escalier' } }) }}
                </div>
                <div class="group col-xs-6 col-md-3 no-padding">
                    {{ form_widget(form.floor, { attr: { class: 'form-control', value: address.floor, placeholder: 'Etage' } }) }}
                </div>
                <div class="group col-md-3 no-padding">
                    {{ form_widget(form.elevator, { attr: { class: 'form-control', value: address.elevator, placeholder: 'Ascenceur' } }) }}
                </div>
            </div>
            <div class="row">
                <div class="group col-md-3 no-padding">
                    {{ form_widget(form.intercom, { attr: { class: 'form-control', value: address.intercom, placeholder: 'Interphone' } }) }}
                </div>
                <div class="group col-md-3 no-padding">
                    {{ form_widget(form.door, { attr: { class: 'form-control', value: address.door, placeholder: 'Porte' } }) }}
                </div>
                <div class="group col-md-3 no-padding">
                    {{ form_widget(form.doorCode, { attr: { class: 'form-control', value: address.doorCode, placeholder: 'Digicode 1' } }) }}
                </div>
                <div class="group col-md-3 no-padding">
                    {{ form_widget(form.secondDoorCode, { attr: { class: 'form-control', value: address.secondDoorCode, placeholder: 'Digicode 2' } }) }}
                </div>
            </div>
            <div class="row group">
                {{ form_widget(form.comment, { attr: { class: 'form-control', value: address.comment, placeholder: 'Instructions pour la livraison (ne pas sonner, chez, etc...)' } }) }}
            </div>
            <div class="row group">
                {{ form_widget(form.zip, { attr: { class: 'form-control', value: address.zip, placeholder: 'Code postal' } }) }}
            </div>
            <div class="row group">
                {{ form_widget(form.city, { attr: { class: 'form-control', value: address.city, placeholder: 'Ville' } }) }}
            </div>

            <button type="submit" class="btn btn-red btn-lg">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
{% block footerClass %}relative background-black-matsuri{% endblock %}
{% block upperFooterClass %}background-black-matsuri{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var $searchInput = $('#bagelstein_user_address_homeAddress_street');
        var autocomplete = new google.maps.places.Autocomplete($searchInput.get(0));
        var $searchInput2 = $('#bagelstein_user_address_jobAddress_street');
        var autocomplete2 = new google.maps.places.Autocomplete($searchInput2.get(0));
    </script>
{% endblock %}
