{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
    {% include 'ClabWhiteBundle:Navs:nav2.html.twig' with { user:app.user} %}
{% endblock %}
{% block body %}
    <section class="container profile favorites col-md-8 offset-1 padding-top-container-profile " id="mobile_container_profile">
        <div class="field col-md-8 col-md-offset-2 text-center">
            <h3>Vos favoris</h3>
        </div>
        <section class="products col-md-10 col-md-offset-1">
            <div class="field text-center">
                <ul class="row">
                    {% for product in products %}
                    <li class="product col-lg-6">
                        <div class="item">
                            <div class="product-header" data-background="{{ product.coverSmall }}">
                            </div>
                            <div class="product-footer">
                                <p>{{ product.name }}</p>
                                <div class="row infos">
                                    {% if product.extraFields %}
                                        {% if  product.extraFields['regime'] is not empty %}
                                            <div class="col-lg-4 col-md-4 col-sm-12 info first">
                                                {% for regime in product.extraFields['regime'] %}
                                                    <p>{{ regime }}</p>
                                                {%  endfor %}
                                            </div>
                                        {% endif %}
                                        <div class="col-lg-4 col-md-4 col-sm-12 info first">
                                            {% if  product.extraFields['calories'] is not empty %}
                                                <p>{{ product.extraFields['calories'] }} kcal</p>
                                            {% endif %}
                                            {% if product.extraFields['nbpieces']  %}
                                                <p>{{ product.extraFields['nbpieces'] }} pièce {%  if product.extraFields['nbpieces'] > 1 %} s {%  endif %}</p>
                                            {% endif %}
                                        </div>
                                    {%  endif %}
                                    <div class="col-lg-4 col-md-4 col-sm-12 info price">
                                        <p>{{ product.price|number_format(2, '.', ',') }}</p>
                                    </div>
                                </div>
                                <div class="element-item">
                                    <a class="add-list btn btn-primary" id="update-product-favorite" data-add="false" data-slug="{{ product.slug }}">Retirer</a>
                                </div>
                            </div>
                        </div>
                            {% if product.additionalSale is defined and product.additionalSale is not null and product.additionalSale.isOnline %}
                                {{ render(controller('ClabWhiteBundle:AdditionalSale:additionalSaleProduct', { 'slug': product.slug })) }}
                            {% endif %}
                        {% endfor %}
                </ul>
             </div>
        </section>
    </section>
{% endblock %}
{% block footerClass %}relative background-black-matsuri{% endblock %}
{% block upperFooterClass %}background-black-matsuri{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        // -------------FAVORITES
        $('a#update-product-favorite').click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            let currentGroupCategory = $('.category-group-filter.actived').data('target-group-category');;

            let slug = $(this).data('slug');
            let add = $(this).data('add');

            let url = "{{ path('clab_cart_update_favorite_product',{add: 'ADD', slug: 'SLUG', origin:'ORIGIN'}) }}"
                    .replace('SLUG', slug)
                    .replace('ORIGIN', 'user')
                    .replace('ADD', add);

            $.ajax({
                type : 'POST',
                url  : url
            }).done(function (response) {
                console.log(response);
            });

            if(add == true) {
                $(this).addClass('actived');
                $(this).data('add', 0);
                $(this).parent().parent().parent().data('favorite', 1)
            } else if(add == false) {
                $(this).removeClass('actived');
                $(this).data('add', 1);
                $(this).parent().parent().parent().data('favorite', 0)
                if(currentGroupCategory == 'Favoris') {
                    filterFavorites();
                }
            }
        });
    </script>
{% endblock %}