{% extends 'ClabWhiteBundle::base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{%- block footerClass -%}
{% endblock %}
{% block upperFooterClass %}relative background-black-matsuri{% endblock %}
{% block nav %}
    {{ parent() }}
    {% include 'ClabWhiteBundle:Navs:nav2.html.twig' with { user:app.user} %}
{% endblock %}
{% block body %}
    <section class="container profile padding-top-container-profile " id="mobile_container_profile">
        <div class="field col-md-8  col-md-offset-2 text-center">
            <h3>Détails de vos primes</h3>
            {% if loyalties | length > 0 %}
                {% for loyalty in loyalties %}
                    {% if date(loyalty.validUntil) > date()  and  loyalty.isUsed != 1 %}
                        <div class="group">
                            <div  tabindex="0" class="dropdown col-md-10 col-md-offset-1 padding-all-2-5 text-left padding-bottom-10">
                                <h4>{% if loyalty.orderType != null  %}Prime de bienvenue {% else %}Prime de Fidélité {%  endif %} <i class="fa fa-chevron-right" aria-hidden="true"></i></h4>
                                <div class="dropdown-content">
                                    <div class="item padding-v-25">
                                        <div class="col-md-2 color-grey-4">Montant</div>
                                        <div class="col-md-10 color-grey-4">{{ loyalty.value }}</div>
                                    </div>
                                    <div class="item padding-v-25">
                                        <div class="col-md-2 color-grey-4">Utilisation</div>
                                        <div class="col-md-10 color-grey-4">{% if loyalty.orderType != null  %}{% if  loyalty.orderType == 0 %}{% elseif loyalty.orderType == 1 %}À Emporter{% elseif loyalty.orderType == 3 %}Livraison{% elseif loyalty.orderType == 4 %}En magasin{% endif %}{%  else %}Tout type de commande{% endif %}</div>
                                    </div>
                                    <div class="item padding-v-25">
                                        <div class="col-md-2 color-grey-4">Cumul</div>
                                        <div class="col-md-10 color-grey-4">{%  if loyalty.isCombinable %}Cumulable{% else %}Non-cumulable{% endif %}</div>
                                    </div>
                                    <div class="item padding-v-25">
                                        <div class="col-md-2 color-grey-4">Expiration</div>
                                        <div class="col-md-10 color-grey-4">{% if loyalty.validUntil <= "now"|date_modify("+1 weeks") %}<span class="color-red-matsuri" data-toggle="tooltip" title="{{ loyalty.validUntil |date('d/m/Y') }}"> Bientôt expirée</span>{% else %}{{ loyalty.validUntil |date('d/m/Y') }}{% endif %}</div>
                                    </div>
                                    <div class="item padding-v-25">
                                        <div class="col-md-2 color-grey-4">Minimum requis</div>
                                        <div class="col-md-10 color-grey-4">{{ loyalty.minimumOrder }}€</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                Aucune prime.
            {% endif %}
        </div>
        {#<div class="field col-md-8  col-md-offset-2 text-center">
            <h3>Détails de vos avoirs</h3>
            <div class="group">
                <div  tabindex="0" class="dropdown col-md-10 col-md-offset-1 padding-all-2-5 text-left padding-bottom-10">
                    <h4>Avoirs<i class="fa fa-chevron-right" aria-hidden="true"></i></h4>
                    <div class="dropdown-content">
                        <div class="item padding-v-25">
                            <div class="col-md-2 color-grey-4">Montant</div>
                            <div class="col-md-10 color-grey-4">10 euros</div>
                        </div>
                        <div class="item padding-v-25">
                            <div class="col-md-2 color-grey-4">Utilisation</div>
                            <div class="col-md-10 color-grey-4">Livraison à domicile</div>
                            </div>
                            <div class="item padding-v-25">
                                <div class="col-md-2 color-grey-4">Cumul</div>
                                <div class="col-md-10 color-grey-4">Non cumulable</div>
                            </div>
                            <div class="item padding-v-25">
                                <div class="col-md-2 color-grey-4">Expiration</div>
                                <div class="col-md-10 color-grey-4">25/10/2016</div>
                            </div>
                            <div class="item padding-v-25">
                                <div class="col-md-2 color-grey-4">Minimum requis</div>
                                <div class="col-md-10 color-grey-4">45,00 €</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>#}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
