<div class="modal fade" tabindex="-1" role="dialog" id="modalOption-{{ product.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="popup-wrap">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" style="color:white;">{{ product.name }}</h3>
                </div>
                <div class="holder" style="width: 90%;margin-left: 3em;">
                    <div class="options-form-container" data-id="{{ product.id }}" style="text-align: left;">
                        {{ form_start(form, { action: path('clab_call_center_product_option_form', { slug: product.slug, token: token,slot: slot}), name: product.id }) }}
                        {% for child in form.children %}
                            <div class="child-option-container">
                                <div class="row">
                                    <h4 class="col-md-12"
                                        style="text-transform: uppercase;font-size: 16px;">  {{ child.vars['label'] }}{% if child.vars.attr is not empty %}{% if
                                        child.vars.required == false %}(OPTIONNEL){% endif %}{% endif %}</h4>
                                </div>
                                <div class="row">
                                    <h4 class="col-md-4 errors_option"
                                        style="text-transform: uppercase;font-size: 14px;"></h4>
                                </div>

                                {% if child.vars.attr is not empty %}
                                    {% if child.vars.attr.min is null and child.vars.attr.max is not null %}
                                        <p style="font-size: 12px;"> Vous pouvez choisir
                                            jusqu'à {{ child.vars.attr.max }}
                                            ingrédients</p>
                                    {% elseif child.vars.attr.max is null and child.vars.attr.min is not null %}
                                        <p style="font-size: 12px;"> Vous devez choisir au
                                            moins {{ child.vars.attr.min }}
                                            ingrédients </p>
                                    {% elseif child.vars.attr.max is not null and child.vars.attr.min is not null %}
                                        <p style="font-size: 12px;"> Vous pouvez choisir entre {{ child.vars.attr.min }}
                                            et {{ child.vars.attr.max }}
                                            ingrédients</p>
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                                {% endif %}
                                <hr style="margin-top:0px;margin-bottom:0px;" />
                                <div class="hold height option_group">
                                    <div class="row">
                                        {% for value in child.children %}
                                            <div class="col-md-4" style="margin-top:2%;">
                                                <label>
                                                    {% if value.vars.value is not empty and value.parent.vars.choices[value.vars.value].data.price > 0%}
                                                        {{ form_widget(value,{ 'attr': {'price':product.price,'min':child.vars.attr.min,'max':child.vars.attr.max ,'sup':value.parent.vars.choices[value.vars.value].data.price} }) }}
                                                    {% else %}
                                                        {{ form_widget(value,{ 'attr': {'price':product.price,'min':child.vars.attr.min,'max':child.vars.attr.max} }) }}
                                                    {% endif %}
                                                    <small class="option_order_label"
                                                           style="font-weight: 400;letter-spacing: 1px;">{{ value.vars['label'] }}

                                                        {% if value.vars.value is not empty %}
                                                            {% if value.parent.vars.choices[value.vars.value].data.price > 0 %}(+{{ value.parent.vars.choices[value.vars.value].data.price|number_format(2, '.', ',') }} €)
                                                            {% endif %}
                                                        {% endif %}
                                                    </small>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <br/>
                            </div>
                        {% endfor %}
                        {{ form_rest(form) }}
                        <div style="display: inline-flex;margin-bottom: 2em;margin-left: 11em;">
                            <a href="#"
                               class="btn btn-inverse"
                               data-dismiss="modal"
                               aria-label="Close"
                               style="width: 6em;">Annuler</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary submit_option"
                                    id="submit">Ajouter
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>