<div class="modal fade sauceModal" tabindex="-1" role="dialog" id="sauceModal">
    <div class="modal-content col-sm-8 col-sm-offset-2">
        <div class="no-padding">
            <div class="modal-header row">
                <button type="button" class="close col-sm-2 col-sm-offset-5 background-transparent border-transparent" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <h4 class="modal-title" >Sélectionnez les assaisonnements supplémentaires</h4>

            <div class="modal-body text-center">
                {{ form_start(form, {'attr': {'id': 'sauce-form'}, 'action': path('clab_call_center_cart_update_sauces', {slug:slug})}) }}
                <section  class="form-field col-sm-12 no-padding">
                    <div class="col-sm-12 margin-v-15 delivery-infos no-padding line-height-30">
                        <div class="col-sm-3 sauce-info">
                            <div class="col-sm-12">
                                {{ form_widget(form.sugarySoja, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.freeSugarySoja, {'attr': {'class': 'form-control free'}}) }}
                                <h5 class="text-center">Sauce soja sucrée</h5>
                                <img class="col-sm-12" src="{{ asset('files/blank.png') }}">
                                <div id="sugar" class="collapse in col-sm-12 no-padding list-group overflow-h">
                                    {% if freeSauces > 0 %}
                                        {% for i in 0..freeSauces %}
                                            {% if freeSauces <= 6 %}
                                                <a href="#" class="list-group-item sauce free {% if i == cart.freeSugarySoja and 0 == cart.sugarySoja %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri">{{ i }}</span></a>
                                            {%endif %}
                                        {% endfor %}
                                        {% for j in (freeSauces+1)..6 %}
                                            <a href="#" class="list-group-item sauce {% if j-freeSauces == cart.sugarySoja %}active{% endif %}" value="{{ j - freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ sugarySojaPrice * loop.index|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for j in 0..6 %}
                                            <a href="#" class="list-group-item sauce {% if j-freeSauces == cart.sugarySoja %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ sugarySojaPrice * j|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a data-toggle="collapse" data-target="#sugar" class="col-sm-12 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-3 sauce-info">
                            <div class="col-sm-12">
                                {{ form_widget(form.saltySoja, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.freeSaltySoja, {'attr': {'class': 'form-control free'}}) }}
                                <h5 class="text-center">Sauce soja salée</h5>
                                <img class="col-sm-12" src="{{ asset('files/blank.png') }}">
                                <div id="salt" class="collapse in col-sm-12 no-padding list-group overflow-h">
                                    {% if freeSauces > 0 %}
                                        {% for i in 0..freeSauces %}
                                            {% if freeSauces <= 6 %}
                                                <a href="#" class="list-group-item sauce free {% if i == cart.freeSaltySoja and 0 == cart.saltySoja %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% for j in (freeSauces+1)..6 %}
                                            <a href="#" class="list-group-item sauce {% if j-freeSauces == cart.saltySoja %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ saltySojaPrice * loop.index|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for j in 0..6 %}
                                            <a href="#" class="list-group-item sauce {% if j-freeSauces == cart.saltySoja %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ saltySojaPrice * j|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a data-toggle="collapse" data-target="#salt" class="col-sm-12 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-3 sauce-info">
                            <div class="col-sm-12">
                                {{ form_widget(form.ginger, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.freeGinger, {'attr': {'class': 'form-control free'}}) }}
                                <h5 class="text-center">Gingembre</h5>
                                <img class="col-sm-12" src="{{ asset('files/blank.png') }}">
                                <div id="ginger" class="collapse in col-sm-12 no-padding list-group overflow-h">
                                    {% if freeSauces > 0 %}
                                        {% for i in 0..freeSauces %}
                                            {% if freeSauces <= 6 %}
                                                <a href="#" class="list-group-item ginger free {% if i == cart.freeGinger and 0 == cart.ginger %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% for j in (freeSauces+1)..6 %}
                                            <a href="#" class="list-group-item ginger {% if j-freeSauces == cart.ginger %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ gingerPrice * loop.index|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for j in 0..6 %}
                                            <a href="#" class="list-group-item ginger {% if j-freeSauces == cart.ginger %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ gingerPrice * j|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a data-toggle="collapse" data-target="#ginger" class="col-sm-12 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-3 sauce-info">
                            <div class="col-sm-12">
                                {{ form_widget(form.wasabi, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.freeWasabi, {'attr': {'class': 'form-control free'}}) }}
                                <h5 class="text-center">Wasabi</h5>
                                <img class="col-sm-12" src="{{ asset('files/blank.png') }}">
                                <div id="wasabi" class="collapse in col-sm-12 no-padding list-group overflow-h">
                                    {% if freeSauces > 0 %}
                                        {% for i in 0..freeSauces %}
                                            {% if freeSauces <= 6 %}
                                                <a href="#" class="list-group-item wasabi free {% if i == cart.freeWasabi and 0 == cart.wasabi  %}active{% endif %}" value="{{ i }}"><span class="color-red-matsuri">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% for j in (freeSauces+1)..6 %}
                                            <a href="#" class="list-group-item wasabi {% if j-freeSauces == cart.wasabi %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ wasabiPrice * loop.index|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for j in 0..6 %}
                                            <a href="#" class="list-group-item wasabi {% if j-freeSauces == cart.wasabi %}active{% endif %}" value="{{ j -freeSauces }}"><span class="color-red-matsuri">{{ j }}</span> {{ wasabiPrice * j|number_format(2) }} &euro; </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a data-toggle="collapse" data-target="#wasabi" class="col-sm-12 background-transparent border-transparent"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 background-grey-5">
                        <h4 class="text-center padding-v-15">
                            {% if freeSauces > 0 %}
                                {{ freeSauces }} sauces gratuites maximum
                            {% else %}
                                Veuillez choisir vos assaisonnements supplémentaires
                            {% endif %}
                        </h4>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-red btn-lg margin-v-15 col-sm-4 col-sm-offset-4">Ajouter</button>
                    </div>
                </section>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>