<form method="post" action="{{ path('board_review_edit', { contextPk: contextPk, id: review.id }) }}" novalidation
      novalidate class="ajax-form watch" data-callback="#reviewList" data-changed="0">
    <div class="drawer-scroll">
        <div class="row">
            <div class="col-md-6 form-group">
                <h4>Date</h4>
                <div class="big-label">
                    {{ review.created|date('d/m/Y') }}
                </div>
            </div>
            <div class="col-md-6 form-group">
                <h4>Auteur</h4>
                <div class="big-label">
                    {% if review.profile is not null %}
                    {% if review.profile.firstName is not null %}
                    {{ review.profile.firstName }}
                        {% else %}
                        Anonyme
                    {% endif %}
                        {% else %}
                            Anonyme
                    {% endif %}
                </div>
            </div>
        </div>
        {% if review.title is not null %}
        <div class="row">
            <div class="col-md-12 form-group">
                <h4>Titre</h4>
                <div class="big-label">
                    {{ review.title }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 form-group">
                <h4>Commentaire</h4>
                <div class="big-label">
                    {{ review.body }}
                </div>
            </div>
        </div>
        {% if review.response is null %}
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="big-label">
                {{ form_row(form.response, { attr: { class: 'form-control' } }) }}
            </div>
            </div>
            {{ form_rest(form) }}
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 form-group">
                    <h4>Votre réponse</h4>
                    <div class="big-label">
                     {{ review.response|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>


    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { viewLink: path('board_review_view', { contextPk: contextPk, id: review.id })} %}
</form>

<script type="text/javascript">
    $( document ).ready(function() {


        $('.everytime').on('ifChecked', function (event) {
            $('.availabilities').hide();
            $('.availabilities-hint').show();
        });

        $('.everytime').on('ifUnchecked', function (event) {
            $('.availabilities').show();
            $('.availabilities-hint').hide();
        });
    });
</script>
