{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block bodyClass %}singlenav no-padding{% endblock %}
{% block body %}
<div class="container-fluid" id="dashboard-header">
    <div class="container">
         <div class="row">
            <div class="col-md-8">
                <img src="{{ proxy.cover }}" id="galleryCover" class="img-responsive">
                <h2>{{ proxy.name }}</h2>
            </div>
            <div class="col-md-4">
                {% if percent == 100 %}
                    <br>
                    <form method="post" action="{{ path('board_go_online', { contextPk: contextPk }) }}">
                        <button class="btn btn-primary btn-block">Passer en ligne<i class="fa fa-arrow-circle-right icon-right"></i></button>
                        {#<p><small>En continuant, j'accepte les <a href="{{ path('board_subscription_terms', { contextPk: proxy.slug }) }}" data-target="ajaxModal">Conditions Générales d'Utilisation et de Vente de la Plateforme</a></small></p>#}
                    </form>
                {% else %}
                    <br>
                    <a class="btn btn-primary btn-block" disabled="disabled">Complétez les étapes pour passer en ligne</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container padding-v-10" id="dashboard">
    <div class="row">
        <div class="col-md-4">

            {% if order is defined and order %}
                <a class="btn btn-default btn-lg btn-block" href="{{ path('manager_switch_restaurant', { slug: proxy.slug }) }}" target="_blank"><i class="fa fa-th icon-left"></i>Gestion des commandes</a>
                <br>
            {% endif %}

            {% include 'ClabBoardBundle:Dashboard:partials/appstore.html.twig' %}

            {% include 'ClabBoardBundle:Dashboard:partials/help.html.twig' %}

        </div>

        <div class="col-md-8">
            <div class="well">
            <h3>Bienvenue {{ app.user.fullName }},<br></h3>
            <h4>
                Découvrez ci-dessous les étapes nécessaires pour votre mise en ligne. <small>Etat d'avancement ({{ percent|round }}%)</small>
            </h4>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
                    <span class="sr-only">{{ percent }}%</span>
                  </div>
                </div>
            </div>
            <section class="panel">
                <div class="panel-body">
                    <div class="list-group" id="todo">
                        <a class="list-group-item" href="{{ path('board_restaurant_profile', { contextPk: contextPk }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-profile' ~ (todo.profile ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Complétez votre profil public</h3>
                                    {% if proxy.isMobile %}
                                        <p>Renseignez l'incontournable : numéro de téléphone et e-mail du restaurant. Rendez votre profil encore plus attirant en complétant toutes les informations.</p>
                                    {% else %}
                                        <p>Renseignez l'incontournable : adresse, numéro de téléphone et e-mail du restaurant. Rendez votre profil encore plus attirant en complétant toutes les informations.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item" data-target="ajaxModal" href="{{ path('board_gallery_get', { context: context, contextPk: contextPk, entityType: 'restaurant', entityId: proxy.id }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" id="step-picture-icon" src="{{ asset('front/bundle/board/img/dashboard/icon-picture' ~ (todo.picture ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Ajoutez une photo à votre profil</h3>
                                    <p>Photo du restaurant ou logo, elle sera souvent mise en avant sur notre site et l'application Clickeat. Une photo de qualité séduira d’autant plus vos futurs clients.</p>
                                </div>
                            </div>
                        </a>
                        {% if todo.product is defined %}
                        <a href="{{ path('board_product_library', { context: context, contextPk: contextPk }) }}" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-product' ~ (todo.product ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Ajoutez votre premier produit</h3>
                                    <p>Rendez-vous dans la section « Catalogue » pour créer votre premier produit. Pour donner encore plus envie, n'hésitez pas à ajouter une photo à vos produits.</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% if todo.foodtruck is defined %}
                        <a href="{{ path('board_restaurant_planning', { contextPk: contextPk }) }}" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-foodtruck' ~ (todo.foodtruck ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Complétez le planning de vos évènements</h3>
                                    <p>Ajoutez au moins un évènement à votre planning TTTruck. Vous pouvez distinguer les évènements récurrents des ponctuels !</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% if todo.foodtruckMail is defined %}
                        <a href="{{ path('board_settings_order_mail', { contextPk: contextPk, backUrl: url('board_dashboard', { context: context, contextPk: contextPk })|url_encode }) }}" data-target="ajaxModal" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-envelope' ~ (todo.foodtruckMail ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Ajoutez une adresse mail pour certifier votre emplacement</h3>
                                    <p>Afin d'être notifié pour certifier votre emplacement, indiquez une ou plusieurs adresses mails.</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        <a class="list-group-item" href="{{ path('board_restaurant_planning', { contextPk: contextPk }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    {% if todo.preorder is null %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-preorder-disabled.png') }}">
                                    {% elseif todo.preorder == false %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-preorder.png') }}">
                                    {% else %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-preorder-check.png') }}">
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    {% if todo.preorder is null %}
                                        <h3 class="media-heading text-muted">Commande en ligne désactivée</h3>
                                            <p class="text-muted">Cliquez pour découvrir et activer la commande en ligne.</p>
                                    {% else %}
                                        <h3 class="media-heading">Configurer la commande en ligne à emporter</h3>
                                        <p>Ajouter les horaires que vous souhaitez pour le retrait des commandes ainsi que les moyens de paiement pour les transactions en ligne.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% if todo.preorder is not null %}
                            <a class="list-group-item confirmModal text-center" href="#" data-route="{{ path
                            ('board_feature_desactivate', { contextPk: contextPk, feature: 'preorder' }) }}">
                                <i class="fa fa-remove icon-left"></i>Désactiver la commande en ligne à emporter
                            </a>
                            {% elseif todo.preorder is null %}
                                <a class="list-group-item text-center" href="{{ path('board_feature_activate', { contextPk: contextPk, feature: 'preorder' }) }}">
                                    <i class="fa fa-check icon-left"></i>Activer la commande en ligne à emporter
                                </a>
                        {% endif %}

                        <a class="list-group-item" href="{{ path('board_delivery', { contextPk: contextPk }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    {% if todo.delivery is null %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-delivery-disabled.png') }}">
                                    {% elseif todo.delivery == false %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-delivery.png') }}">
                                    {% else %}
                                        <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-delivery-check.png') }}">
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    {% if todo.delivery is null %}
                                        <h3 class="media-heading text-muted">Livraison désactivée</h3>
                                        <p class="text-muted">Cliquez pour découvrir et activer la livraison.</p>
                                    {% else %}
                                        <h3 class="media-heading">Configurer la commande en ligne à livrer</h3>
                                        <p>Déterminez vos paramètres et complétez votre planning de livraison en fonction de vos livreurs.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% if todo.delivery is not null %}
                        <a class="list-group-item confirmModal text-center" href="#" data-route="{{ path('board_feature_desactivate', { contextPk: contextPk, feature: 'delivery' }) }}">
                            <i class="fa fa-remove icon-left"></i>Désactiver la commande en ligne à livrer
                        </a>
                        {% endif %}
                        {% if todo.rib is defined %}
                        <a href="{{ path('board_settings', { contextPk: contextPk, type: 'legal' }) }}#rib" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-legal' ~ (todo.rib ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Téléchargez le RIB de votre société</h3>
                                    <p>Pour que nous vous envoyions chaque lundi l'ensemble de vos recettes Clickeat de la semaine précédente.</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% if todo.ordermail is defined %}
                        <a href="{{ path('board_settings_order_mail', { contextPk: contextPk, backUrl: url('board_dashboard', { context: context, contextPk: contextPk })|url_encode }) }}" data-target="ajaxModal" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-ordermail' ~ (todo.ordermail ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Ajoutez une adresse mail pour la réception des commandes</h3>
                                    <p>Afin d'être notifié dès que vous recevez une commande, indiquez une ou plusieurs adresses mails.</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% if todo.invoice is defined and todo.invoice is not null %}
                        <a class="list-group-item" href="{{ path('board_subscription_dashboard', { contextPk: contextPk }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-invoice' ~ (todo.invoice ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Payer votre première facture</h3>
                                    <p>Vous avez choisi une offre et/ou un module payant de notre solution? Réglez votre première facture pour pouvoir en bénéficier.</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        <a class="list-group-item" href="{{ path('board_settings', { contextPk: contextPk, type: 'legal' }) }}">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-legal' ~ (todo.legal ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Complétez vos informations légales</h3>
                                    <p>Renseignez toutes les informations nécessaires sur votre société et son représentant.</p>
                                </div>
                            </div>
                        </a>
                        {#
                        <a class="list-group-item" href="">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <img class="media-object" src="{{ asset('front/bundle/board/img/dashboard/icon-terms' ~ (todo.terms ? '-check' : '') ~ '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Signez le contrat en ligne</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </a>
                        #}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).bind('restaurant_gallery.new_cover', function() {
    $('#step-picture-icon').attr('src', '{{ asset('front/bundle/board/img/dashboard/icon-picture-check.png') }}');
});
</script>
{% endblock %}
